<app-inner-header
        [buttonBack]="true"
        (onButtonBack)="goBack()"
        [buttonSave]="true"
        [buttonSaveDisabled]="isSaving"
        (onButtonSave)="save()"
        [customButton]="true"
        [customButtonList]="[{name:'Show JSON',icon:'bug_report',disabled:false}]"
        (onCustomButton)="showJSON()">
    <div class="header-labels">
        <label>Menu </label>
        <label class="component-color-package colorized">{{packageName}}</label>
        <label class="separator">\</label>
        <label class="component-color-menu colorized">{{menuName}}</label>
    </div> 

</app-inner-header>
<div class="object-info">
    <mat-form-field class="input-label">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="object.name">
    </mat-form-field>
    <editor-access style="display : inline-block; margin-left: 40px;"
            [obj]="object.access"
            [groups]="groups">
    </editor-access>
</div>
<div class="gridholder">
    <mat-grid-list cols="4" rowHeight="100%">
        <mat-grid-tile>
            <div class="margin">
                <div class="button-holder">
                    <button color="primary" mat-button (click)="newItem()"><mat-icon>add</mat-icon> New item</button>
                </div>
                <div class="scroll-y">
                    <div class="border-holder">
                        <div class="item-pretty-holder"
                                cdkDropList
                                [cdkDropListData]="object.layout.items"
                                (cdkDropListDropped)="drop($event)">
                            <app-item-editor
                                    *ngFor="let item of object.layout.items; index as i"
                                    cdkDrag
                                    [item]="item"
                                    [selectedItem]="selectedItem"
                                    (select)="select($event)"
                                    (deleteMe)="deleteItem(i)">
                            </app-item-editor>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <div class="right-pane-loader" *ngIf="isRightPaneLoading && selectedItem">
                <mat-spinner diameter="42"></mat-spinner>
            </div>
            <div *ngIf="!selectedItem">Please select an item to view its details.</div>

            <div class="margin-paddin" *ngIf="selectedItem && !isRightPaneLoading">
                <mat-form-field class="input-id">
                    <mat-label>Id</mat-label>
                    <input matInput [(ngModel)]="selectedItem.id" appFocusableField="field-{{selectedItem.id}}-id">
                </mat-form-field>
                <mat-form-field class="input-label">
                    <mat-label>Label</mat-label>
                    <input matInput [(ngModel)]="selectedItem.label" appFocusableField="field-{{selectedItem.id}}-label">
                </mat-form-field>
                <mat-form-field class="input-icon">
                    <mat-label>Icon</mat-label>
                    <input matInput [(ngModel)]="selectedItem.icon" appFocusableField="field-{{selectedItem.id}}-icon">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select [(value)]="selectedItem.type" appFocusableField="field-{{selectedItem.id}}-type">
                        <mat-option *ngFor="let type of menuItem.availableTypes" [value]="type">{{type}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="input-description">
                    <mat-label>Description</mat-label>
                    <input matInput [(ngModel)]="selectedItem.description" appFocusableField="field-{{selectedItem.id}}-description">
                </mat-form-field>
                <mat-form-field style="width: 25em;">
                    <mat-label>Route</mat-label>
                    <input matInput [(ngModel)]="selectedItem.route" appFocusableField="field-{{selectedItem.id}}-route">
                </mat-form-field>

                <div *ngIf="['entry'].includes(selectedItem.type)">
                    <mat-divider></mat-divider>
                    <label>Context </label>
                    <autocomplete-multi
                            class="input-entity"
                            name="entity"
                            width="25em"
                            [value]="selectedItem.context.entity"
                            (valueChange)="changeContextEntity($event)"
                            [values]="entities">
                    </autocomplete-multi>
                    <autocomplete
                            name="view"
                            width="15em"
                            [value]="selectedItem.context.view"
                            (valueChange)="selectedItem.context.view = $event"
                            [values]="viewList">
                    </autocomplete>

                    <mat-grid-list cols="5" rowHeight="3em" class="padded-checkboxes">
                        <mat-grid-tile>
                            <div class="checkbox-holder">
                                <mat-checkbox [checked]="selectedItem.context._hasSort" (change)="selectedItem.context._hasSort = $event.checked">Sort</mat-checkbox>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="checkbox-holder">
                                <mat-checkbox [checked]="selectedItem.context._hasOrder" (change)="selectedItem.context._hasOrder = $event.checked">Order</mat-checkbox>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div class="checkbox-holder">
                                <mat-checkbox [checked]="selectedItem.context._hasDomain" (change)="selectedItem.context._hasDomain = $event.checked">Domain</mat-checkbox>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <div>
                        <mat-form-field>
                            <mat-label>purpose</mat-label>
                            <mat-select [value]="selectedItem.context.purpose" appFocusableField="field-{{selectedItem.id}}-purpose">
                                <mat-option *ngFor="let purpose of menuContext.PossiblePurpose" value="purpose">
                                    {{purpose}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Display mode</mat-label>
                            <mat-select [value]="selectedItem.context.displayMode" appFocusableField="field-{{selectedItem.id}}-display_mode">
                                <mat-option *ngFor="let purpose of menuContext.PossibleDisplayMode" value="purpose">
                                    {{purpose}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="selectedItem.context._hasSort">
                        <mat-form-field>
                            <mat-label>Sort</mat-label>
                            <mat-select [value]="selectedItem.context.sort" appFocusableField="field-{{selectedItem.id}}-sort">
                                <mat-option value="asc">
                                    asc
                                </mat-option>
                                <mat-option value="desc">
                                    desc
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="selectedItem.context._hasOrder">
                        <autocomplete
                            [value]="selectedItem.context.order"
                            [values]="entityFields"
                            name="Order"
                        ></autocomplete>
                    </div>
                    <div class="domain-holder" *ngIf="selectedItem.context._hasDomain">
                        <app-property-domain-component
                            [(value)]="selectedItem.context.domain"
                            [class]="selectedItem.context.entity">
                        </app-property-domain-component>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>