<app-inner-header
        [buttonBack]="true"
        (onButtonBack)="goBack()"
        [buttonSave]="true"
        [buttonSaveDisabled]="isSaving"
        (onButtonSave)="save()"
        [customButton]="true"
        [customButtonList]="[{name:'Show JSON',icon:'bug_report',disabled:false}]"
        (onCustomButton)="showJSON()">
    <div class="header-labels">
        <label>Menu </label>
        <label class="component-color-package colorized">{{packageName}}</label>
        <label class="separator">\</label>
        <label class="component-color-menu colorized">{{menuName}}</label>
    </div> 

</app-inner-header>
<div class="object-info">
    <mat-form-field class="input-label">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="object.name">
    </mat-form-field>
    <editor-access class="access-editor"
            [obj]="object.access"
            [groups]="groups">
    </editor-access>
</div>
<div class="gridholder">
    <mat-grid-list cols="4" rowHeight="100%">
        <mat-grid-tile>
            <div class="margin">
                <div class="button-holder">
                    <button color="primary" mat-button (click)="newItem()"><mat-icon>add</mat-icon> New item</button>
                </div>
                <div class="scroll-y">
                    <div class="border-holder">
                        <div class="item-pretty-holder"
                                cdkDropList
                                [cdkDropListData]="object.layout.items"
                                (cdkDropListDropped)="drop($event)">
                            <app-item-editor
                                    *ngFor="let item of object.layout.items; index as i"
                                    cdkDrag
                                    [item]="item"
                                    [selectedItem]="selectedItem"
                                    (select)="select($event)"
                                    (deleteMe)="deleteItem(i)">
                            </app-item-editor>
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <div class="right-pane-loader" *ngIf="isRightPaneLoading && selectedItem">
                <mat-spinner diameter="42"></mat-spinner>
            </div>
            <div class="empty-selection" *ngIf="!selectedItem"> </div>

            <div class="margin-paddin details-pane" *ngIf="selectedItem && !isRightPaneLoading">
                <div class="pane-section">
                    <label class="section-label">Item details</label>
                    <div class="fields-grid fields-grid-4">
                        <mat-form-field class="field-item">
                            <mat-label>Id</mat-label>
                            <input matInput [(ngModel)]="selectedItem.id" appFocusableField="{{selectedItem.id}}-id">
                        </mat-form-field>
                        <mat-form-field class="field-item">
                            <mat-label>Label</mat-label>
                            <input matInput [(ngModel)]="selectedItem.label" appFocusableField="{{selectedItem.id}}-label">
                        </mat-form-field>
                        <mat-form-field class="field-item">
                            <mat-label>Icon</mat-label>
                            <input matInput [(ngModel)]="selectedItem.icon" appFocusableField="{{selectedItem.id}}-icon">
                        </mat-form-field>
                        <mat-form-field class="field-item">
                            <mat-label>Type</mat-label>
                            <mat-select [(value)]="selectedItem.type" appFocusableField="{{selectedItem.id}}-type">
                                <mat-option *ngFor="let type of menuItem.availableTypes" [value]="type">{{type}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="fields-grid fields-grid-2">
                        <mat-form-field class="field-item field-span-2">
                            <mat-label>Description</mat-label>
                            <input matInput [(ngModel)]="selectedItem.description" appFocusableField="{{selectedItem.id}}-description">
                        </mat-form-field>
                        <mat-form-field class="field-item field-span-2">
                            <mat-label>Route</mat-label>
                            <input matInput [(ngModel)]="selectedItem.route" appFocusableField="{{selectedItem.id}}-route">
                        </mat-form-field>
                    </div>
                </div>

                <div class="entry-context pane-section" *ngIf="['entry'].includes(selectedItem.type)">
                    <mat-divider></mat-divider>
                    <label class="section-label">Context</label>

                    <div class="fields-grid fields-grid-2 context-entity-grid">
                        <div class="field-item field-span-2">
                            <autocomplete-multi
                                    class="input-entity"
                                    name="entity"
                                    width="100%"
                                    [value]="selectedItem.context.entity"
                                    (valueChange)="changeContextEntity($event)"
                                    [values]="entities">
                            </autocomplete-multi>
                        </div>
                        <div class="field-item field-span-2">
                            <autocomplete
                                    name="view"
                                    width="100%"
                                    [value]="selectedItem.context.view"
                                    (valueChange)="selectedItem.context.view = $event"
                                    [values]="viewList">
                            </autocomplete>
                        </div>
                    </div>

                    <div class="context-switches">
                        <mat-checkbox [checked]="selectedItem.context._hasSort" (change)="selectedItem.context._hasSort = $event.checked">Sort</mat-checkbox>
                        <mat-checkbox [checked]="selectedItem.context._hasOrder" (change)="selectedItem.context._hasOrder = $event.checked">Order</mat-checkbox>
                        <mat-checkbox [checked]="selectedItem.context._hasDomain" (change)="selectedItem.context._hasDomain = $event.checked">Domain</mat-checkbox>
                    </div>

                    <div class="fields-grid fields-grid-2 context-options">
                        <mat-form-field class="field-item">
                            <mat-label>Purpose</mat-label>
                            <mat-select [value]="selectedItem.context.purpose" appFocusableField="{{selectedItem.id}}-purpose">
                                <mat-option *ngFor="let purpose of menuContext.PossiblePurpose" value="purpose">
                                    {{purpose}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="field-item">
                            <mat-label>Display mode</mat-label>
                            <mat-select [value]="selectedItem.context.displayMode" appFocusableField="{{selectedItem.id}}-display_mode">
                                <mat-option *ngFor="let purpose of menuContext.PossibleDisplayMode" value="purpose">
                                    {{purpose}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="sort-row" *ngIf="selectedItem.context._hasSort">
                        <mat-form-field class="field-item">
                            <mat-label>Sort</mat-label>
                            <mat-select [value]="selectedItem.context.sort" appFocusableField="{{selectedItem.id}}-sort">
                                <mat-option value="asc">
                                    asc
                                </mat-option>
                                <mat-option value="desc">
                                    desc
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="order-row" *ngIf="selectedItem.context._hasOrder">
                        <autocomplete
                            width="100%"
                            [value]="selectedItem.context.order"
                            [values]="entityFields"
                            name="Order"
                        ></autocomplete>
                    </div>
                    <div class="domain-holder" *ngIf="selectedItem.context._hasDomain">
                        <app-property-domain-component
                            [(value)]="selectedItem.context.domain"
                            [class]="selectedItem.context.entity">
                        </app-property-domain-component>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>