<app-in-header [buttonBack]="true" (onButtonBack)="goBack()" [buttonLoad]="true" (onButtonLoad)="load()"
    [buttonNew]="true" (onButtonNew)="newFile()" [buttonSave]="true" (onButtonSave)="save()" [buttonCancel]="true"
    (onButtonCancel)="reset()">
    <label>Pipeline editor</label>
</app-in-header>
<div class="mode-container">
    <button mat-flat-button (click)="setState('view')" [class.mode-selected]="['view'].includes(this.state)">
        <mat-icon>preview</mat-icon>
        <label class="spaceleft">View</label>
    </button>
    <button mat-flat-button (click)="setState('add-controller')"
        [class.mode-selected]="['add-controller'].includes(this.state)">
        <mat-icon>control_point</mat-icon>
        <label class="spaceleft">Add controller</label>
    </button>
</div>
<div class="holder">
    <mat-grid-list cols="12" rowHeight="82%" gutterSize="10px">
        <mat-grid-tile [colspan]="sizeViewer" class="sizeanim">
            <app-pipeline-displayer>
            </app-pipeline-displayer>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="sizeEditor > 0" [colspan]="sizeEditor" class="sizeanim">
            <app-properties-editor [state]="state" (addNode)="addNode($event)">
            </app-properties-editor>
        </mat-grid-tile>
    </mat-grid-list>
</div>