<p>Params</p>
{{data.controller}}
<div *ngIf="!data.controller">
    Please select a valid controller for this action before trying to change its parameter.
</div>
<div *ngIf="data.controller">
    <mat-checkbox [(ngModel)]="data._has_params">custom params</mat-checkbox>
    <br><br>
    <div class="scroller">
        <div *ngFor="let key of obk(struct)">
            <mat-checkbox [disabled]="!data._has_params" class="mr1em" [(ngModel)]="struct[key].enabled"></mat-checkbox>
            <mat-form-field class="field">
                <input [disabled]="!struct[key].enabled || !data._has_params" matInput placeholder="{{key}}" [value]="struct[key].disp" (change)="setContent(key,$event.target.value)">
            </mat-form-field>
        </div>
    </div>
    <div class="mt1em contentleft">
        <button mat-raised-button (click)="save()">Save</button>
        <button mat-raised-button (click)="exit()">Cancel</button>
    </div>
</div>
