<div>
    <mat-form-field class="input search-bar">
      <button matPrefix mat-icon-button>
        <mat-icon class="icon">filter_list</mat-icon>
      </button>
      <input matInput placeholder="Filter" (keyup)="onSearch($event.target.value)">
    </mat-form-field>
  </div>
  
  <div class="data-action">
    <div class="type-container">
      <div class="type-controller" (click)="dataSelected(true)">
        <mat-icon>data_array</mat-icon>Data
      </div>
      <div class="type-controller" (click)="dataSelected(false)">
        <mat-icon>open_in_browser</mat-icon>Actions
      </div>
    </div>
    <div [class.lineLeft]="data_selected" [class.lineRight]="!data_selected"></div>
  </div>
  
  <mat-list class="list scrollable">
    <mat-list-item *ngFor="let node of filteredData">
      <!-- Si le nœud est en mode édition, on compare par le nom -->
      <ng-container *ngIf="editingNode && editingNode.name === node.name; else displayMode">
        <div class="node_container">
          <mat-form-field class="editedNode">
            <div style="display: flex;">
              <input matInput [(ngModel)]="editedNode" name="editedNode">
              <!-- On affiche le bouton de validation si le nom édité diffère -->
              <button *ngIf="editedNode !== node.name" mat-icon-button aria-label="Approve editing node">
                <mat-icon matSuffix (click)="onclickNodeUpdate(node)">check_circle</mat-icon>
              </button>
            </div>
          </mat-form-field>
          <button mat-icon-button aria-label="Cancel editing node">
            <mat-icon (click)="onCancelEdit()">cancel</mat-icon>
          </button>
        </div>
      </ng-container>
      <ng-template #displayMode>
        <div class="node_container"
             [class.node-hover]="selected_node?.name !== node.name"
             [class.node-selected]="selected_node?.name === node.name">
          <div class="pointable node-text" (click)="onclickNodeSelect(node)">
            <mat-icon class="component-icon component-color-{{node.type}}">
                    {{type_dict[node.type]?.icon}}
                </mat-icon>
            {{ node.name }}
          </div>
          <div class="icons">
            <button mat-icon-button aria-label="Edit node button">
              <mat-icon (click)="onEditNode(node)">edit</mat-icon>
            </button>
            <button mat-icon-button aria-label="Delete node button">
              <mat-icon (click)="openDeleteConfirmationDialog(node)">delete</mat-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </mat-list-item>
  </mat-list>
  
  <div class="createbutton" (click)="onclickCreate()">
    <mat-icon style="margin-right: 1em;">add</mat-icon>
    <label>Create a controller</label>
  </div>
  