<app-in-header
    [buttonSave]="true"
    (onButtonSave)="save()"
    [buttonCancel]="true"
    (onButtonCancel)="reset()"
    [buttonLoad]="true"
    (onButtonLoad)="load()"
    [buttonNew]="true"
    (onButtonNew)="newFile()"
    [customButton]="true"
    [customButtonList]="[{icon:'bug_report', name:'Show JSON', disabled:false},{icon:'print',name:'Print to PDF', disabled:false}]"
    (onCustomButton)="customButtonBehavior($event)"
>
    <label>UML Entity-Relationship Diagram › {{current_filename ? current_filename.split('.').slice(0, -1).join('.') : "new file"}}</label>
</app-in-header>
<div class="holder">
    <mat-grid-list cols="12" rowHeight="100%">
        <div *ngIf="!sizeEditor" style="position: absolute; top: 10px; right: 10px; z-index: 1;">
            <button mat-mini-fab color="primary" style="scale: 0.8" (click)="changeState('create-node')"><mat-icon>add</mat-icon></button>
        </div>
        <mat-grid-tile [colspan]="sizeViewer" class="sizeanim">
            <div sidepane class="marginel">
                <app-uml-or-displayer
                    [state]="state"
                    [nodes]="nodes"
                    [links]="links"
                    [selectedNode]="selectedNode"
                    [selectedLink]="selectedLink"
                    (selectLink)="selectedLink = $event"
                    (selectNode)="selectedNode = $event;"
                    (requestState)="changeState($event)"
                    [offset]="view_offset"
                >
                </app-uml-or-displayer>
            </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="sizeEditor > 0"  [colspan]="sizeEditor" class="sizeanim">
            <app-properties-editor
                [state]="state"
                [nodes]="nodes"
                [selectedNode]="selectedNode"
                (addNode)="addNode($event)"
                (deleteNode)="deleteNode($event)"
                (needRefresh)="refresh()"
                (requestState)="changeState($event)"
            ></app-properties-editor>
        </mat-grid-tile>
    </mat-grid-list>
</div>
