@import "src/theme.scss";

:host {
}

.node {
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 8px;
    cursor: move;
    padding: 1em;

    .anchor {
        cursor: pointer;
        position:absolute;
        opacity: 0.6;
    }

    .anchor:hover {
        opacity: 1;
    }

    .bottom-button {
        bottom: 0;
        left: 50%;
        transform: scale(0.5) translate(-100%,75%) ;
    }

    .top-button {
        top: 0;
        left: 50%;
        transform: scale(0.5) translate(-100%,-75%) ;
    }

    .top-left-button {
        top: 0;
        left: 0;
        transform: scale(0.5) translate(-75%,-75%) ;
    }

    .top-right-button {
        top: 0;
        right: 0;
        transform: scale(0.5) translate(75%,-75%) ;
    }

    .bottom-left-button {
        bottom: 0;
        left: 0;
        transform: scale(0.5) translate(-75%,75%) ;
    }

    .bottom-right-button {
        bottom: 0;
        right: 0;
        transform: scale(0.5) translate(75%,75%) ;
    }

    .middle-left-button {
        top: 50%;
        left: 0;
        transform: scale(0.5) translate(-75%,-100%) ;
    }

    .middle-right-button {
        top: 50%;
        right: 0;
        transform: scale(0.5) translate(75%,-100%) ;
    }


}

.selected {
    background-color: mat-color($maincolor,A100);
}

.editbutton {
    position : absolute;
    right : 0;
    top : 0;
    transform: scale(0.8) translate(40%,-40%);

}