@import "src/theme.scss";

:host {
    height: calc(100% - 1em);
    width: calc( 100% - 1em);
}

.context-menu {
    background-color: whitesmoke;
    border-radius: 10px;
    height: calc(100%);
    width: 100%;
    padding: 1em 0em;
}

.huge-autocomplete {
    display: inline-block;
    width: calc(100% - 40px);
}

.header-node {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    label {
        display: inline-block;
        max-width: calc(90% - 114px);
        white-space: none;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.supressoverflow {
    display: inline-block;
    max-width: calc(100% - 60px);
    white-space: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chip {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 5px;
    padding-left:10px;
    min-width: 50px;
    max-width:calc(50% - 10px);
    background-color: mat-color($maincolor);
    color : white;
    label {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: none;
    }
}