<div *ngIf="current_package ===''" class="max-height max-width margin-container">
    <label class="packagename">Select package to show properties.</label>
</div>
<div *ngIf="current_package !==''" class="max-height max-width margin-container">
    <div class="flex-labels">
        <label class="packagename">Package :</label>
        <label class="packagename accent">{{ current_package }}</label>
    </div>
    <div *ngIf="!current_initialised" class="lineflex warncolor">
        <mat-icon>error</mat-icon>
        <label  class="warncolor">This package has not been initialised</label>
    </div>
    <div *ngIf="current_initialised" class="lineflex newcolor">
        <mat-icon>check_circle</mat-icon>
        <label>This package has been initialised</label>
    </div> 
</div>