<div class="searchbar">
    <mat-form-field class="input-query">
        <mat-icon matPrefix>filter_list</mat-icon>
        <input matInput placeholder="Filter" [formControl]="filterControl">
        <button *ngIf="filterControl.value && filterControl.value !== ''"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="clearFilter()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<mat-list class="list">
    <mat-list-item *ngFor="let item of filteredList; trackBy: trackByFn" class="item" [appFocusableField]="'parameters-' + item.name" (click)="onClickItem(list.indexOf(item))">
        <div class="item_display"
                [class.hover]="selectedIndex !== list.indexOf(item)"
                [class.selected]="selectedIndex === list.indexOf(item)">
            <div class="inner" (click)="onClickItem(list.indexOf(item))">
                <div class="item-text">
                    <label class="item-icon component-icon component-colored"><mat-icon>{{iconList[item.type]}}</mat-icon></label>
                    <label class="item-name">{{item.name}}</label>
                </div>
                <div class="item-actions">
                    <button mat-icon-button aria-label="Delete item button">
                        <mat-icon (click)="deleteItem(list.indexOf(item))">delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-list-item>
</mat-list>

<div class="adder" (click)="createItem()">
    <mat-icon style="margin-right: 1em;">add</mat-icon> Create new parameter
</div>