<app-inner-header
        [buttonBack]="true"
        (onButtonBack)="goBack()"
        [buttonCancel]="true"
        (onButtonCancel)="cancel()"
        [buttonSave]="!loading"
        [buttonSaveDisabled]="isSaving"
        (onButtonSave)="savedata()"
        [customButton]="!loading"
        [customButtonList]="[{name:'Show JSON', icon:'bug_report', disabled:false}]"
        (onCustomButton)="showJSON()">
    <div class="header-labels">
        <label>Fields of </label><label class="component-color-package colorized">{{packageName}}</label><label class="separator">\</label><label class="component-color-class colorized">{{className}}</label>
    </div>
</app-inner-header>
<div *ngIf="loading" style="display: flex; align-items: center; justify-content: center; flex-direction: column;" class="full">
    <mat-spinner></mat-spinner>
    <label style="font-size: 20px; margin-top: 1em;">Loading...</label>
</div>
<!-- Add a way to edit the model's name, description and link -->
<!-- Model Properties Section -->
<div class="model-properties-container">
    <div class="properties-section">
        <form class="model-properties-form">
            <mat-form-field class="name-field">
                <mat-label>Model Name</mat-label>
                <input matInput [(ngModel)]="modelName" name="modelName" placeholder="Enter model name">
            </mat-form-field>
            <mat-form-field class="name-field">
                <mat-label>Documentation Link</mat-label>
                <input matInput [(ngModel)]="modelLink" name="modelLink" placeholder="Enter documentation link URL">
            </mat-form-field>
            <mat-form-field class="description-field">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="modelDescription" name="modelDescription" placeholder="Enter model description" rows="1"></textarea>
            </mat-form-field>
        </form>
    </div>
</div>
<app-classic-layout class="adapted" *ngIf="!loading">
    <app-field-editor-list
            [list]="fieldList"
            [parentList]="parentFieldList"
            [selectedIndex]="selected_index"
            (CRUD)="onChange($event)"
            (select)="selected_index = $event">
        </app-field-editor-list>
    <app-field-editor-sp sidepane
            [inherited]="isInherited(fieldList[selected_index])"
            [field]="fieldList[selected_index]"
            [entity]="packageName + '\\' + className"
            [types]="types"
            [models]="models"
            [fields]="fieldName"
            [computedFields]="computedFields"
            [dummyScheme]="dummyScheme"
            (CRUD)="onChange($event)"
            (navToParent)="navigateToParent()">
    </app-field-editor-sp>
</app-classic-layout>