<ng-container *ngIf="!loading">
    <div class="full">
        <app-in-header
            [buttonBack]="true"
            (onButtonBack)="getBack()"
        >   
            <label class="package-label">{{entity.replaceAll("%5C","\\").split("\\",1)}}</label>
            <ng-container *ngIf="entity.replaceAll('%5C','\\').split('\\').length > 1">
                <label>\</label>
                <label class="model-label">{{entity.replaceAll("%5C","\\").split("\\").slice(1).join("\\")}}</label>
            </ng-container>
            <label>:</label>
            <label class="view-label"><mat-icon>view_quilt</mat-icon>View</label>
        </app-in-header>
        <app-classic-layout>
            <app-search-list list class="full"
                [data]="views_for_selected_package"
                [selected_node]="selected_view"
                (nodeSelect)="onclickViewSelect($event)"
                (nodeUpdate)="onupdateView($event)"
                (nodeDelete)="ondeleteView($event)"
                (nodeCreate)="oncreateView()">
            </app-search-list>
            <app-views-info sidepane class="full"
                [view_ref]="selected_view"
                (goto)="goto()"
            >
            </app-views-info>
        </app-classic-layout>
    </div>
</ng-container>
