<div *ngIf="loading" class="loader">
    <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="!loading && !controller">
    <p class="no-selection">Select a controller amongst the list to see methods and details.</p>
</ng-container>

<ng-container *ngIf="!loading && controller">
    <div class="info-view-container">
        <div class="info-header-section">
            <app-info-header
                [titleLabel]="'Controller'"
                [title]="controller.name + ' (' + controller.type.toUpperCase() + ')'"
                [copyText]="controller.name"
                [description]="announcement?.description"
                [metaData]="[]">
            </app-info-header>
            <div class="status">
                <div *ngIf="announcement?.deprecated" class="warn">
                    <mat-icon class="warnicon">info</mat-icon>
                    <label>This controller is marked as deprecated, and shouldn't be used anymore.</label>
                </div>
                <div *ngIf="announcement?.access?.visibility == 'private'" class="new">
                    <mat-icon class="warnicon">info</mat-icon>
                    <label>This controller has its visibility set to "private" or you don't have the rights to invoke it.</label>
                </div>
            </div>
        </div>
        <div class="info-body-section">
            <div class="info-section-card" *ngIf="getAccessString().length">
                <div class="info-section-header">
                    <mat-icon>lock</mat-icon>
                    <span>Access</span>
                </div>
                <div class="info-section-content">
                    <pre class="content-desc" [innerHTML]="getAccessString()"></pre>
                </div>
            </div>
            <div class="info-section-card">
                <div class="info-section-header">
                    <mat-icon>assignment</mat-icon>
                    <span>Response header</span>
                </div>
                <div class="info-section-content">
                    <pre class="content-desc" [innerHTML]="getRequestString()"></pre>
                </div>
            </div>
            <div class="info-section-card params" *ngIf="announcement?.params && obk(announcement.params).length">
                <div class="info-section-header">
                    <mat-icon>tune</mat-icon>
                    <span>Params</span>
                </div>
                <div class="info-section-content">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let param of obk(announcement.params)" class="params-mat-card">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="paneltitle">
                                        <mat-icon>{{iconType[getType(param)]}}</mat-icon>
                                        <label>{{param}} <strong *ngIf="isRequired(param)">(required)</strong></label>
                                    </div>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <label>{{getDescription(param)}}</label>
                                </mat-panel-description>
                                <div class="valuewrapper">
                                    <label class="valuedisplayer" [style.opacity]="getParamsValue(param) ? 1 : 0.6">
                                        {{getParamsValue(param) ? "value :" : "(no value)"}} {{ getType(param) !== "array" ? getParamsValue(param) : tojsonstring(getParamsValue(param))}}
                                    </label>
                                </div>
                            </mat-expansion-panel-header>
                            <div class="card-content2">
                                <type-input *ngIf="!getUsage(param).startsWith('array/domain') || !getEntity()"
                                    [type]="getType(param)"
                                    [name]="getParamName(param)"
                                    [value]="getParamsValue(param)"
                                    (changed)="updateParamsValue($event, param)">
                                </type-input>
                                <ng-container *ngIf="getUsage(param).startsWith('array/domain') && getEntity()">
                                    <app-property-domain-component
                                        [value]="getParamsValue(param)"
                                        [class]="getEntity()"
                                        (valueChange)="updateParamsValue($event, param)">
                                    </app-property-domain-component>
                                </ng-container>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="params-action-row">
                        <button mat-flat-button class="view-info-button" (click)="submit()" [disabled]="!canSubmit">
                            <mat-icon class="icon">upload</mat-icon>
                            <label>Submit action</label>
                        </button>
                    </div>
                </div>
            </div>
            <div class="info-section-card">
                <div class="info-section-header">
                    <mat-icon>terminal</mat-icon>
                    <span>CLI command</span>
                </div>
                <div class="info-section-content">
                    <div class="content-container">
                        <pre class="content-desc" [innerHTML]="cliCommand" style="padding-right: 40px;"></pre>
                        <div class="content-action">
                            <button mat-icon-button aria-label="Copy cli" title="Copy cli" (click)="cpyCLI()">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-section-card">
                <div class="info-section-header">
                    <mat-icon>link</mat-icon>
                    <span>Backend URL</span>
                </div>
                <div class="info-section-content">
                    <div class="content-container">
                        <pre class="content-desc" [innerHTML]="getBaseRoute()"></pre>
                        <div class="content-action">
                            <a mat-icon-button [href]="getBaseRoute()" target="_blank" title="Open in new tab">
                                <mat-icon>open_in_new</mat-icon>
                            </a>
                            <button mat-icon-button aria-label="Copy HTTP request" title="Copy HTTP request" (click)="cpyRequest()">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-section-card" *ngIf="obk(filtered_routes).length">
                <div class="info-section-header">
                    <mat-icon>alt_route</mat-icon>
                    <span>Live routes</span>
                </div>
                <div class="info-section-content">
                    <div *ngFor="let item of obk(filtered_routes)">
                        <a class="cr-click" [class.clickable]="moving" (click)="sendTo(item)">
                            <div *ngFor="let method of obk(filtered_routes[item]['methods'])" class="controller_cr {{method}}">
                                <div class="controller_cr_el controller_cr_method {{method}}">
                                    {{method}}
                                </div>
                                <div class="controller_cr_el controller_cr_path">
                                    {{item}}
                                </div>
                                <div class="controller_cr_el controller_cr_desc">
                                    {{filtered_routes[item]['methods'][method]['description']}}
                                </div>
                            </div>
                        </a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-footer-section">
            <mat-grid-list [cols]="3" rowHeight="5.5em" class="button-pkg-container">
                <mat-grid-tile>
                    <button mat-flat-button class="view-info-button" (click)="onclickRequestParams()">
                        <mat-icon>text_format</mat-icon>
                        <label>Request Params</label>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-flat-button class="view-info-button" (click)="onclickResponseValues()">
                        <mat-icon>reply</mat-icon>
                        <label>Response values</label>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-flat-button class="view-info-button disabled" (click)="onclickTranslations()">
                        <mat-icon>translate</mat-icon>
                        <label>Translations</label>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</ng-container>