<div *ngIf="loading" class="loader">
    <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="!loading && !model">
    <p class="no-selection">Select a class amongst the list to see methods and details.</p>
</ng-container>

<ng-container *ngIf="!loading && model">
    <div class="info-view-container">
        <app-info-header
            [titleLabel]="'Class'"
            [title]="model.name"
            [copyText]="model.package_name + '\\' + model.name | doubleBackslash"
            [description]="schema['description']"
            [metaData]="metaData"
            [statusInfo]="validationStatus"
            (editClick)="onclickFields()"
            (translationClick)="onclickTranslations()">
        </app-info-header>
        <!--
        <div class="field-counter">
            <h3><span class="primary">{{ fieldNumber }}</span> Fields</h3>
        </div>
        -->
        <app-info-sub-header
            [navigationButtons]="navigationButtons"
            [actionButtons]="actionButtons"
            (navigationClick)="onSubHeaderNavigation($event)">
        </app-info-sub-header>
        <div class="info-body-section">
            <table class="field-table" matSort (matSortChange)="sortData($event)">
                <thead>
                    <tr>
                        <th mat-sort-header="name">Field</th>
                        <th mat-sort-header="type">Type</th>
                        <th mat-sort-header="description">Description</th>
                        <th mat-sort-header="usage">Usage</th>
                        <th mat-sort-header="foreign_object">Foreign object</th>
                        <th>Properties</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of sortedFields">
                        <td>
                            <div class="field-name-cell">
                                <mat-icon>{{iconList[schema['fields'][field]['type']]}}</mat-icon>
                                <span class="field-name">{{field}}</span>
                            </div>
                        </td>
                        <td>
                            <span class="type-badge type-{{schema['fields'][field]['type']}}">
                                {{schema['fields'][field]['type']}}
                            </span>
                        </td>
                        <td class="field-desc">
                            {{schema['fields'][field]['description']}}
                        </td>
                        <td class="field-usage">
                            {{schema['fields'][field]['usage'] ? schema['fields'][field]['usage'] : ' '}}
                        </td>
                        <td class="field-foreign">
                            <ng-container *ngIf="['many2one','one2one','one2many'].includes(schema['fields'][field]['type'])">
                                {{schema['fields'][field]['foreign_object']}}
                            </ng-container>
                            <ng-container *ngIf="!['many2one','one2one','one2many'].includes(schema['fields'][field]['type'])">
                                
                            </ng-container>
                        </td>
                        <td>
                            <div class="prop-icons" *ngIf="fieldHasProp(field)">
                                <span *ngIf="schema['fields'][field]['required']"
                                      class="prop-icon prop-required"
                                      matTooltip="{{field}} is required">
                                    <mat-icon>priority_high</mat-icon>
                                </span>
                                <span *ngIf="schema['fields'][field]['readonly']"
                                      class="prop-icon prop-readonly"
                                      matTooltip="{{field}} is readonly">
                                    <mat-icon>do_not_touch</mat-icon>
                                </span>
                                <span *ngIf="schema['fields'][field]['multilang']"
                                      class="prop-icon prop-multilang"
                                      matTooltip="{{field}} is multilang">
                                    <mat-icon>translate</mat-icon>
                                </span>
                                <span *ngIf="schema['fields'][field]['unique']"
                                      class="prop-icon prop-unique"
                                      matTooltip="{{field}} is unique">
                                    <strong>1</strong>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Footer buttons replaced by app-info-sub-header above -->
    </div>
</ng-container>
