<div *ngIf="error">
    Something gone wrong...
</div>
<div *ngIf="!error" class="full">
    <app-in-header
        [buttonBack]="true"
        (onButtonBack)="goBack()"
        [buttonCancelOne]="true"
        [buttonCancelOneDisabled]="paramListHistory.length < 2"
        (onButtonCancelOne)="cancelOneChange()"
        [buttonRevertOne]="true"
        [buttonRevertOneDisabled]="paramFutureHistory.length === 0"
        (onButtonRevertOne)="revertOneChange()"
        [buttonSave]="true"
        (onButtonSave)="save()"
        [customButton]="true"
        [customButtonList]="[{name:'show JSON',icon:'bug_report',disabled:false}]"
        (onCustomButton)="handleCustomButton($event)"
    >
        <label>Parameters of </label>
        <div class="packagename borders">
            <label>{{controller.split("_")[0]}}</label>
        </div>
        <label>_</label>
        <div class="controllername borders">
            <label>{{ controller.split("_").slice(1).join('_') }}</label>
        </div>
    </app-in-header>
    <app-classic-layout>
        <app-param-list
            [list]="paramList"
            [selectedIndex]="selectedIndex"
            (select)="onSelection($event)"
            (CRUD)="onChange($event)"
        ></app-param-list>
        <app-param-side-pane sidepane
            [param]="paramList[selectedIndex]"
            [types]="types"
            [usages]="usages"
            [scheme]="sch"
            [modelList]="modelList"
            (CRUD)="onChange($event)"
        ></app-param-side-pane>
    </app-classic-layout>
</div>