@import '/src/theme.scss';

:host {
    width: 100%;
    height: 100%;
}

.margin-container {
    padding: 2em;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 100%
}

.flex-labels label {
    margin-right: 0.5em;
}

.packagename {
    font-size: 1.5em;
}

.packagename.accent {
    color: mat-color($maincolor);
}

.warncolor {
    color: mat-color($warncolor)
}

.newcolor {
    color: mat-color($newcolor)
}

.lineflex {
    display: flex;
    align-content: center;
    align-items: center;
}

.lineflex mat-icon {
    margin-right: .25em;
}

.package-info-button {
    color : mat-color($maincolor) !important;
    background-color:  #e4e4e4 !important;
    min-width: 80%;
    height: 80%;
}

.package-info-button label {
    font-size: 1.1em;
}

.package-info-button mat-icon {
    margin-right: 1em;
    transform: scale(1.2);
}

.color-red {
    color : mat-color($warncolor)
}

.color-orange {
    color : mat-color($editedcolor)
}

.scroll {
    overflow-y: scroll;
}

.limited_size {
    margin-top: 2em;
    font-size: .8em;
}  

.controller-container-title {
    height: 110px;
}

.controller-container-top {
    height: calc(75% - 110px);
    overflow-y: scroll;
}

.controller-container-bottom {
    height: 25%;
}

.controller-container-spacer {
    height: 2em;
}

.err_warnitem {
    margin: 0;
    padding: 0;
}

.pointable {
    cursor: pointer;
}

.consistency-info {
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    min-height: 3em;
}

.consistency-info .icon{
    transform: scale(1.2) translateY(-.1em);
    float: right;
    margin-right: 1em;
}

.ml5px {
    margin-left: 5px;
}