<div *ngIf="current_package ===''" class="max-height max-width margin-container">
    <label class="packagename">Select package to show properties.</label>
</div>
<div *ngIf="current_package !==''" class="max-height max-width margin-container">
    <div class="flex-labels">
        <label class="packagename">Package :</label>
        <label class="packagename accent">{{ current_package }}</label>
    </div>
    <div *ngIf="!current_initialised" class="lineflex warncolor">
        <mat-icon>error</mat-icon>
        <label  class="warncolor">This package has not been initialised</label>
    </div>
    <div *ngIf="current_initialised" class="lineflex newcolor">
        <mat-icon>check_circle</mat-icon>
        <label>This package has been initialised</label>
    </div>
    <div class="max-width button-container">
        <button mat-button class="package-info-button" (click)="modelOnClick()"><mat-icon>data_object</mat-icon>Models</button>
        <button mat-button class="package-info-button" ><mat-icon>code</mat-icon>Controleurs</button>
        <button mat-button class="package-info-button" ><mat-icon>view_quilt</mat-icon>Views</button>
        <button mat-button class="package-info-button" ><mat-icon>translater</mat-icon>Translation</button>
        <button mat-button class="package-info-button" ><mat-icon>file_present</mat-icon>Initial data</button>
        <button mat-button class="package-info-button" ><mat-icon>info</mat-icon>Properties</button>
        <button mat-button class="package-info-button" ><mat-icon>apps</mat-icon>Applications</button>
    </div>
</div>