<div>
<mat-form-field class="mixed-search-select">
    <mat-select [disabled]="lockType" [(value)]="type" class="" (valueChange)="reloadlist()">
        <mat-label>Type</mat-label>
        <mat-select-trigger> <mat-icon class="icon-search-small mixed-select-sel-{{type}}">{{t_dict[type].icon}}</mat-icon> {{t_dict[type].disp}}</mat-select-trigger>
        <mat-option *ngFor="let key of obk(t_dict)" [value]="key">
            <mat-icon class="mixed-select-sel-{{key}}">{{t_dict[key].icon}}</mat-icon> {{t_dict[key].disp}}
        </mat-option>
    </mat-select>
</mat-form-field>
</div>
<div *ngIf="implemented">
    <mat-form-field *ngIf="need_package" >
        <mat-label>Package</mat-label>
        <mat-select [disabled]="lockPackage" [(value)]="selected_package" (valueChange)="onPackageSelect()">
            <mat-option *ngFor="let pkg of cachepkglist" [value]="pkg">
                {{pkg}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="need_model" >
        <mat-label>Model</mat-label>
        <mat-select [disabled]="selected_package==='' || lockModel"  [(value)]="selected_model" (valueChange)="reloadlist()">
            <mat-option *ngFor="let model of cachemodellist" [value]="model">
                {{model}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div>
    <mat-form-field *ngIf="need_subtype" >
        <mat-label>{{subTypeName}}</mat-label>
        <mat-select [disabled]="selected_package==='' || lockSubType" [(value)]="subtype" (valueChange)="reloadlist()">
            <mat-option *ngFor="let subtyp of subtypelist" [value]="subtyp">
                {{subtyp}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [formControl]="nameControl">
        <mat-error *ngIf="nameControl.invalid">{{getControlsErrors(nameControl)}}</mat-error>
    </mat-form-field>
    </div>
    <div>
        <button mat-button [disabled]="createDisabled" (click)="create()"><mat-icon>create</mat-icon>Create</button>
        <button mat-button (click)="dialogRef.close()"><mat-icon>cancel</mat-icon>Cancel</button>
    </div>
</div>
<div *ngIf="!implemented">
    [WIP]
</div>
