<label class="title">Domain</label><button mat-icon-button (click)="viewmode = (viewmode+1)%2"><mat-icon> {{ viewmode=== 0 ? "data_object" : "edit" }}</mat-icon></button>
<ul *ngIf="viewmode === 0" class="wtree">
    <ng-container *ngIf="fields">
        <li *ngFor="let clause of tempValue; index as i">
        <!-- Remove Clause -->
        <div class="clause-container">
            <div>Clause {{i + 1}}</div>
            <button mat-mini-fab aria-label="Delete clause">
                <mat-icon class="delete-condition-icon" (click)="removeClause(i)">delete</mat-icon>
            </button>
        </div>
        <ul>
            <li *ngFor="let condition of clause; index as j" class="condition">
                <form style="display: flex; align-items: baseline;" class="leaf">
                    <!-- Operand -->
                    <app-auto-complete class="operand"
                        [label]="'Operand'"
                        [options]="fields?.fields"
                        [value]="tempValue[i][j][0]"
                        (updateValue)="updateOperand($event, i, j)">
                    </app-auto-complete>
                    <!-- Operator -->
                    <mat-form-field *ngIf="tempValue[i][j][0] != ''" appearance="fill" class="operator">
                        <mat-label>Operator</mat-label>
                        <mat-select [value]="tempValue[i][j][1]" (selectionChange)="selectOperator($event.value, i, j)"
                            [disabled]="tempValue[i][j][0] == ''">
                            <mat-option *ngFor="let operator of validOperators?.[getTypeFromField(tempValue[i][j][0])]"
                                [value]="operator">
                                {{operator}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Value -->
                    <mat-checkbox *ngIf="can_have_env && fields" class="isenvcheck" [checked]="is_env[i][j]" (change)="changeEnv($event.checked,i,j)">env value</mat-checkbox>
                    <ng-container *ngIf="!can_have_env || !is_env[i][j]">
                        <!-- If there is a selection for the field of the operand -->
                        <ng-container *ngIf="fields && fields.fields[tempValue[i][j][0]]?.selection != undefined">
                            <app-value-selection class="value"
                                [operand]="tempValue[i][j][0]"
                                [type]="getTypeFromField(tempValue[i][j][0])"
                                [operator]="tempValue[i][j][1]"
                                [value]="tempValue[i][j][2]" 
                                [fields]="fields"
                                (changeValue)="changeValue($event, i, j)">
                            </app-value-selection>
                        </ng-container>
                        <!-- If there is not a selection for the field of the operand -->
                        <ng-container *ngIf="fields && !fields.fields[tempValue[i][j][0]]?.selection">
                            <app-value class="value"
                                [type]="getTypeFromField(tempValue[i][j][0])"
                                [operator]="tempValue[i][j][1]"
                                [value]="tempValue[i][j][2]"
                                (changeValue)="changeValue($event, i, j)">
                            </app-value>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="can_have_env && is_env[i][j] && fields">
                        <mat-form-field appearance="fill">
                            <mat-label>Environment Variable</mat-label>
                            <mat-select [value]="tempValue[i][j][2].split('.')[0]" (selectionChange)="changeEnvVar($event.value,i,j)">
                                <mat-option value="object">object</mat-option>
                                <mat-option value="user">user</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Attribute</mat-label>
                            <input matInput [value]="tempValue[i][j][2].split('.').slice(1).join('.')" (change)="changeAttribute($event.target.value,i,j)">
                        </mat-form-field>
                    </ng-container>
                    <!-- Delete Condition -->
                    <div class="delete-condition">
                        <mat-icon class="pointable delete-condition-icon" (click)="removeCondition(i, j)">
                            delete
                        </mat-icon>
                    </div>
                </form>
            </li>
            <li>
            <!-- Add Condition -->
            <button mat-button aria-label="Condition" (click)="addCondition(i)">
                Add Condition
            </button>
            </li>
        </ul>
        </li>
        <li>
        <!-- Add Clause -->
        <button mat-button aria-label="Clause " (click)="addClause()">
            Add Clause
        </button>
        </li>
    </ng-container>
</ul>
<div *ngIf="viewmode===1">
    <pre [innerHTML]="json" class="jsonviewer"></pre>
</div>

<ng-container *ngIf="!fields">
        <p *ngIf="class">Invalid entity</p>
        <p *ngIf="!class">No entity selected</p>
</ng-container>

