<div class="title-container">
    <button class="title-btn maincolor" mat-icon-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    <label class="page-title">View : </label><label class="page-title maincolor endlabel">{{name}}</label>
    <button class="title-btn accentcolor" mat-icon-button><mat-icon>save</mat-icon></button>
    <button class="title-btn accentcolor" mat-icon-button><mat-icon>cancel</mat-icon></button>
</div>
<div class="feature-container">
    <div>
        <mat-form-field class="inputlong">
            <input matInput placeholder="view name" [value]="view_obj.name"  (input)="view_obj.name = $event.target.value">
        </mat-form-field>
        <mat-form-field class="inputlong">
            <mat-label>View type</mat-label>
            <mat-select [(value)]="view_obj.type">
                <mat-option value="list">List</mat-option>
                <mat-option value="form">Form</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="textarealong">
            <textarea matInput placeholder="view description" [value]="view_obj.description"  (input)="view_obj.description = $event.target.value"></textarea> 
        </mat-form-field>
    </div>
    <app-toggling-button
        [on_icon]="'expand_less'"
        [off_icon]="'expand_more'"
        [baseState]="domain_visible"
        (toggle)="domain_visible = $event"
    ></app-toggling-button>
    <label class="category-title maincolor">Domain</label>
    <br>
    <div *ngIf="domain_visible" class="indent">
        <app-property-domain-component
            [value]="view_obj.domain.dom"
            [name]="'oui'"
            [class]="entity"
            (valueChange)="view_obj.domain.dom = $event"
        >
        </app-property-domain-component>
    </div>
    <app-toggling-button
        [on_icon]="'expand_less'"
        [off_icon]="'expand_more'"
        [baseState]="filter_visible"
        (toggle)="filter_visible = $event"
    ></app-toggling-button>
    <label class="category-title maincolor">Filters</label>
    <button mat-fab color="primary" class="addItem" (click)="addFilter()"><mat-icon>add</mat-icon></button>
    <br>
    <div *ngIf="filter_visible" class="indent">
        <div class="indent" *ngFor="let filter of view_obj.filters">
            <div class="flex">
                <div>
                    <div>
                        <mat-form-field>
                            <input matInput placeholder="filter id" [value]="filter.id" (input)="filter.id = $event.target.value">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="filter label" [value]="filter.label" (input)="filter.label = $event.target.value">
                        </mat-form-field>
                        <mat-form-field class="inputlong">
                            <input matInput placeholder="filter description" [value]="filter.description" (input)="filter.description = $event.target.value">
                        </mat-form-field>
                    </div>
                    <div>
                        CLAUSE
                    </div>
                </div>
                <div class="delete-button-container">
                    <button mat-fab color="primary" (click)="deleteFilter(view_obj.filters.indexOf(filter))"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
    <app-toggling-button
        [on_icon]="'expand_less'"
        [off_icon]="'expand_more'"
        [baseState]="layout_visible"
        (toggle)="layout_visible = $event"
    ></app-toggling-button>
    <label class="category-title maincolor">Layout</label>
    <br>
    <div *ngIf="layout_visible" class="indent">
        <div *ngIf="view_obj.type === 'form'">
            <div class="indent">
                <label class="category-title maincolor">Groups</label>
                <button mat-fab color="primary" class="addItem" (click)="addGroup()"><mat-icon>add</mat-icon></button>
            </div>
            <br>
            <div class="indent">
                <div *ngFor="let group of view_obj.layout.groups">
                    <div>
                        <app-toggling-button
                            [on_icon]="'expand_less'"
                            [off_icon]="'expand_more'"
                            [baseState]="groups_visible[view_obj.layout.groups.indexOf(group)]"
                            (toggle)="groups_visible[view_obj.layout.groups.indexOf(group)] = $event"
                        ></app-toggling-button>
                        <mat-form-field>
                            <input matInput placeholder="Group name" [value]="group.label==='' ? 'UNNAMED' : group.label" (change)="group.label = $event.target.value==='UNNAMED' ? '' : $event.target.value">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Group.id" [value]="group.id" (input)="group.id = $event.target.value">
                        </mat-form-field>
                        <button mat-fab color="primary" class="section-add-btn" (click)="deleteGroup(view_obj.layout.groups.indexOf(group))"><mat-icon>delete</mat-icon></button>
                    </div>
                    <div *ngIf="groups_visible[view_obj.layout.groups.indexOf(group)]" class="indent">
                        <label class="category-title maincolor">Sections</label>
                        <button mat-fab color="primary" class="addItem" (click)="addSection(view_obj.layout.groups.indexOf(group))">
                            <mat-icon>add</mat-icon>
                        </button>
                        <app-group-editor
                            [group_obj]="group.sections"
                            [entity]="entity"
                            [fields]="fields"
                            (onChange)="group.sections= $event"
                        ></app-group-editor>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div *ngIf="view_obj.type !== 'form'">
            <label class="category-title maincolor">Items</label>
            <button mat-fab color="primary" class="addItem" (click)="addItemLayout()"><mat-icon>add</mat-icon></button>
            <div class="indent">
                <div *ngFor="let item of view_obj.layout.items" class="item">
                    <div class="flex">
                        <div>
                            <div class="flex">
                                <mat-form-field>
                                    <mat-label>type</mat-label>
                                    <mat-select [(value)]="item.type">
                                        <mat-option *ngFor="let item_type of types" value="{{item_type}}">{{item_type}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="item.valueIsSelect">
                                    <mat-label>value</mat-label>
                                    <mat-select [(value)]="item.value">
                                        <mat-option *ngFor="let item of fields" value="{{item}}">{{item}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field *ngIf="!item.valueIsSelect">
                                    <input matInput placeholder="value" [value]="item.value" (input)="item.value = $event.target.value">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="item width" type="number" [value]="item.width" (input)="item.width = $event.target.value">
                                </mat-form-field>
                                <label>%</label>
                            </div>
                            <div  class="flex">
                                <mat-checkbox [checked]="item.sortable" (change)="item.sortable = $event.checked">sortable</mat-checkbox>
                                <mat-checkbox [checked]="item.readonly" (change)="item.readonly = $event.checked">readonly</mat-checkbox>
                                <mat-checkbox [checked]="item.has_domain" (change)="item.has_domain= $event.checked">domain visible</mat-checkbox>
                                <mat-checkbox [checked]="item.has_widget" (change)="item.has_widget= $event.checked">widget</mat-checkbox>
                            </div>
                        </div>
                        <div class="delete-button-container">
                            <button mat-fab color="primary" (click)="deleteItemLayout(view_obj.layout.items.indexOf(item))"><mat-icon>delete</mat-icon></button>
                        </div>
                    </div>
                    <div *ngIf="item.has_widget" class="widget">
                        <div>
                            Widget
                        </div>
                        <mat-checkbox [checked]="item.widget.link" (change)="item.widget.link = $event.checked">link</mat-checkbox>
                        <mat-checkbox [checked]="item.widget.heading" (change)="item.widget.heading = $event.checked">readonly</mat-checkbox>
                        <mat-form-field>
                            <input matInput placeholder="widget type" [value]="item.widget.type" (input)="item.widget.type= $event.target.value">
                        </mat-form-field>
                        <mat-form-field class="inputlong">
                            <input matInput placeholder="values (splitted by semi-columns)" type="text" [value]="item.widget.values.toString().replaceAll(',',';')" (input)="item.widget.values = $event.target.value.split(';')">
                        </mat-form-field>
                    </div>
                    <div *ngIf="item.has_domain" class="widget">
                        <div>
                            Visible
                        </div>
                        <app-property-domain-component
                        [value]="item.visible.dom"
                        [name]="'oui'"
                        [class]="entity"
                        (valueChange)="item.visible.dom = $event"
                        >
                        </app-property-domain-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button mat-button (click)="logit()">
        show
    </button>
</div>