<div class="full flowcontainer " #boundary [style.background-position]="bgPos" (mousemove)="trackMouse($event)"
    (mouseup)="grabbed = false" (mousedown)="mouseDown($event)" [class.grabbed]="grabbed"
    [class.create]="['create-node'].includes(state)">
    <div class="full strings" [style.z-index]="['edit-link'].includes(state) ? 1000 : undefined">
        <svg class="full" xmlns="http://www.w3.org/2000/svg">
            <style>
                tspan.material-icons {
                    font-family: 'Material Icons';
                    font-weight: normal;
                    font-style: normal;
                    font-size: 25px;
                    line-height: 1;
                    letter-spacing: normal;
                    text-transform: none;
                    display: inline-block;
                    white-space: nowrap;
                    word-wrap: normal;
                    direction: ltr;
                    -webkit-font-feature-settings: 'liga';
                    -webkit-font-smoothing: antialiased;
                    user-select: none;
                }

                tspan.material-icons.small {
                    font-size: 10px;
                }

                g {
                    cursor: pointer;
                }
            </style>
            <defs>
                <marker id="arrowhead-one2many" markerWidth="10" markerHeight="10" refX="5" refY="5" orient="auto">
                    <polygon points="-5 0, 5 5, -5 10" fill="none" stroke="#FF4081" />
                    <path d="M 5,2 L 5,8" stroke="#FF4081" fill="none" stroke-width="1px" />
                    <path d="M 0.5,2 L 0.5,8" stroke="#FF4081" fill="none" stroke-width="1px" />
                    <path d="M -5,5 L 5,5" stroke="#FF4081" fill="none" stroke-width="1px" />
                </marker>
                <marker id="arrowhead-many2many" markerWidth="10" markerHeight="10" refX="5" refY="5" orient="auto">
                    <polygon points="-5 0, 5 5, -5 10" fill="none" stroke="#3F51B5" />
                    <path d="M 5,2 L 5,8" stroke="#3F51B5" fill="none" stroke-width="1px" />
                    <path d="M 0.5,2 L 0.5,8" stroke="#3F51B5" fill="none" stroke-width="1px" />
                    <path d="M -5,5 L 5,5" stroke="#3F51B5" fill="none" stroke-width="1px" />
                </marker>
                <marker id="arrowhead-many2one" markerWidth="10" markerHeight="10" refX="5" refY="5" orient="auto">
                    <polygon points="-5 0, 5 5, -5 10" stroke="#999999" fill="none" />
                    <path d="M 5,2 L 5,8" stroke="#999999" fill="none" stroke-width="1px" />
                    <path d="M 0.5,2 L 0.5,8" stroke="#999999" fill="none" stroke-width="1px" />
                    <path d="M -5,5 L 5,5" stroke="#999999" fill="none" stroke-width="1px" />
                </marker>
                <marker id="arrowhead-extends" markerWidth="10" markerHeight="10" refX="5" refY="5" orient="auto">
                    <polygon points="5 2.5, 10 5, 5 7.5, 0 5" fill="#008080" />
                </marker>
            </defs>
            <g *ngFor="let link of links; index as i" (click)="selectForEdition(i)"
                (mousedown)="$event.stopPropagation()">
                <g>
                    <g
                        *ngIf="getPathStringBetween(link.to,link.from,link.attribute_number_to,link.attribute_number_from,link.relType) as line">
                        <path *ngIf="link.relType === 'one2many'" [attr.d]="line.path" stroke="#FF4081" fill="none"
                            stroke-width="2px" marker-start="url(#arrowhead-one2many)" />
                        <path *ngIf="link.relType === 'extends'" [attr.d]="line.path" stroke="#008080" fill="none"
                            stroke-width="2px" marker-start="url(#arrowhead-extends)" />
                    </g>
                    <g
                        *ngIf="getPathStringBetween(link.from,link.to,link.attribute_number_from,link.attribute_number_to,link.relType) as line">
                        <path *ngIf="link.relType === 'many2one'" [attr.d]="line.path" stroke="#999999" fill="none"
                            stroke-width="2px" marker-start="url(#arrowhead-many2one)" />
                        <path *ngIf="link.relType === 'many2many'" [attr.d]="line.path" stroke="#3F51B5" fill="none"
                            stroke-width="2px" marker-start="url(#arrowhead-many2many)" />
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="boundary">
        <app-pipeline-node class="dragelement" *ngFor="let node of nodes; index as i" cdkDrag
            (cdkDragMoved)="mv(node,$event)" [style.top.px]="node.initialPos.y - 55 + offset.y "
            [style.left.px]="node.initialPos.x + offset.x" [node]="node" [state]="state"
            (linkeToMe)="selectForEdition(i)" [selected]="i===selectedNode"
            (mousedown)="$event.stopPropagation()"></app-pipeline-node>
    </div>
</div>