<div class="app-inner-header">
    <app-inner-header
            [buttonBack]="true"
            (onButtonBack)="getBack()">
        <label class="package-label">{{ package_name }}</label>›<label class="node-label"><mat-icon>view_quilt</mat-icon>Views</label>
    </app-inner-header>
</div>
<div class="app-inner-body">
    <div class="left_pane">
        <search-mixed-list
                [node_type]="'view'"
                [package_name]="package_name"
                (selectNode)="onSelectNode($event)"
                (updateNode)="onUpdateNode($event)">
        </search-mixed-list>
    </div>

    <div class="right_pane">
        <info-view *ngIf="selected_view" [view]="selected_view">
        </info-view>
        <info-system *ngIf="!selected_view"
        [component_type]="'view'"
        [package_name]="package_name">
        </info-system>
    </div>
</div>

<!--
<ng-container *ngIf="!loading">

        <div>
            <search-views-list class="full"
                [data]="views_for_selected_package"
                [selected_node]="selected_view"
                (nodeSelect)="onclickViewSelect($event)"
                (nodeUpdate)="onupdateView($event)"
                (nodeDelete)="ondeleteView($event)"
                (updated)="oncreateView()">
            </search-views-list>

        </div>

</ng-container>
-->