.modal-container {
    position: relative !important;
}

.close-button {
    position: absolute;
    top: -20px;
    right: -20px;
    scale: 0.7;
}

.body {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}