
<div *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="appholder">
    <app-in-header
        [buttonBack]="true"
        (onButtonBack)="goBack()"
        [buttonSave]="true"
        (onButtonSave)="saveall()"
        [buttonCancel]="true"
        (onButtonCancel)="init()"
        [customButton]="true"
        [customButtonList]="[{name:'Show Json',icon:'bug_report',disabled:false}]"
        (onCustomButton)="debugExport()"
    >
        <label>Translations of </label>
        <label class="packagename">{{package}}</label>
        <label class="inbetween">{{ entitype === "model" ? "\\" : (entitype === "controller" ? "_" : " ") }}</label>
        <label class="{{entitype}}name">{{entitype !== "controller" ? model : model.replaceAll("\\","_")}}</label>
    </app-in-header>
    <div *ngIf="obk(data).length === 0">
        No traduction on this model.
    </div>
    <div style="height: 100%;">
        <div class="lang-selected spcbtwin tabpadding" *ngIf="!adding_language">
            <div class="info-left">
                <mat-form-field>
                    <mat-label>Translation language</mat-label>
                    <mat-select [(value)]="lang">
                        <mat-option *ngFor="let lg of obk(data)" [value]="lg">{{lg}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-button (click)="startAddingLanguage()"><mat-icon>add</mat-icon>Add language</button>
            </div>
            <div class="buttons-right">
            </div>
        </div>
        <div class="lang-selected tabpadding" *ngIf="adding_language">
            <mat-form-field>
                <mat-label>Language code</mat-label>
                <input matInput #langcode [formControl]="lang_name">
            </mat-form-field>
            <button mat-button (click)="stopAddingLanguage()"><mat-icon>close</mat-icon>Cancel</button>
            <button mat-button [disabled]="lang_name.invalid" (click)="createLanguage()"><mat-icon>done</mat-icon>Create</button>
        </div>
        <mat-tab-group *ngIf="obk(data).length > 0" class="partcontent" animationDuration="0ms" [lang]="lang" >
            <mat-tab label="Model" class="modeltradholder tabpadding">
                <div class="tabpadding">
                    <br>
                    <mat-form-field class="nameinput" *ngIf="entitype !== 'menu'">
                        <mat-label>Model name (singular)</mat-label>
                        <input matInput spellcheck="true" [(ngModel)]="data[lang].name.value">
                    </mat-form-field>
                    <label *ngIf="entitype !== 'menu'">/</label>
                    <mat-form-field class="nameinput" *ngIf="entitype !== 'menu'">
                        <mat-label>Model name (plural)</mat-label>
                        <input matInput spellcheck="true" [(ngModel)]="data[lang].plural.value">
                    </mat-form-field>
                    <br>
                    <mat-form-field class="descinput">
                        <mat-label>Model description</mat-label>
                        <input matInput spellcheck="true" [(ngModel)]="data[lang].description.value">
                    </mat-form-field>
                    <div class="modelitems" *ngIf="entitype !== 'menu'">
                        <mat-grid-list class="listarr" cols="16" rowHeight="2em" class="titlelistarr">
                            <mat-grid-tile class="itemarr">
                                traduction
                            </mat-grid-tile>
                            <mat-grid-tile class="itemarr" colspan="2">
                                Field
                            </mat-grid-tile>
                            <mat-grid-tile colspan="3" class="itemarr">
                                Label
                            </mat-grid-tile>
                            <mat-grid-tile colspan="5" class="itemarr">
                                description
                            </mat-grid-tile>
                            <mat-grid-tile colspan="5" class="itemarr">
                                help
                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-grid-list class="listarr" *ngFor="let key of obk(data[lang].model)" cols="16" rowHeight="2em">
                            <mat-grid-tile class="itemarr" colspan="1">
                                <mat-checkbox [checked]="data[lang].model[key].is_active" (change)="data[lang].model[key].is_active = $event.checked"></mat-checkbox>
                            </mat-grid-tile>
                            <mat-grid-tile class="itemarr" colspan="2">
                                <label class="fieldnamelabel">{{key}}</label>
                            </mat-grid-tile>
                            <ng-container *ngIf="data[lang].model[key].is_active">
                                <mat-grid-tile colspan="3" class="itemarr">
                                    <input spellcheck="true" placeholder="no traduction for this field" matInput [(ngModel)]="data[lang].model[key].label.value">
                                </mat-grid-tile>
                                <mat-grid-tile colspan="5"  class="itemarr">
                                    <input spellcheck="true" placeholder="no traduction for this field" matInput [(ngModel)]="data[lang].model[key].description.value">
                                </mat-grid-tile>
                                <mat-grid-tile colspan="5"  class="itemarr">
                                    <input spellcheck="true" placeholder="no traduction for this field" matInput [(ngModel)]="data[lang].model[key].help.value">
                                </mat-grid-tile>
                            </ng-container>
                            <ng-container *ngIf="!data[lang].model[key].is_active">
                                <mat-grid-tile colspan="13" class="placeholder">
                                </mat-grid-tile>
                            </ng-container>
                        </mat-grid-list>
                    </div>
                    <br>
                </div>
            </mat-tab>
            <mat-tab label="View" class="tabpadding">
                <div *ngIf="obk(data[lang].view).length <= 0" class="tabpadding">
                    <br>
                    No view for this entity
                </div>
                <div *ngIf="obk(data[lang].view).length > 0">
                    <mat-tab-group animationDuration="0ms" style="height:100%">
                        <mat-tab class="modeltradholder" [label]="view" *ngFor="let view of obk(data[lang].view)">
                            <div class="tabpadding">
                                <br>
                                <mat-form-field class="nameinput">
                                    <mat-label>View name</mat-label>
                                    <input matInput spellcheck="true" [(ngModel)]="data[lang].view[view].name.value">
                                </mat-form-field>
                                <br>
                                <mat-form-field class="descinput">
                                    <mat-label>View description</mat-label>
                                    <input matInput spellcheck="true" [(ngModel)]="data[lang].view[view].description.value">
                                </mat-form-field>
                                <br>
                            </div>
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="Layout" *ngIf="obk(data[lang].view[view].layout).length>0">
                                    <div class="modelitems tabpadding">
                                        <mat-grid-list class="listarr" cols="16" rowHeight="2em" class="titlelistarr">
                                            <mat-grid-tile class="itemarr">
                                                traduction
                                            </mat-grid-tile>
                                            <mat-grid-tile class="itemarr" colspan="2">
                                                Field
                                            </mat-grid-tile>
                                            <mat-grid-tile colspan="13" class="itemarr">
                                                Label
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                        <mat-grid-list class="listarr" *ngFor="let key of obk(data[lang].view[view].layout)" cols="16" rowHeight="2em">
                                            <mat-grid-tile class="itemarr" colspan="1">
                                                <mat-checkbox [checked]="data[lang].view[view].layout[key].is_active" (change)="data[lang].view[view].layout[key].is_active = $event.checked"></mat-checkbox>
                                            </mat-grid-tile>
                                            <mat-grid-tile class="itemarr" colspan="2">
                                                <label class="fieldnamelabel">{{key}}</label>
                                            </mat-grid-tile>
                                            <ng-container *ngIf="data[lang].view[view].layout[key].is_active">
                                                <mat-grid-tile colspan="13" class="itemarr">
                                                    <input spellcheck="true" placeholder="no traduction for this field" matInput [(ngModel)]="data[lang].view[view].layout[key].label.value">
                                                </mat-grid-tile>
                                            </ng-container>
                                            <ng-container *ngIf="!data[lang].view[view].layout[key].is_active">
                                                <mat-grid-tile colspan="13" class="placeholder">
                                                </mat-grid-tile>
                                            </ng-container>
                                        </mat-grid-list>    
                                    </div>
                                    <br>
                                </mat-tab>
                                <br>
                                <mat-tab label="Actions" *ngIf="obk(data[lang].view[view].actions).length>0">
                                    <div class="modelitems tabpadding">
                                        <mat-grid-list class="listarr" cols="16" rowHeight="2em" class="titlelistarr">
                                            <mat-grid-tile class="itemarr">
                                                traduction
                                            </mat-grid-tile>
                                            <mat-grid-tile class="itemarr" colspan="2">
                                                Field
                                            </mat-grid-tile>
                                            <mat-grid-tile colspan="5" class="itemarr">
                                                Label
                                            </mat-grid-tile>
                                            <mat-grid-tile colspan="8" class="itemarr">
                                                description
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                        <mat-grid-list class="listarr" *ngFor="let key of obk(data[lang].view[view].actions)" cols="16" rowHeight="2em">
                                            <mat-grid-tile class="itemarr" colspan="1">
                                                <mat-checkbox [checked]="data[lang].view[view].actions[key].is_active" (change)="data[lang].view[view].actions[key].is_active = $event.checked"></mat-checkbox>
                                            </mat-grid-tile>
                                            <mat-grid-tile class="itemarr" colspan="2">
                                                <label class="fieldnamelabel">{{key}}</label>
                                            </mat-grid-tile>
                                            <ng-container *ngIf="data[lang].view[view].actions[key].is_active">
                                                <mat-grid-tile colspan="5" class="itemarr">
                                                    <input spellcheck="true" placeholder="no traduction for this field" matInput [(ngModel)]="data[lang].view[view].actions[key].label.value">
                                                </mat-grid-tile>
                                                <mat-grid-tile colspan="8" class="itemarr">
                                                    <input spellcheck="true" placeholder="no traduction for this field" matInput [(ngModel)]="data[lang].view[view].actions[key].description.value">
                                                </mat-grid-tile>
                                            </ng-container>
                                            <ng-container *ngIf="!data[lang].view[view].actions[key].is_active">
                                                <mat-grid-tile colspan="13" class="placeholder">
                                                </mat-grid-tile>
                                            </ng-container>
                                        </mat-grid-list>     
                                    </div>
                                </mat-tab>
                                <mat-tab label="routes" *ngIf="obk(data[lang].view[view].routes).length>0">
                                    <div class="modelitems tabpadding">
                                        <mat-grid-list class="listarr" cols="16" rowHeight="2em" class="titlelistarr">
                                            <mat-grid-tile class="itemarr">
                                                traduction
                                            </mat-grid-tile>
                                            <mat-grid-tile class="itemarr" colspan="2">
                                                Field
                                            </mat-grid-tile>
                                            <mat-grid-tile colspan="5" class="itemarr">
                                                Label
                                            </mat-grid-tile>
                                            <mat-grid-tile colspan="8" class="itemarr">
                                                description
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                        <mat-grid-list class="listarr" *ngFor="let key of obk(data[lang].view[view].routes)" cols="16" rowHeight="2em">
                                            <mat-grid-tile class="itemarr" colspan="1">
                                                <mat-checkbox [checked]="data[lang].view[view].routes[key].is_active" (change)="data[lang].view[view].routes[key].is_active = $event.checked"></mat-checkbox>
                                            </mat-grid-tile>
                                            <mat-grid-tile class="itemarr" colspan="2">
                                                <label class="fieldnamelabel">{{key}}</label>
                                            </mat-grid-tile>
                                            <ng-container *ngIf="data[lang].view[view].routes[key].is_active">
                                                <mat-grid-tile colspan="5" class="itemarr">
                                                    <input spellcheck="true" placeholder="no traduction for this field" matInput [(ngModel)]="data[lang].view[view].routes[key].label.value">
                                                </mat-grid-tile>
                                                <mat-grid-tile colspan="8" class="itemarr">
                                                    <input spellcheck="true" placeholder="no traduction for this field" matInput [(ngModel)]="data[lang].view[view].routes[key].description.value">
                                                </mat-grid-tile>
                                            </ng-container>
                                            <ng-container *ngIf="!data[lang].view[view].routes[key].is_active">
                                                <mat-grid-tile colspan="13" class="placeholder">
                                                </mat-grid-tile>
                                            </ng-container>
                                        </mat-grid-list>    
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </mat-tab>
            <mat-tab label="Error" class="tabpadding" *ngIf="entitype !== 'menu'">
                <div class="tabpadding">
                    <div *ngFor="let errs of obk(data[lang].error._base)" class="errorsblock">
                        <label class="errsname">{{errs}}</label>
                        <br>
                        <mat-checkbox [checked]="data[lang].error._base[errs].active" (change)="data[lang].error._base[errs].active = $event.checked">active</mat-checkbox>
                        <br>
                        <mat-form-field  *ngIf="data[lang].error._base[errs].active">
                            <mat-label>New error</mat-label>
                            <input matInput [formControl]="adderror">
                            <button 
                                [disabled]="adderror.invalid || !adderror.value" 
                                (click)="createError(lang,errs)"
                                matSuffix 
                                mat-icon-button
                            >
                                <mat-icon>add</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="modelitems" *ngIf="data[lang].error._base[errs].active">
                            <mat-grid-list class="listarr" cols="16" rowHeight="2em" class="titlelistarr">
                                <mat-grid-tile class="itemarr">
                                    traduction
                                </mat-grid-tile>
                                <mat-grid-tile class="itemarr" colspan="2">
                                    Field
                                </mat-grid-tile>
                                <mat-grid-tile colspan="13" class="itemarr">
                                    Label
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list class="listarr" *ngFor="let key of obk(data[lang].error._base[errs].val)" cols="16" rowHeight="2em">
                                <mat-grid-tile class="itemarr" colspan="1">
                                    <mat-checkbox [checked]="data[lang].error._base[errs].val[key].is_active" (change)="data[lang].error._base[errs].val[key].is_active = $event.checked"></mat-checkbox>
                                </mat-grid-tile>
                                <mat-grid-tile class="itemarr" colspan="2">
                                    <label class="fieldnamelabel">{{key}}</label>
                                </mat-grid-tile>
                                <ng-container *ngIf="data[lang].error._base[errs].val[key].is_active">
                                    <mat-grid-tile colspan="13" class="itemarr">
                                        <input spellcheck="true" placeholder="no traduction for this field" matInput [(ngModel)]="data[lang].error._base[errs].val[key]._val.value">
                                    </mat-grid-tile>
                                </ng-container>
                                <ng-container *ngIf="!data[lang].error._base[errs].val[key].is_active">
                                    <mat-grid-tile colspan="13" class="placeholder">
                                    </mat-grid-tile>
                                </ng-container>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>