@import "/src/theme.scss";

:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.appholder {
    width: 100%;
    height: 100%;
}

$bordercolor : #939399;

.packagename {
    background-color: mat-color($package-color,A100);
    padding : 0 .25em;
    border-radius : .25em;
}

.modelname {
    background-color: mat-color($class-color,A100);
    padding : 0 .25em;
    border-radius : .25em;
}

.controllername {
    background-color: mat-color($do-color,A100);
    padding : 0 .25em;
    border-radius : .25em;
}

.menuname {
    background-color: mat-color($menu-color,A100);
    padding : 0 .25em;
    border-radius : .25em;
}

.lang-selected {
    height: 4em;
}

.spcbtwin {
    display: flex;
    justify-content: space-between;
}

.partcontent {
    height: calc(100% - 10em);
    overflow-y: hidden;
}

.fieldnamelabel {
    text-align: left;
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.listarr {
    border-bottom: solid 1px $bordercolor;
}

.itemarr {
    border-right: solid 1px $bordercolor;
}

.itemarr input {
    width: 90% ;
    margin-left: 5%;
    margin-right: 5%;
    height: 80%;
    border:none;
    font-family: var(--mdc-typography-body1-font-family,var(--mdc-typography-font-family,Roboto,sans-serif));
    font-size: 1rem;
    //border-bottom: solid 1px $bordercolor;
}

.modelitems {
    //overflow-y: scroll;
    border-left:solid 1px $bordercolor ;
    border-top: solid 1px $bordercolor;
}

.titlelistarr {
    border-bottom: solid 1px $bordercolor;
    color : mat-color($maincolor)
}

.placeholder {
    background-color: #c4c4cc;
    border-bottom: solid 1px $bordercolor;
    border-right: solid 1px $bordercolor;
}

.descinput {
    width: 80%;
}

.nameinput {
    width: 30%;
}

.modeltradholder {
    height: 100%;
}

.tabpadding {
    margin: 0 3em;
}

.errorsblock {
    margin-top: 1em;
    border: solid 1px $bordercolor;
    padding:  1em;
    border-radius: 1em;
}

.errsname {
    color: mat-color($maincolor);
    font-size: 1.1em;
}

.buttons-right {

}