@import '/src/theme.scss';

:host {
  width: 100%;
  height: 100%;

  .info-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    padding: 2em;

    app-info-header {
      margin-bottom: 1.5em;
    }

    .info-body-section {
      flex: 1 1 auto;
      overflow-y: auto;
      background: white;
      border-radius: 8px;
      margin-bottom: 1.5em;
      padding: 1.5em 2em;

      .menu-details {
        font-size: 1.1em;

        p {
          margin: 0.5em 0;
        }

        .menu-name {
          background-color: mat-color($menu-color, A100);
          padding: 0 5px;
          border-radius: 5px;
        }

        .package-name {
          background-color: mat-color($package-color, A100);
          padding: 0 5px;
          border-radius: 5px;
        }
      }
    }

    .info-footer-section {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      min-height: 7em;

      .button-pkg-container {
        width: 100%;

        .mat-grid-tile {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .view-info-button {
          min-width: 16em;
          height: 3em;
          font-size: 1.1em;
          border-radius: 8px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
          margin-right: 1.5em;
          transition: background 0.2s;
          color: rgba(0, 0, 0, 0.06);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          width: 90%;
          padding: 10px;

          label {
            font-size: 1.1em;
            margin-left: 0.5em;
            color: mat-color($maincolor);
          }

          mat-icon {
            margin-right: 0.7em;
            transform: scale(1.2);
            color: mat-color($maincolor);
          }

          &:hover {
            background: rgba(0, 0, 0, 0.06);
          }

          &.disabled {
            background: rgba(0, 0, 0, 0.10) !important;
            color: rgba(0, 0, 0, 0.03) !important;
            cursor: not-allowed !important;

            mat-icon {
              color: rgba(0, 0, 0, 0.03);
            }

            label {
              color: rgba(0, 0, 0, 0.03);
            }
          }
        }
      }
    }
  }
}