
<div *ngIf="loading" class="loader"><mat-spinner></mat-spinner></div>

<div *ngIf="!loading && menu" class="info-view-container">
    <app-info-header
            [titleLabel]="'Menu'"
            [title]="menu.name"
            [copyText]="menu.package_name + '\\' + menu.name"
            [description]="menu.description"
            [metaData]="[metaData[0]]"
            [statusInfo]="validationStatus"
            (editClick)="onclickEdit()"
            (translationClick)="onclickTranslations()">
        </app-info-header>
    <div class="info-body-section">
        <div class="menu-details">
            <p><strong>Menu:</strong> <span class="menu-name">{{ menu.name }}</span></p>
            <p><strong>Package:</strong> <span class="package-name">{{ menu.package_name }}</span></p>
            <p *ngIf="menu.description"><strong>Description:</strong> {{ menu.description }}</p>
        </div>
    </div>
    <!--
    <div class="info-footer-section">
        <mat-grid-list [cols]="4" rowHeight="5.5em" class="button-pkg-container">
            <mat-grid-tile>
                <button mat-flat-button class="view-info-button" (click)="onclickEdit()">
                    <mat-icon>edit</mat-icon>
                    <label>Edit</label>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-flat-button class="view-info-button disabled" (click)="onclickTranslations()">
                    <mat-icon>translate</mat-icon>
                    <label>Translations</label>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    -->
</div>