<div class="tab-item indent" #headerTabContainer>
  <div class="toggle-container tab-header" appScrollTarget="toggle-header">
    <mat-slide-toggle [(ngModel)]="viewObj._has_header"></mat-slide-toggle>
    <label [class.toggle-label]="!viewObj._has_header" [style.opacity]="viewObj._has_header ? 1 : 0.6" class="category-title maincolor" >Header</label>
  </div>
  
  <!-- HEADER -->
  <div *ngIf="viewObj._has_header" class="indent group-spacing tab-content" >
    <app-header-editor
      [obj]="viewObj.header"
      [type]="viewObj.type"
      [groups]="groups"
      [action_controllers]="action_controllers"
      [entity]="entity"
    >
    </app-header-editor>
  </div>
  
  <div class="toggle-container tab-header" appScrollTarget="toggle-filters">
    <mat-slide-toggle [(ngModel)]="viewObj._has_filter"></mat-slide-toggle>
    <label [class.toggle-label]="!viewObj._has_filter" [style.opacity]="viewObj._has_filter ? 1 : 0.6" class="category-title maincolor">Filters</label>
    <div class="addItem">
      <button mat-mini-fab color="primary" *ngIf="isFilterVisible || viewObj._has_filter" (click)="onAddFilter()"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <div *ngIf="isFilterVisible || viewObj._has_filter" class="indent tab-content">
    <div *ngFor="let filter of viewObj.filters; index as filterIndex" class="filter-field-row">
      <div class="filter-info-container">
        <app-clause-domain-component
          [value]="filter.clause.arr"
          [name]="'oui'"
          [class]="entity"
          (valueChange)="filter.clause.arr = $event"
        ></app-clause-domain-component>
      </div>
      <button *ngIf="isFilterVisible" mat-icon-button color="warn" class="filter-delete-btn" (click)="onDeleteFilter(filterIndex)" [attr.aria-label]="'Delete filter ' + filterIndex">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
