:host {
    height: 100%;
    width: 100%;
}

.flexcol {
    display: flex;
}
#test {
    width: calc(100% - 20em);
    height: 100%;
    margin: 0;
}

.full ::ng-deep .mat-tab-body-wrapper {
    height: calc(100% - 48px)
}
