.boundary {
    border: dotted #ccc 2px;
}

.class {
    display: flex;
    width: 20em;
    height: 20em;
    justify-content: center;
    border : 1px black solid;
    position: absolute;
    top: 0;
    left: 0;
}

:host {
    height: 100%;
    width: 100%;
}

.flexcol {
    display: flex;
}
#test {
    width: calc(100% - 20em);
    height: 100%;
    margin: 0;
}