<div class="flex-container">

        <!-- Accordéon pour GroupedLayout -->
    <mat-accordion class="accordion" *ngIf="groupedLayout" >
        <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Groupes ({{ groupedLayout.layout.groups?.length || 0 }})
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let group of groupedLayout.layout.groups; let i = index">
            <p><strong>Groupe {{ i + 1 }}</strong></p>
        </div>
        </mat-expansion-panel>
    </mat-accordion>

     <!-- Accordéon 2 : Sections -->
     <mat-accordion class="accordion" *ngIf="groupedLayout">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Section ({{ getTotalSections() }})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let group of groupedLayout.layout.groups; let indexGroup = index">
            <p><strong>Groupe {{ indexGroup + 1 }}</strong></p>

            <div *ngFor="let section of group.sections; let indexSection = index">
              <p class="section-header">Section {{indexSection+1}} :  {{ section.label ||'No name' }}</p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>



    <!-- Accordéon pour SimpleLayout -->
    <mat-accordion class="accordion" *ngIf="simpleLayout">
        <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Items ({{ simpleLayout.layout.items?.length || 0 }})
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of simpleLayout.layout.items">
            <p><strong>{{ item.type }} - {{ item.value }}</strong></p>
        </div>
        </mat-expansion-panel>
    </mat-accordion>


</div>
