<!-- Step for package -->
<app-in-header
    [customButton]="true"
>
    <label class="solo">Select an eQual component</label>
</app-in-header>
<app-classic-layout>
    <app-search-mixed-list list class="full"
        [data]="elements"
        [selected_node]="selected_element"
        [loading]="isloading"
        (nodeSelect)="onclickPackageSelect($event)"
        (refresh)="refresh()"
        (delete)="delElement($event)"
    >
    </app-search-mixed-list>
    <ng-container sidepane>
        <div *ngIf="isloading || sideload" style="display: flex;align-items: center;justify-content: center; width: 100%; height: 100%;">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!isloading && !sideload" class="full">
            <app-model-info *ngIf="selected_element.type==='class'" class="max-height max-width"
                [selected_package]="selected_element.package ? selected_element.package : ''"
                [selected_class]="selected_element.name"
                [class_scheme]="schema"
                (changeStep)="onChangeStepModel($event)"
                (getRef)="goTo($event)"
            >
            </app-model-info>
            <app-package-info *ngIf="selected_element.type==='package' || selected_element.type===''" class="max-height max-width"
                [current_package]="selected_element.name"
                [package_init_list]="initialised_packages"
                (onModelClick)="onClickModels()"
                (onControllerClick)="onClickControllers()"
                (onViewClick)="onClickView()"
                (onRouteClick)="onClickRoute()"
                (refresh)="refresh_consitency()"
            >
            </app-package-info>
            <app-controller-info *ngIf="selected_element.type==='do' || selected_element.type==='get'" class="max-height max-width"
                [current_controller]="selected_element.name"
                [controller_type]="selected_element.type"
                [scheme]="schema"
                [fetch_error]="fetch_error"
                [selected_package]="selected_element.package ? selected_element.package : ''"
                [moving]="true"
                (goto)="goTo({name:$event})"
                (navigate)="controllerNav($event)"
            ></app-controller-info>
            <app-route-info  *ngIf="selected_element.type==='route'"
                [current_route]="selected_element.name"
                [route_info]="routelist[selected_element.package+selected_element.more+selected_element.name]"
                (redirect)="goTo({name:$event})"
            ></app-route-info>
            <app-views-info  *ngIf="selected_element.type==='view'"
                [view_ref]="selected_element.name"
                (goto)="onViewEditClick()"
            ></app-views-info>
            <app-menu-info *ngIf="selected_element.type === 'menu'"
                [menu_name]="selected_element.name"
                [package]="selected_element.package ? selected_element.package : ''"
                (navigate)='menuNav($event)'
            ></app-menu-info>
        </div>
    </ng-container>
</app-classic-layout>