:host {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    box-sizing: border-box;
}

app-package {
    height: 100%;
}

.step-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .title-label {
        font-size: smaller;
        margin-bottom: -6px;
    }
    .selection-label {
        font-size: 18px;
        min-width: 150px;
    }
}

.mat-horizontal-content-container {
    height: calc(100% - 72px);
}

.mat-horizontal-stepper-content {
    height: 100%;
}

.mat-stepper-horizontal-line {
    flex: none !important;
    min-width: 45px !important;
}

pre {
    width: calc(100% - 20px);
    margin: 0 10px 4px 10px;
    overflow-x: auto;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    background-color: ghostwhite;
    border: 1px solid silver;
    .json-key {
        color: #a52a2a;
    }

    .json-string {
        color: #808000
    }
}

#schema > figure {
    display: inline !important;
    overflow-y: scroll;
    overflow-x: auto;
}

.step {
    margin: 1%;
}

.title-container {
    display: flex;
    align-items: center;
    font-size : 1.5em;
}

.title-container button,mat-label {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.title-container .solo {
    margin-left: 2.5em;
}

.package-grid-list {
    height: calc(100% - 4em);
}
