<app-popup-layout
    [okButton]="true"
    okButtonText="Import"
    (close)="close()"
    (ok)="import()"
>
    <ng-container *ngIf="!ready">
        <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngIf="ready">
        <div>
            <label>Import from {{data.entity}}</label>
        </div>
        <div class="table-holder">
        <mat-paginator class="pager"
            [length]="ItemList.length"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="page = $event"
            aria-label="Select page"
        >
        </mat-paginator>

        <table matSort (matSortChange)="sortData($event,ItemList)" class="item-table">
            <tr class="item-table-header">
                <th [style.width]="'40px'"><mat-checkbox class="table-item" (click)="$event.stopPropagation()" (change)="selectAll($event.checked)"></mat-checkbox></th>
                <th mat-sort-header="id" [style.width]="'10%'">id</th>
                <th *ngFor="let field of data.vf" [style.width]="(field.width/fullWidth)*90 - 40" [mat-sort-header]="field.value">{{field.value}}</th>
            </tr>
            <tr *ngFor="let item of pageContent; index as index" class="pointer">
                <td (click)="$event.stopPropagation()">
                    <mat-checkbox class="table-item"
                        [checked]="item.selected"
                        (change)="item.selected = $event.checked"
                    ></mat-checkbox>
                </td>
                <td><label [style.opacity]="item.id_strict ? 1 : 0.4" class="table-item">{{item.id}}</label></td>
                <td *ngFor="let field of data.vf"><label class="table-item pointer">{{item.otherfield['en'][field.value]}}</label></td>
            </tr>
        </table>

        </div>
        <label>{{selectedCount}} {{pageContent.length > 1 ? "instances" : "instance"}} selected for importation</label>
    </ng-container>
</app-popup-layout>