<div class="header"> 
    <label>{{label}}</label>
    <button mat-mini-fab color="primary" class="addItem" (click)="create()"><mat-icon>add</mat-icon></button>
</div>
<div class="indent">
    <label *ngIf="acts.length === 0" class="info">No custom actions bound.</label>
    <div *ngFor="let action of acts">
        <app-action-editor 
            [obj]="action"
            [controllers]="controllers"
            (delete)="del(action)"
            [groups]="groups"
            [package_name]="package_name"
            [entity]="entity"
            [actionIndex]="acts.indexOf(action)"
            appScrollTarget="{{action.id}}"
        ></app-action-editor>
        <div class="spacepls"></div>
    </div>
</div>
