<div class="context-menu">

    <button mat-icon-button class="close-button" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="add-menu" *ngIf="state === 'add' ">
        <div>
            <mat-form-field *ngIf="searchType !== 'Package'">
                <input matInput placeholder="Search" [(ngModel)]="searchValue" (ngModelChange)="onValueChange()">
            </mat-form-field>
            <autocomplete
                    class="autocomplete"
                    *ngIf="searchType === 'Package'"
                    name="Choose a package"
                    [values]="packages"
                    [(value)]="package"
                    (valueChange)="onPackageChange($event)">
            </autocomplete>
            <mat-form-field class="search-type">
                <mat-select [(ngModel)]="searchType" (ngModelChange)="onValueChange()">
                    <mat-select-trigger>
                        <mat-icon class="icon-search-small">{{iconMapping[searchType]}}</mat-icon>{{searchType}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let type of searchTypes" [value]="type">
                        <mat-icon>{{ iconMapping[type] }}</mat-icon>{{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-list class="scrollable-list">
            <mat-list-item *ngFor="let data of filterData">
                <div class="list-item-content" (click)="add(data)">
                    <span class="left-content">
                        {{(searchType === "Package") ? data.name : data.pack+':'+data.name}}
                    </span>
                </div>
            </mat-list-item>
        </mat-list>
        <button mat-flat-button class="button-router" (click)="add()">
            <mat-icon>filter_tilt_shift</mat-icon>
            <label class="space-left">Add router</label>
        </button>
    </div>

    <div class="edit-menu" *ngIf="state === 'edit' ">
        <div *ngIf="selectedNode">
            <div *ngIf="selectedNode.data">
                <div class="title-container">
                    <h4>{{selectedNode.data.name}}</h4>
                    <button mat-mini-fab class="edit-button" (click)="openModalNameDescritpion()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Data">
                        <div class="params-container">
                            <p class="description">{{selectedNode.data.description}}</p>
                            <table>
                                <tr>
                                    <th class="input-content">Input</th>
                                    <th class="value-content">Value</th>
                                </tr>
                                <tr *ngFor="let pair of selectedNode.data.params | keyvalue">
                                    <td>
                                        <div class="input-container">
                                            <mat-icon class="type"
                                                [title]="pair.value.type">{{typeIcon[pair.value.type]}}</mat-icon>
                                            <label [title]="pair.value.description">{{pair.key}}</label>
                                            <mat-icon class=" icon-required" *ngIf="pair.value.required"
                                                title="required">
                                                priority_high
                                            </mat-icon>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="value-container">
                                            <ng-container *ngIf="getValueLink(pair.key) as value; else elseBlock">
                                                <span class="value">{{ value }}</span>
                                            </ng-container>
                                            <ng-template #elseBlock>
                                                <span class="value">{{ getParamValue(pair.key) }}</span>
                                                <div class="button-container">
                                                    <button mat-mini-fab (click)="openModalInput(pair)">
                                                        <mat-icon>edit</mat-icon>
                                                    </button>
                                                    <button mat-mini-fab class="delete-button"
                                                        *ngIf="!pair.value.required && getParamValue(pair.key)"
                                                        (click)="deleteParam(pair.key)">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="output-schema-info" *ngIf="selectedNode.data.response?.schema">
                                <h5 class="output-title">Output</h5>
                                <div class="output-info-row">

                                    <span class="output-key">Type:</span>
                                    <span class="output-value">
                                        {{ selectedNode.data.response.schema.type }}
                                    </span>
                                    <mat-icon class="type" [title]="selectedNode.data.response.schema.type">
                                        {{ typeIcon[selectedNode.data.response.schema.type] }}
                                    </mat-icon>
                                </div>
                                <div class="output-info-row" *ngIf="selectedNode.data.response.schema.usage">
                                    <span class="output-key">Description:</span>
                                    <span class="output-value">{{ selectedNode.data.response.schema.usage }}</span>
                                </div>
                                <div class="output-info-row">
                                    <span class="output-key">Quantity:</span>
                                    <span class="output-value">
                                        {{
                                            selectedNode.data.response.schema.qty === 'many'
                                                ? 'Array'
                                                : selectedNode.data.response.schema.qty === 'one'
                                                    ? 'Single value'
                                                    : selectedNode.data.response.schema.qty
                                        }}
                                    </span>
                                </div>
                                <div class="output-info-row" *ngIf="selectedNode.data.response['content-type']">
                                    <span class="output-key">Content-Type:</span>
                                    <span class="output-value">{{ selectedNode.data.response['content-type'] }}</span>
                                </div>
                            </div>

                        </div>
                    </mat-tab>
                    <mat-tab label="Appearance">
                        <div class="ui-content">
                            <mat-form-field>
                                <mat-label>Change the icon</mat-label>
                                <mat-select [(ngModel)]="selectedNode.icon">
                                    <mat-select-trigger>
                                        <mat-icon class="icon-search-small">{{selectedNode.icon}}</mat-icon>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let icon of icons" [value]="icon">
                                        <mat-icon>{{icon}}</mat-icon>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Change the color</mat-label>
                                <mat-select [(ngModel)]="selectedNode.color">
                                    <mat-select-trigger>
                                        <label>{{ selectedNode.color }}</label>
                                        <label [style.color]="selectedNode.color"> #</label>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let color of colors" [value]="color">
                                        <label>{{ color }}</label>
                                        <label [style.color]="color"> #</label>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div *ngIf="!selectedNode.data">
                <p>This router receives these nodes as input :</p>
                <div class="nodes-router-container">
                    <ul>
                        <li *ngFor="let node of getNodesSourceRouter()">{{node.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="selectedLink">
            <h4 style="margin-bottom: 15px;">Mapping :</h4>
            <div class="link-container">
                <table>
                    <tr>
                        <th>Output</th>
                        <th>Input</th>
                    </tr>
                    <tr *ngFor="let link of getLinks()">
                        <td>
                            <div class="output-container">
                                <mat-icon class="type"
                                    [title]="link.reference.data.response.schema.type">{{typeIcon[link.reference.data.response.schema.type]}}</mat-icon>
                                <label>{{link.reference.name}}</label>
                            </div>
                        </td>
                        <td>
                            <mat-form-field *ngIf="link.target.data">
                                <mat-select [(ngModel)]="link.target_param"
                                    (ngModelChange)="deleteParamAfterMapping(link.target, link.target_param)">
                                    <mat-select-trigger>
                                        <label>{{ link.target_param }}</label>
                                    </mat-select-trigger>
                                    <mat-option></mat-option>
                                    <ng-container *ngFor="let pair of link.target.data.params | keyvalue">
                                        <mat-option
                                          *ngIf="isCompatible(link.reference, pair.value)"
                                          [value]="pair.key"
                                        >
                                          <mat-icon [title]="pair.value.type">
                                            {{ typeIcon[pair.value.type] }}
                                          </mat-icon>
                                          {{ pair.key }}
                                        </mat-option>
                                      </ng-container>


                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>