<div class="context-menu" *ngIf="state === 'add-controller' ">
    <mat-form-field *ngIf="searchType !== 'Package'">
        <input matInput placeholder="Filter" [(ngModel)]="searchValue" (ngModelChange)="onValueChange()">
    </mat-form-field>
    <app-autocomplete class="autocomplete" *ngIf="searchType === 'Package'" [values]="packages" [(value)]="package"
        (valueChange)="onPackageChange($event)">
    </app-autocomplete>
    <mat-form-field class="search-type">
        <mat-select [(ngModel)]="searchType" (ngModelChange)="onValueChange()">
            <mat-select-trigger>
                <mat-icon class="icon-search-small">{{iconMapping[searchType]}}</mat-icon>{{searchType}}
            </mat-select-trigger>
            <mat-option *ngFor="let type of searchTypes" [value]="type">
                <mat-icon>{{ iconMapping[type] }}</mat-icon>{{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-list class="scrollable-list">
        <mat-list-item *ngFor="let data of filterData">
            <div class="list-item-content">
                <span class="left-content">
                    {{(searchType === "Package") ? data.name : data.package+':'+data.name}}
                </span>
                <button mat-icon-button (click)="add()" class="right-content">
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </div>
        </mat-list-item>
    </mat-list>
</div>