<div class="context-menu">

    <button mat-icon-button class="close-button" (click)="close()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="add-menu" *ngIf="state === 'add' ">
        <div>
            <mat-form-field *ngIf="searchType !== 'Package'">
                <input matInput placeholder="Filter" [(ngModel)]="searchValue" (ngModelChange)="onValueChange()">
            </mat-form-field>
            <app-autocomplete class="autocomplete" *ngIf="searchType === 'Package'" name="Choose a package"
                [values]="packages" [(value)]="package" (valueChange)="onPackageChange($event)">
            </app-autocomplete>
            <mat-form-field class="search-type">
                <mat-select [(ngModel)]="searchType" (ngModelChange)="onValueChange()">
                    <mat-select-trigger>
                        <mat-icon class="icon-search-small">{{iconMapping[searchType]}}</mat-icon>{{searchType}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let type of searchTypes" [value]="type">
                        <mat-icon>{{ iconMapping[type] }}</mat-icon>{{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-list class="scrollable-list">
            <mat-list-item *ngFor="let data of filterData">
                <div class="list-item-content" (click)="add(data)">
                    <span class="left-content">
                        {{(searchType === "Package") ? data.name : data.package+':'+data.name}}
                    </span>
                </div>
            </mat-list-item>
        </mat-list>
        <button mat-flat-button class="button-router" (click)="add()">
            <mat-icon>filter_tilt_shift</mat-icon>
            <label class="space-left">Add router</label>
        </button>
    </div>

    <div class="edit-menu" *ngIf="state === 'edit' ">
        <mat-tab-group *ngIf="selectedNode" animationDuration="0ms">
            <mat-tab label="Mapping">
                <div class="params-content">
                    <p>{{selectedNode.data.name}}</p>
                    <p class="description">{{selectedNode.data.description}}</p>
                    <table>
                        <tr>
                            <th class="input-content">Input</th>
                            <th class="value-content">Value</th>
                        </tr>
                        <tr *ngFor="let pair of selectedNode.data.params | keyvalue">
                            <td>
                                <div class="input-container">
                                    <mat-icon class="input-type"
                                        [title]="pair.value.type">{{typeIcon[pair.value.type]}}</mat-icon>
                                    <label [title]="pair.value.description">{{pair.key}}</label>
                                    <mat-icon class=" icon-required" *ngIf="pair.value.required" title="required">
                                        priority_high
                                    </mat-icon>
                                </div>
                            </td>
                            <td>
                                <div class="value-container">
                                    <ng-container *ngIf="getSourceLink(pair.key) as sourceLink; else elseBlock">
                                        <span class="value" [title]="getControllerName(sourceLink,
                                            pair.key)">{{ sourceLink }}</span>
                                    </ng-container>
                                    <ng-template #elseBlock>
                                        <span class="value">{{ getParamsValue(pair.key) }}</span>
                                        <button mat-mini-fab class="edit-button" (click)="openModal(pair)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-tab>
            <mat-tab *ngIf="selectedNode.data" label="Appearance">
                <div class="ui-content">
                    <mat-form-field>
                        <mat-label>Change the name</mat-label>
                        <input matInput [(ngModel)]="selectedNode.name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Change the icon</mat-label>
                        <mat-select [(ngModel)]="selectedNode.icon">
                            <mat-select-trigger>
                                <mat-icon class="icon-search-small">{{selectedNode.icon}}</mat-icon>
                            </mat-select-trigger>
                            <mat-option *ngFor="let icon of icons" [value]="icon">
                                <mat-icon>{{icon}}</mat-icon>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Change the color</mat-label>
                        <mat-select [(ngModel)]="selectedNode.color">
                            <mat-select-trigger>
                                <label>{{ selectedNode.color }}</label>
                                <label [style.color]="selectedNode.color"> #</label>
                            </mat-select-trigger>
                            <mat-option *ngFor="let color of colors" [value]="color">
                                <label>{{ color }}</label>
                                <label [style.color]="color"> #</label>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div *ngIf="selectedLink" class="link-content">
            <div *ngIf="selectedLink.from.data">
                <p>Description of the output : {{selectedLink.from.data.response.schema.description}}</p>
                <p>Type of the output : {{selectedLink.from.data.response.schema.type}}</p>
                <p>With what input should we link the output ?</p>
                <mat-form-field>
                    <mat-select [value]="getTargetValue()" (selectionChange)="onSelectionChange($event)">
                        <mat-option *ngFor="let pair of selectedLink.to.data.params | keyvalue" [value]="pair.key">
                            {{pair.key}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="!selectedLink.from.data">
                <div *ngFor="let parameter of getParamsLink()">
                    <p>Output : {{parameter.source}} ({{getControllerName(parameter.source)}})</p>
                    <mat-form-field>
                        <mat-select [value]="parameter.target" (selectionChange)="onSelectionChange($event, parameter)">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let pair of selectedLink.to.data.params | keyvalue" [value]="pair.key">
                                {{pair.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>