@import "src/theme.scss";

.nameholder {
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: space-between;

    .left {
        display: flex;
        align-items: center;
        
        .name {
            margin-left: .5em;
            font-size: 1.5em;
        }
    }

    .right {
        color : mat-color($maincolor);
        
        button {
            margin-left: .5em;
        }
    }


}

.primary {
    color : mat-color($maincolor)!important;
}