<div class="item-pretty" [class.selected]="selected_item && selected_item === item" (click)="select.emit(item)">
    <div class="real-holder">
        <mat-icon *ngIf="item.icon" class="item-icon">{{item.icon}}</mat-icon>
        <div class="item-content">
            <label class="item-label">{{item.label}}</label>
            <mat-icon *ngIf="item.type === 'parent'" class="parent-indicator">chevron_right</mat-icon>
        </div>
    </div>
    
    <div class="actions">
        <button *ngIf="item.type === 'parent'" 
                mat-icon-button 
                color="primary" 
                (click)="addChild(); $event.stopPropagation()"
                matTooltip="Add child">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button
                (click)="ondelete()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="item.type === 'parent'" 
     class="indent"
     cdkDropList
     [cdkDropListData]="item.children"
     (cdkDropListDropped)="drop($event)" appScrollTarget="{{item.id}}">
    <app-item-editor cdkDrag  
                     *ngFor="let child of item.children; index as i"
                     [item]="child"
                     [selected_item]="selected_item"
                     (select)="select.emit($event)"
                     (deleteMe)="deleteChild(i)" appScrollTarget="{{child.id}}">
    </app-item-editor>
</div>