
<div *ngIf="viewSchema" class="full margin-container">
    <div class="controller-container-top">
        <div class="flex-labels">
            <label class="viewname">View : </label>
            <label class="viewname accent">{{ viewSchema["name"] || view.name }}</label>
        </div>
        <div>
            <label class="subpart-title">{{ viewSchema["description"] || "No description" }}</label>
        </div>
        <br>
        <div *ngFor="let table of obk(viewSchema['layout'])">
            <app-item-viewer *ngIf="table === 'items'"
                [item_scheme]="viewSchema['layout'][table]"
            >
            </app-item-viewer>
            <app-groups-viewer *ngIf="table === 'groups'"
                [groups_scheme]="viewSchema['layout'][table]"
            >
            </app-groups-viewer>
        </div>
        <br>
    </div>
    <div class="controller-container-bottom">
        <br>
        <mat-grid-list [cols]="4" rowHeight="5.5em" class="max-width button-pkg-container">
            <mat-grid-tile>
                <button mat-button class="view-info-button" (click)="onclickEdit()"><mat-icon>edit</mat-icon><label>edit</label></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="view-info-button" (click)="onclickTranslations()"><mat-icon>translate</mat-icon><label>Translations</label></button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>