:host {
  padding: 2em;
  background-color: #f9fafc;
  border-radius: 1em;
  height: 100%;
  display: block;

  .policy-details {
    margin-top: 16px;
    font-size: 14px;
    color: #333;

    p {
      margin: 8px 0;
    }

    strong {
      color: #007bff;
    }
  }
}
