@import "src/theme.scss";

:host {
    .holder {
        border-radius: .5em;
        padding-top: .5em;
        padding-left: 1em;
        padding-right: 1em;
        box-shadow: 0 2px 8px rgba(0,0,0,0.06);

        mat-form-field {
            margin-right: .75em;

            &.longfield {
                width: 20em;
            }
        }

        mat-checkbox {
            margin-right: .75em;
        }

        .inline {
            display: inline-block;

            &.group-item-holder {
            }

            &.group-item {
                background-color: mat-color($maincolor,A400,.1);
                padding-left: .5em;
                border-radius: .5em;
                margin-left: 1em;

                mat-icon {
                    transform: scale(.7);
                }
            }
        }
    }
}