<!-- Step for package -->
<ng-container *ngIf="step === 0" class="max-height step">
    <div class="max-height step">
        <div class="title-container max-width">
            <mat-label class="solo">Select Package</mat-label>
        </div>
        <mat-grid-list cols="4" class="max-height">
            <!-- Package search list, on the left of the screen -->
            <mat-grid-tile colspan="1" class="max-height">
                <app-search-list class="max-height max-width"
                    [data]="packages"
                    [selected_node]="selected_package"
                    (nodeSelect)="onclickPackageSelect($event)"
                    (nodeUpdate)="onupdatePackage($event)"
                    (nodeDelete)="ondeletePackage($event)"
                    (nodeCreate)="oncreatePackage($event)">
                </app-search-list>
            </mat-grid-tile>
            <!-- Package content -->
            <mat-grid-tile colspan="3" class="max-height">
                content
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</ng-container>
<!-- Step for class -->
<ng-container *ngIf="step === 1">
    <div class="max-height step">
        <div class="title-container">
            <button (click)="getBack()" mat-icon-button matTooltip="Primary" color="primary" aria-label="Go back">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <mat-label>{{ selected_package }}\ Select class</mat-label>
        </div>
        <mat-grid-list cols="4" class="max-height">
            <!-- Class search list, on the left of the screen -->
            <mat-grid-tile colspan="1" class="max-height">
                <app-search-list class="max-height max-width"
                    [data]="classes_for_selected_package"
                    [selected_node]="selected_class"
                    (nodeSelect)="onclickClassSelect($event)"
                    (nodeUpdate)="onupdateClass($event)"
                    (nodeDelete)="ondeleteClass($event)"
                    (nodeCreate)="oncreateClass($event)">
                </app-search-list>
            </mat-grid-tile>
            <!-- Class content -->
            <mat-grid-tile colspan="3" class="max-height" id="schema">
                <pre [innerHTML]="getJSONSchema()">
                </pre>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</ng-container>
<!-- Step for field -->
<ng-container *ngIf="step === 2" class="max-height step">
    <div class="max-height step">
        <div class="title-container max-width">
            <button (click)="getBack()" mat-icon-button matTooltip="Primary" color="primary" aria-label="Go back">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <mat-label>{{ selected_package }}\{{ selected_class }}</mat-label>
            <button (click)="regenerateSchemaAndPublish()" mat-icon-button matTooltip="Primary" color="accent" aria-label="Go back">
                <mat-icon>publish</mat-icon>
            </button>
        </div>
        <mat-grid-list cols="4" class="max-height">
            <!-- Field search list, on the left of the screen -->
            <mat-grid-tile colspan="1" class="max-height">
                <app-search-list-field class="max-height max-width"
                    [data]="fields_for_selected_class"
                    [selected_node]="selected_field"
                    (nodeSelect)="onclickFieldSelect($event)"
                    (nodeDelete)="ondeleteField($event)"
                    (nodeCreate)="oncreateField($event)">
                </app-search-list-field>
            </mat-grid-tile>
            <!-- Field content -->
            <mat-grid-tile colspan="3" class="max-height">
                <app-field-content *ngIf="selected_field != undefined" class="max-height max-width"
                    [fields]="fields_for_selected_class"
                    [actual_field]="selected_field"
                    [types]="types"
                    [actual_class]="selected_package + '\\' + selected_class"
                    (updateField)="onUpdateSchema($event)">
                </app-field-content>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</ng-container>
