<div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <mat-spinner></mat-spinner>
</div>
<!-- Step for class -->
<ng-container *ngIf="step === 1 && !loading">
    <div class="full">
        <app-in-header
            [buttonBack]="true"
            (onButtonBack)="getBack()"
        >
            <label class="package-label">{{ selected_package }}</label>\<label class="model-label"><mat-icon>data_object</mat-icon>Models</label>
        </app-in-header>
        <app-classic-layout>
            <app-search-list list class="full"
                [data]="classes_for_selected_package"
                [selected_node]="selected_class"
                (nodeSelect)="onclickClassSelect($event)"
                (nodeUpdate)="onupdateClass($event)"
                (nodeDelete)="ondeleteClass($event)"
                (nodeCreate)="oncreateClass()"
            >
            </app-search-list>
            <app-model-info sidepane class="full"
                [selected_package]="selected_package"
                [selected_class]="selected_class"
                [class_scheme]="schema"
                (changeStep)="onChangeStep($event)"
            >
            </app-model-info>
        </app-classic-layout>
    </div>
</ng-container>
<!-- Step for field -->
