<div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <mat-spinner></mat-spinner>
</div>
<!-- Step for class -->
<ng-container *ngIf="step === 1 && !loading">
    <div class="max-height step">
        <div class="title-container">
            <button (click)="getBack()" mat-icon-button matTooltip="Primary" color="primary" aria-label="Go back">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <mat-label>{{ selected_package }}</mat-label><mat-label class="model-label"><mat-icon>data_object</mat-icon>Models</mat-label>
        </div>
        <mat-grid-list cols="4" class="grid-full-size">
            <!-- Class search list, on the left of the screen -->
            <mat-grid-tile colspan="1" class="max-height">
                <app-search-list class="max-height max-width"
                    [data]="classes_for_selected_package"
                    [selected_node]="selected_class"
                    (nodeSelect)="onclickClassSelect($event)"
                    (nodeUpdate)="onupdateClass($event)"
                    (nodeDelete)="ondeleteClass($event)"
                    (nodeCreate)="oncreateClass()">
                </app-search-list>
            </mat-grid-tile>
            <!-- Class content -->
            <mat-grid-tile colspan="3" class="max-width" id="schema">
                <app-model-info class="max-height max-width"
                [selected_package]="selected_package"
                [selected_class]="selected_class"
                [class_scheme]="schema"
                (changeStep)="onChangeStep($event)"
                >
                </app-model-info>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</ng-container>
<!-- Step for field -->
