@import "src/theme.scss";


.node {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 10px 0;
    border: solid 1px #ddd;
}


.selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: mat-color($maincolor, A100, .1);
    z-index: 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 4px mat-color($maincolor, A100);
    -moz-box-shadow: 0px 0px 4px mat-color($maincolor, A100);
    box-shadow: 0px 0px 4px mat-color($maincolor, A100);
}

.editbutton {
    position : absolute;
    right : 0;
    top : 0;
    transform: scale(0.8) translate(40%,-40%);

}

.field {
    height: 15px;
    display: flex;
    align-items: center;
    padding : 0 5px;

    mat-icon {
        transform: scale(0.5);
    }

    .info {
        display: flex;
        flex: 1 0;
    }

    .tags {
        flex: 0 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        mat-icon {
            width: 14px;
        }

    }

}


.field.altbg {
    background-color: #ddd;
}


.name {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 15px 5px 15px;
}

.unique {
    font-weight: bold;
    color : mat-color($accentcolor);
    display : inline-block;
    width: 14.0px;
    font-size: .8em;
    text-align: center;
    transform: translateY(0.5px);
}

