@import "src/theme.scss";


.node {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px 0;
    border: solid 1px #ddd;
}


.selected {
    background-color: mat-color($maincolor,A100);
    .field.altbg {
        background-color:  mat-color($maincolor,A200);
    }
}

.editbutton {
    position : absolute;
    right : 0;
    top : 0;
    transform: scale(0.8) translate(40%,-40%);
    
}

.field {
    height: 15px;
    display: flex;
    align-items: center;
    padding-right : 15px;
    padding-left: 5px;
    mat-icon {
        transform: scale(0.5);
    }
    label {
        font-size: 13px;
    }
}


.field.altbg {
    background-color: #ddd;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 0px 15px 5px 15px;
}

.unique {
    font-weight: bold;
    color : mat-color($accentcolor);
    display : inline-block;
    width: 14.0px;
    font-size: .8em;
    text-align: center;
    transform: translateY(0.5px);
}

