<div class="holder">
    <div class="header-row">
        <app-toggling-button
            *ngIf="obj._has_access || obj._has_domain"
            [enabledIcon]="'expand_less'"
            [disabledIcon]="'expand_more'"
            [baseState]="bigDisp"
            (toggle)="bigDisp = $event"
            [disabled]="false"
        ></app-toggling-button>
        
        <mat-form-field class="flex-small">
            <input matInput appFocusableField="action-{{obj.id}}-id" placeholder="id" [value]="obj.id" (change)="obj.id = $event.target.value">
        </mat-form-field>
        
        <mat-form-field class="flex-medium">
            <input matInput appFocusableField="action-{{obj.id}}-label" placeholder="label" [value]="obj.label" (keyup)="obj.label = $event.target.value">
        </mat-form-field>
        <div class="icon-preview">
            <mat-icon>{{obj.icon}}</mat-icon>
        </div>
        
        <mat-form-field class="flex-small">
            <input matInput appFocusableField="action-{{obj.id}}-icon" placeholder="icon" [value]="obj.icon" (keyup)="obj.icon = $event.target.value">
            <a matSuffix href="https://fonts.google.com/icons?icon.set=Material+Icons" target="_blank">
                <mat-icon class="help-icon">help</mat-icon>
            </a>
        </mat-form-field>
    </div>

    <div class="content-row">
        <mat-form-field class="flex-small">
            <input matInput appFocusableField="action-{{obj.id}}-controller" placeholder="controller"
            [(ngModel)]="obj.controller"
            (keyup)="tap($event.target.value)"
            [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        
        <mat-form-field class="flex-large">
            <input matInput appFocusableField="action-{{obj.id}}-description" placeholder="description" [value]="obj.description" (keyup)="obj.description = $event.target.value">
        </mat-form-field>
    </div>

    <div class="actions-row">
        <mat-checkbox [(ngModel)]="obj.confirm">confirm</mat-checkbox>
        <mat-checkbox [(ngModel)]="obj._has_access" (ngModelChange)="changeBigDispBy(obj._has_access)">restrict access</mat-checkbox>
        <mat-checkbox *ngIf="obj._domainable" [(ngModel)]="obj._has_domain">visibility</mat-checkbox>

        <div class="spacer"></div>

        <button mat-mini-fab color="primary" (click)="show_custom_params()" title="Custom parameters">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="deleteMe()" title="Delete action">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <div *ngIf="bigDisp" class="expanded-content">
        <div *ngIf="obj._has_access" class="section">
            <editor-access
                [obj]="obj.access"
                [groups]="groups"
            ></editor-access>
        </div>
        <div *ngIf="obj._has_domain" class="section">
            <app-property-domain-component
                [value]="obj.visible.dom"
                [name]="'oui'"
                [class]="packageName + '\\' + entity"
                (valueChange)="obj.visible.dom = $event"
            ></app-property-domain-component>
        </div>
    </div>
</div>