<div class="parent aspectratio" (mouseup)="updateDragged(undefined)">
    <div class="section-selector-container flex" 
        cdkDropList 
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="group_obj" 
        (cdkDropListDropped)="drop_section($event)"
    >
        <div cdkDrag 
            title="{{section.id}} : {{section.label}}"
            *ngFor="let section of group_obj" 
            [class.selected]="selected === section" 
            class="section-selector" 
            (click)="selected = section"
        >
            <mat-icon cdkDragHandle class="grabable">drag_indicator</mat-icon>
            <label>
                {{section.label === "" ? "UNNAMED" : section.label}}
            </label>
        </div>
    </div>
    <div class="section-editor" *ngIf="selected" >
        <label class="category-title">Section : {{selected.label === "" ? "UNNAMED" : selected.label}}</label>
        <button mat-icon-button 
            (click)="editSection(selected)"
            title="Edit properties of section {{selected.label}}"
        >
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
            (click)="delSection()"
            title="Delete selection : {{selected.label}}"
        >
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-button
            (click)="addRow()"
            title="Create a new row in {{selected.label}}"
        >
            <mat-icon>add</mat-icon> row
        </button>
        <div
            class="drop-zone"
            cdkDropList 
            cdkDropListOrientation="vertical"
            [cdkDropListData]="selected.rows" 
            (cdkDropListDropped)="drop_row($event)"
            cdkDropListGroup
        >
            <div cdkDrag [class.visible]="row._has_domain" class="row" *ngFor="let row of selected.rows">
                <mat-icon cdkDragHandle class="grabable">drag_indicator</mat-icon>
                <label class="category-title">Row : {{row.label === "" ? "UNNAMED" : row.label}}</label>
                <button mat-icon-button
                    (click)="editRow(row)"
                    title="Edit properties of row {{row.label === '' ? 'UNNAMED' : row.label}}"
                >
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button
                    (click)="delRow(row)"
                    title="Delete row {{row.label === '' ? 'UNNAMED' : row.label}}"
                >
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-button
                    (click)="addCol(row)"
                    title="Add a new column in {{row.label === '' ? 'UNNAMED' : row.label}}"
                >
                    <mat-icon>add</mat-icon> column
                </button>
                <div class="flex drop-zone"
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    [cdkDropListData]="row.columns"
                    (cdkDropListDropped)="drop_col($event)"
                >
                    <div cdkDrag [class.visible]="col._has_domain" class="column" *ngFor="let col of row.columns" [style.width.%]="(col.width/row.totalwidth)*100">
                        <mat-icon cdkDragHandle class="grabable">drag_indicator</mat-icon>
                        <label class="category-title">Column : {{col.label === "" ? "UNNAMED" : col.label}}</label>
                        <button mat-icon-button
                            (click)="editColumn(col)"
                            title="Edit properties of column {{col.label === '' ? 'UNNAMED' : col.label}}"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button
                            (click)="delColumn(row,col)"
                            title="Delete column {{col.label === '' ? 'UNNAMED' : col.label}}"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-button
                            (click)="addItem(col)"
                            title="Add a new item in {{col.label === '' ? 'UNNAMED' : col.label}}"
                        >
                            <mat-icon>add</mat-icon> item
                        </button>
                        <div (appDraginfo)="updateDragged(undefined)" id="draginfo" >
                            <div *ngIf="col.items.length === 0">
                                <div [appDragtracker]="{data_ref:col.items,ref:undefined,before:true,dragged:dragged,obj:selected}" class="boundary left"
                                ></div>
                            </div>
                            <div *ngFor="let item of col.items" style="display: inline-block;" [style.width.%]=" item.width > 100/12 ? item.width : 100/12 ">
                                <div *ngIf="!(dragged === item)" [appDragtracker]="{data_ref:col.items,ref:item,before:true,dragged:dragged,obj:selected}" class="boundary left"
                                ></div>
                                <!-- ITEM -->
                                <div
                                    [class.visible]="item.has_domain && item.is_visible_domain"
                                    [class.invisible]="item.has_domain && !item.is_visible_domain && !item.visible_bool"
                                    (dragstart)="updateDragged(item)"
                                    ondragend="sendStopDrag()"
                                    [class.track]="dragged === item"
                                    class="item-visualiser" 
                                    draggable="true"
                                    title="Type : {{item.type}}"
                                >
                                    <mat-icon class="grabable">drag_indicator</mat-icon>
                                    <div class="valuedisp">
                                        {{item.value}}
                                        <mat-icon class="invisibleicon"
                                            *ngIf="item.has_domain && !item.is_visible_domain && !item.visible_bool"
                                        >visibility_off</mat-icon>
                                    </div>
                                    
                                    <div class="button-holder">
                                        <button mat-icon-button
                                            (click)="editItem(item)"
                                            title="Edit item"
                                        >
                                            <mat-icon class="btn-icon">edit</mat-icon>
                                        </button>
                                        <button mat-icon-button
                                            (click)="delItem(col,item)"
                                            title="Delete item"
                                        >
                                            <mat-icon class="btn-icon">delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <!--     -->
                                <div *ngIf="!(dragged === item)" [appDragtracker]="{data_ref:col.items,ref:item,before:false,dragged:dragged,obj:selected}" class="boundary right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
