<div class="parent aspectratio" (mouseup)="updateDragged(undefined)">
    <div class="section-selector-container-container flex">
        <div class="section-selector-container flex"
            cdkDropList
            cdkDropListOrientation="horizontal"
            [cdkDropListData]="group_obj"
            (cdkDropListDropped)="drop_section($event)"
        >
            <div cdkDrag
                title="{{section.id}} : {{section.label}}"
                *ngFor="let section of group_obj"
                [class.selected]="selected === section"
                class="section-selector"
                (click)="selected = section"
            >
                <mat-icon cdkDragHandle class="grabable">drag_indicator</mat-icon>
                <label>
                    {{section.label === "" ? "UNNAMED" : section.label}}
                </label>
                <button mat-icon-button [matMenuTriggerFor]="menuSection"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menuSection="matMenu">
                    <button mat-menu-item
                        (click)="editSection(section)"
                        title="Edit properties of section {{section.label}}"
                    >
                        <mat-icon>edit</mat-icon> Edit  {{section.label}}
                    </button>
                    <button mat-menu-item
                        (click)="delSection()"
                        title="Delete selection : {{section.label}}"
                    >
                        <mat-icon>delete</mat-icon> Delete {{section.label}}
                    </button>
                </mat-menu>
            </div>
        </div>
        <div>
            <button mat-button (click)="addSection()"><mat-icon>add</mat-icon> Section</button>
        </div>
    </div>
    <div class="section-editor" *ngIf="selected" >
        <div  class="part-header">
            <div class="part-header-left"></div>
            <div class="part-header-right">
                <button mat-button
                    (click)="addRow()"
                    title="Create a new row in {{selected.label}}"
                >
                    <mat-icon>add</mat-icon> row
                </button>
            </div>
        </div>

        <div
            class="drop-zone"
            cdkDropList
            cdkDropListOrientation="vertical"
            [cdkDropListData]="selected.rows"
            (cdkDropListDropped)="drop_row($event)"
            cdkDropListGroup
        >
            <div cdkDrag [class.visible]="row._has_domain" class="row" *ngFor="let row of selected.rows">
                <div class="part-header">
                    <div class="part-header-right">
                        <mat-icon cdkDragHandle class="grabable">drag_indicator</mat-icon>
                        <label class="category-title">Row : {{row.label === "" ? "UNNAMED" : row.label}}</label>
                        <mat-icon  *ngIf="row.totalwidth > 100" class="color-warn">warning</mat-icon>
                        <label *ngIf="row.totalwidth > 100" class="color-warn">Column total width exceeds 100%</label>
                    </div>
                    <div class="part-header-left">
                        <button mat-button
                            (click)="addCol(row)"
                            title="Add a new column in {{row.label === '' ? 'UNNAMED' : row.label}}"
                        >
                            <mat-icon>add</mat-icon> column
                        </button>
                        <button mat-icon-button [matMenuTriggerFor]="menuRow"><mat-icon>more_vert</mat-icon></button>
                        <mat-menu #menuRow="matMenu">
                            <button mat-menu-item
                                (click)="editRow(row)"
                                title="Edit properties of row {{row.label === '' ? 'UNNAMED' : row.label}}"
                            >
                                <mat-icon>edit</mat-icon> Edit {{row.label === '' ? 'UNNAMED' : row.label}}
                            </button>
                            <button mat-menu-item
                                (click)="delRow(row)"
                                title="Delete row {{row.label === '' ? 'UNNAMED' : row.label}}"
                            >
                                <mat-icon>delete</mat-icon> Delete {{row.label === '' ? 'UNNAMED' : row.label}}
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex drop-zone"
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    [cdkDropListData]="row.columns"
                    (cdkDropListDropped)="drop_col($event)"
                >
                    <div cdkDrag [class.visible]="col._has_domain" class="column" *ngFor="let col of row.columns" [style.width.%]="(row.totalwidth > 100) ? (col.width/row.totalwidth)*100 : col.width">
                        <div class="part-header">
                            <div class="part-header-left">
                                <mat-icon cdkDragHandle class="grabable">drag_indicator</mat-icon>
                                <label class="category-title">Column : {{col.label === "" ? "UNNAMED" : col.label}}</label>
                            </div>
                            <div class="part-header-right">
                                <button mat-button
                                    (click)="addItem(col)"
                                    title="Add a new item in {{col.label === '' ? 'UNNAMED' : col.label}}"
                                >
                                    <mat-icon>add</mat-icon> item
                                </button>
                                <button mat-icon-button [matMenuTriggerFor]="menuCol"><mat-icon>more_vert</mat-icon></button>
                                <mat-menu #menuCol="matMenu">
                                    <button mat-menu-item
                                        (click)="editColumn(col)"
                                        title="Edit properties of column {{col.label === '' ? 'UNNAMED' : col.label}}"
                                    >
                                        <mat-icon>edit</mat-icon> Edit {{col.label === '' ? 'UNNAMED' : col.label}}
                                    </button>
                                    <button mat-menu-item
                                        (click)="delColumn(row,col)"
                                        title="Delete column {{col.label === '' ? 'UNNAMED' : col.label}}"
                                    >
                                        <mat-icon>delete</mat-icon> Delete {{col.label === '' ? 'UNNAMED' : col.label}}
                                </button>
                                </mat-menu>
                            </div>
                        </div>
                        <div (appDraginfo)="updateDragged(undefined)" id="draginfo" >
                            <div *ngIf="col.items.length === 0">
                                <div [appDragtracker]="{data_ref:col.items,ref:undefined,before:true,dragged:dragged,obj:selected}" class="boundary left"
                                ></div>
                            </div>
                            <div *ngFor="let item of col.items" style="display: inline-block;" [style.width.%]=" item.width > 100/12 ? item.width : 100/12 ">
                                <div *ngIf="!(dragged === item) && dragged" [appDragtracker]="{data_ref:col.items,ref:item,before:true,dragged:dragged,obj:selected}" class="boundary left"></div>
                                <!-- ITEM -->
                                <div class="inlinediv">
                                    <div
                                        [class.visible]="item.has_domain && item.is_visible_domain"
                                        [class.invisible]="item.has_domain && !item.is_visible_domain && !item.visible_bool"
                                        (dragstart)="updateDragged(item)"
                                        ondragend="sendStopDrag()"
                                        [class.track]="dragged === item"
                                        class="item-visualiser"
                                        draggable="true"
                                        title="Type : {{item.type}}"
                                    >
                                        <mat-icon class="grabable">drag_indicator</mat-icon>
                                        <div class="valuedisp">
                                            {{item.label.trim() !== "" && item.type === "field" ? item.label.trim()+" ["+item.value+"]" : item.value}}
                                            <mat-icon class="invisibleicon"
                                                *ngIf="item.has_domain && !item.is_visible_domain && !item.visible_bool"
                                                title="this item has its visible property set to false"
                                            >visibility_off</mat-icon>
                                            <mat-icon class="invisibleicon"
                                                *ngIf="item.has_widget && item.widgetForm.heading"
                                                title="this item will be displayed bigger due to its widget heading set to true"
                                            >text_increase</mat-icon>
                                            <mat-icon class="invisibleicon"
                                                *ngIf="item.readonly"
                                                title="this item has its readonly property set to true"
                                            >do_not_touch</mat-icon>
                                        </div>

                                        <div class="button-holder">
                                            <button mat-icon-button
                                                (click)="editItem(item)"
                                                title="Edit item"
                                            >
                                                <mat-icon class="btn-icon">edit</mat-icon>
                                            </button>
                                            <button mat-icon-button
                                                (click)="delItem(col,item)"
                                                title="Delete item"
                                            >
                                                <mat-icon class="btn-icon">delete</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--     -->
                                <div *ngIf="!(dragged === item) && dragged" [appDragtracker]="{data_ref:col.items,ref:item,before:false,dragged:dragged,obj:selected}" class="boundary right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
