@import '/src/theme.scss';

:host {
    width: 100%;
    height: 100%;
}

.margin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.accent {
    color: mat-color($maincolor);
}

.package-info-button {
    color: mat-color($maincolor) !important;
    background-color: #e4e4e4 !important;
    min-width: 80%;
    height: 80%;
}

.package-info-button label {
    font-size: 1.1em;
}

.package-info-button mat-icon {
    margin-right: 1em;
    transform: scale(1.2);
}

.class-container-title {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.class-container-title-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.class-container-title-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.class-disp-title {
    font-size: 1.5em;
}

.class-container-top {
    height: calc(75% - 80px);
    overflow-y: scroll;
}

.class-container-bottom {
    height: 25%;
    margin-top: 10px;
}

.button-pkg-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.accent-color {
    color: mat-color($accentcolor);
}

.preicon {
    transform: scale(.8);
}

.pre-label-bold {
    font-weight: 800;
}

.field-prop-container {
    display: flex;
    margin-left: auto;
    margin-right: 1em;
    height: 24px;
    align-items: center;

    .field-prop {
        display: flex;
        border-radius: 8px;
        justify-content: center;
        padding: 0 3px;
        width: 40px;
        height: 100%;
        margin-left: 4px;
        background-color: mat-color($accentcolor, A100);

        &.unique {
            font-size: 100%;
        }
    }
}

a.sub-part-title {
    cursor: help;
}

.paneltitle {
    display: inline-flex;
    align-items: center;
    width: 20%;

    label {
        margin-left: .5em;
        font-size: 1.1em;
    }

    .typeicon {
        padding: .1em .5em;
        background-color: mat-color($maincolor, A100);
        display: flex;
        align-items: center;
        border-radius: 8px;
    }
}