<div class="margin-container"*ngIf="selected_class !== ''">
    <div class="class-container-title">
        <div class="class-disp-title">
            <label>Class : </label><label class="accent">{{selected_package}}\{{ selected_class }}</label>
        </div>
        <br>
    </div>
    <div class="class-container-top">
        <div class="sub-part-class">
            <label class="sub-part-title">Extends : </label>
            <label class="accent-color sub-part-title" *ngIf="class_scheme['parent'] === 'equal\\orm\\Model'">
                Model
            </label>
            <a class="accent-color sub-part-title" *ngIf="class_scheme['parent'] !== 'equal\\orm\\Model'" (click)="getref(class_scheme['parent'])">
                {{class_scheme['parent']}}
            </a>
        </div>
        <br>
        <div class="sub-part-class">
            <label class="sub-part-title">Database table : </label>
            <label class="accent-color sub-part-title">{{class_scheme['table']}}</label>
        </div>
        <br>
        <div class="sub-part-class">
            <label class="sub-part-title">Fields (</label><label class="sub-part-title accent">{{fieldNumber}}</label><label class="sub-part-title">) :</label>
            <mat-grid-list cols="2"  rowHeight="5.5em" class="pre-field">
                <mat-grid-tile *ngFor="let key of obk(this.class_scheme['fields'])">
                    <div class='field-class-item'>
                        <div class='field-class-p1'>
                            <label class='pre-main-color pre-label-bold'>{{ key }}</label>
                            <label class='pre-label-bold'>:</label>
                            <label class='pre-accent-color pre-label-bold'>{{ this.class_scheme["fields"][key]["type"] }}</label>
                            <label *ngIf="
                                this.class_scheme['fields'][key]['type'] === 'many2one'
                                ||this.class_scheme['fields'][key]['type'] === 'many2many'
                                ||this.class_scheme['fields'][key]['type'] === 'one2one'
                                ||this.class_scheme['fields'][key]['type'] === 'one2many'
                            "
                            class='pre-label-bold'>
                                ({{ this.class_scheme["fields"][key]["foreign_object"] }})
                            </label>
                            <div class="field-sep"></div>
                            <div *ngIf="fieldHasProp(key)" class="field-prop-container">
                                <span 
                                    *ngIf="this.class_scheme['fields'][key]['required']" 
                                    class='material-icons preicon pre-main-color'
                                    title="{{key}} is required"
                                >
                                    priority_high
                                </span>
                                <span 
                                    *ngIf="this.class_scheme['fields'][key]['readonly']" 
                                    class='material-icons preicon pre-main-color'
                                    title="{{key}} is readonly"
                                >
                                    do_not_touch
                                </span>
                                <span 
                                    *ngIf="this.class_scheme['fields'][key]['multilang']" 
                                    class='material-icons preicon pre-main-color'
                                    title="{{key}} is multilang"
                                >
                                    translate
                                </span>
                                <div 
                                    *ngIf="this.class_scheme['fields'][key]['unique']" 
                                    class='field-unique-prop'
                                    title="{{key}} is unique"
                                >
                                    <label class="pre-main-color pre-label-bold">1</label>
                                </div>
                            </div>
                        </div>
                        <div class="field-class-p2">
                            <label>{{ this.class_scheme["fields"][key]["description"] }}</label>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <br>
    </div>
    <div class="class-container-bottom">
        <br>
        <mat-grid-list [cols]="4" rowHeight="50%" class="max-width button-pkg-container">
            <mat-grid-tile>
                <button mat-button class="package-info-button" (click)="fieldOnClick()"><mat-icon>text_format</mat-icon><label>Fields</label></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="package-info-button" (click)="viewOnClick()"><mat-icon>view_quilt</mat-icon><label>Views</label></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="package-info-button" ><mat-icon>call_split</mat-icon><label>Workflows</label></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="package-info-button" ><mat-icon>question_mark</mat-icon><label>Roles</label></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="package-info-button" ><mat-icon>policy</mat-icon><label>Policies</label></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="package-info-button" ><mat-icon>shortcut</mat-icon><label>Actions</label></button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<div class="margin-container" *ngIf="selected_class === ''">
    <div class="class-disp-title" >
        <label>Select a class to see its information.</label>
    </div>
</div>