@import '/src/theme.scss';

:host {
    width: 100%;
    height: 100%;
}

.class-disp-title {
    font-size: 1.5em;
}

.margin-container {
    margin: 1em;
    padding: 2em;
    border-radius: 10px;
    background-color: whitesmoke;
    height: calc(100% - 4em);
    width: 100%;
}

.mat-figure {
    overflow-y: hidden;
}

.accent {
    color: mat-color($maincolor);
}

.package-info-button {
    color : mat-color($maincolor) !important;
    background-color:  #e4e4e4 !important;
    min-width: 80%;
    height: 80%;
}

.package-info-button label {
    font-size: 1.1em;
}

.package-info-button mat-icon {
    margin-right: 1em;
    transform: scale(1.2);
}

.button-pkg-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-top: 2em;
}

.class-container-title {
    height: 60px;
}

.class-container-top {
    height: calc(75% - 60px);
    overflow-y: scroll;
}

.class-container-bottom {
    height: 25%;
}

.sub-part-class .sub-part-title {
    font-size: 1.3em;
}

.accent-color {
    color: mat-color($accentcolor);
}

.main-color {
    color: mat-color($maincolor);
}

.pre-accent-color {
    color: mat-color($accentcolor,A100)!important;
}

.pre-main-color {
    color: mat-color($maincolor,A100)!important;
}



.preicon {
    transform: scale(.8);
}

.pre-label-bold {
    font-weight: 800;
}

.pre-field {
    font-size: 1em;
}

.field-class-item {
    background-color: white;
    width: 97.5%;
    height: 5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}

.field-sep {
    width: 1em;
}

.field-unique-prop {
    width: 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
}

.field-class-p1,.field-class-p2 {
    height: 2.5em;
    display: flex;
    align-items: center;
}

.field-prop-container {
    border: solid grey 1px;
    display: flex;
    border-radius: .75em;
    min-width: 3em;
    justify-content: center;
    padding: 0em .5em;
    margin-left: auto;
}

a.sub-part-title{
    cursor: help;
}