<app-inner-header
[buttonBack]="true"
(onButtonBack)="goBack()"
[buttonCancel]="true"
(onButtonCancel)="cancel()"
[buttonCancelDisabled]="(buttonStateService.buttonsState$ | async)?.cancel || false"
[buttonSave]="true"
(onButtonSave)="save()"
[buttonSaveDisabled]="isSaving"
[customButton]="true"
[customButtonList]="[{icon:'bug_report', name:'Show JSON', disabled:false}]"
(onCustomButton)="customButtonBehavior($event)">
<div class="header-labels">
  <label>Workflow of </label><label class="component-color-package colorized">{{packageName}}</label><label class="separator">\</label><label class="component-color-class colorized">{{modelName}}</label>
</div>
</app-inner-header>

  <app-classic-layout>

    <app-generic-list *ngIf='(roles$ | async) as roles; else loadingTemplate' list
        [type_item]="'roles'"
        [itemList]="roles | keyvalue"
        [selectedItem]="selectedRole"
        [icon]="'question_mark'"
        (select)="selectRole($event)"
        (addItem)="addRole($event)"
        (deleteItem)="deleteRole($event)"
        (onrefresh)="refreshRoles()"
        [loading]="loading">
    </app-generic-list>

    <ng-template #loadingTemplate list>
        <div class="loading-container">
          <mat-spinner></mat-spinner>
          <label>Loading policies...</label>
        </div>
      </ng-template>

    <info-role sidepane
    *ngIf="selectedRole"
    [role]="selectedRole"
    [availableRoles]="(availableRoles$ | async) || []"
    [package_name]="packageName"
    [model_name]="modelName"
    (onrefresh)="refreshRoles()"
    >

    </info-role>
</app-classic-layout>