<div class="node">
    <div class="icon" [style.background-color]="node.color">
        <mat-icon>{{node.icon}}</mat-icon>
    </div>
    <div class="name">
        <label>{{node.data.name}}</label>
    </div>
    <div class="buttons" *ngIf="state.includes('edit')">
        <button mat-mini-fab class="edit-button" color="primary" (click)="edit()"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab class="delete-button" (click)="delete()"><mat-icon>delete</mat-icon></button>
    </div>
</div>