<div *ngIf="error">
    Something went wrong...
</div>
<div class="app-inner-header">
    <app-inner-header
            [buttonBack]="true"
            (onButtonBack)="goBack()"
            [buttonCancelOne]="true"
            [buttonCancelOneDisabled]="paramListHistory.length < 2"
            (onButtonCancelOne)="cancelOneChange()"
            [buttonRevertOne]="true"
            [buttonRevertOneDisabled]="paramFutureHistory.length === 0"
            (onButtonRevertOne)="revertOneChange()"
            [buttonSave]="true"
            (onButtonSave)="save()"
            [customButton]="true"
            [customButtonList]="[{name:'show JSON', icon:'bug_report', disabled:false}]"
            (onCustomButton)="handleCustomButton($event)">
        <div class="header-labels">
            <label>Parameters of </label>
            <div class="component-color-package borders">
                <label>{{controller_name.split("_")[0]}}</label>
            </div>
            <label class="separator">_</label>
            <div class="component-color-controller borders">
                <label>{{ controller_name.split("_").slice(1).join('_') }}</label>
            </div>
        </div>
    </app-inner-header>
</div>

<div *ngIf="loading" style="display: flex; align-items: center; justify-content: center; flex-direction: column;" class="full">
    <mat-spinner></mat-spinner>
    <label style="font-size: 20px; margin-top: 1em;">Loading...</label>
</div>
<app-classic-layout *ngIf="!loading">
    <app-param-list
            [list]="paramList"
            [selectedIndex]="selectedIndex"
            (select)="onSelection($event)"
            (CRUD)="onChange($event)">
    </app-param-list>

    <app-param-side-pane sidepane
            [param]="paramList[selectedIndex]"
            [types]="types"
            [usages]="usages"
            [scheme]="sch"
            [modelList]="modelList"
            (CRUD)="onChange($event)">
    </app-param-side-pane>
</app-classic-layout>
