:host {
    width: 100%;
    height: 100%;


    .header-labels {
        display: flex;
        align-items: center;
        gap: 0.5em;
        flex-wrap: wrap;

      .borders{
        padding: 0 .3em;
        border-radius: .2em;
      }

      .separator {
        font-weight: bold;
      }
      }

    
}