
<div *ngIf="param" class="sidepane">
    <div class="name-container">
        <div>
            <label>Parameter </label>
            <ng-container *ngIf="!nameBeingEdited">
                <label class="maincolor">{{param.name}}</label>
                <button mat-icon-button color="primary" (click)="setNameBeingEdited(true)"><mat-icon>edit</mat-icon></button>
            </ng-container>
            <ng-container *ngIf="nameBeingEdited">
                <mat-form-field class="editname">
                    <input class="maincolor" matInput [formControl]="nameControl">
                </mat-form-field>
                <button mat-icon-button color="primary" (click)="setNameBeingEdited(false)"><mat-icon>cancel</mat-icon></button>
                <button mat-icon-button color="primary" [disabled]="nameControl.invalid" (click)="changeName()"><mat-icon>save</mat-icon></button>
            </ng-container>
        </div>
    </div>
    <div class="scrollable content">
        <div>
            <mat-form-field>
                <mat-label>Type</mat-label>
                <mat-select [value]="param.type" (valueChange)="changeTypeValue($event)">
                    <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
            <app-usages
                (CRUD)="CRUD.emit($event)"
                [usage]="param.usage"
                [type]="param.type"
                [name]="param.name"
            >
            </app-usages>
            <ng-container *ngIf="param.type === 'one2one' || param.type === 'many2one' || param.type === 'one2many' ">
                <mat-icon style="transform: translateY(.3em);">arrow_right</mat-icon>
                <mat-form-field class="longfield">
                    <mat-label>Foreign object</mat-label>
                    <input matInput [formControl]="foreignControl" (keydown)="noCancel($event)" [matAutocomplete]="autoFor" >
                    <mat-autocomplete autoActiveFirstOption #autoFor>
                        <mat-option *ngFor="let opt of filteredModelList" [value]="opt">{{opt}}</mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </ng-container>
        </div>
        <div>
            <mat-form-field class="desc">
                <mat-label>Description</mat-label>
                <textarea matInput [value]="param.description" (keydown)="noCancel($event)" (change)="changeDesc($event.target.value)"></textarea>
            </mat-form-field>
        </div>
        <div class="checkboxdiv">
            <mat-checkbox [checked]="param.required" (change)="changeRequired($event.checked)">Required</mat-checkbox>
            <mat-checkbox [checked]="param._has_default" (change)="change_has_default($event.checked)">Default</mat-checkbox>
            <mat-checkbox [checked]="param._visibility" (change)="change_visibility($event.checked)">Visibility</mat-checkbox>
            <mat-checkbox [checked]="param._has_selection" (change)="change_has_selection($event.checked)">Selection</mat-checkbox>
            <mat-checkbox [disabled]="param.type !== 'one2one' && param.type !== 'many2one' && param.type !== 'many2many'" [checked]="param._has_domain" (change)="change_has_domain($event.checked)">Domain</mat-checkbox>
        </div>
        <div *ngIf="param._has_default" class="conditionalcontainer">
            <div class="title">
                <label>Default</label>
            </div>
            <app-type-input
                [value]="param.default"
                [type]="param.type"
                name="Default"
                (changed)="changeDefault($event)"
            ></app-type-input>
        </div>
        <div *ngIf="param._has_selection" class="conditionalcontainer">
            <div class="title">
                <label>Selection</label>
                <button mat-button (click)="addToSelection()"><mat-icon>add</mat-icon> Add item</button>
            </div>
            <div *ngFor="let item of param.selection; index as index" class="selection-el">
                <div class="t-input-holder">
                    <app-type-input
                        [value]="item"
                        [type]="param.type"
                        name="item n°{{index+1}}"
                    ></app-type-input>
                    <button mat-icon-button (click)="deleteSelection(index)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
        <div *ngIf="param._visibility" class="conditionalcontainer">
            <div class="title">
                <label>Visibility</label>
            </div>
            <mat-radio-group aria-label="Visibility type" [value]="param._visibility_is_domain" (change)="change_visibility_is_domain($event.value)">
                <mat-radio-button style="margin-right: 1em;" [value]="false">Boolean</mat-radio-button>
                <mat-radio-button [value]="true">Domain</mat-radio-button>
            </mat-radio-group>
            <br>
            <br>
            <app-property-domain-component2 *ngIf="param._visibility_is_domain"
                [value]="param.visible_domain"
                [class]="scheme"
                (valueChange)="changeVisible_Domain($event)"
            >
            </app-property-domain-component2>
            <mat-checkbox *ngIf="!param._visibility_is_domain" [checked]="param.visible_bool" (change)="changeVisible_bool($event.checked)">visible</mat-checkbox>
        </div>
        <div *ngIf="param._has_domain" class="conditionalcontainer">
            <div class="title">
                <label>Domain</label>
            </div>
            <app-property-domain-component
                    [class]="param.foreign_object"
                    [value]="param.domain"
                ></app-property-domain-component>
        </div>
    </div>
</div>