<div *ngIf="!field" class="sidepane">

</div>
<div *ngIf="field" class="sidepane">
    <div class="name-container">
        <mat-form-field>
            <mat-label>Field</mat-label>
            <input matInput [disabled]="inherited || field.isUneditable" [value]="field.name" (keydown)="noCancel($event)" (change)="changeName($event.target.value)" [appFocusableField]="field.name + '-name'">
        </mat-form-field>
    </div>
    <div class="bannerholder">
        <div *ngIf="field.isUneditable" class="infoBanner">
            <label>This field is not overridable from workbench because it is used by the database logic of eQual</label>
        </div>
        <div *ngIf="!field.isUneditable && inherited" class="infoBanner">
            <label>This field is inherited from the parent class. Its name cannot be changed here. </label><a style="cursor :pointer;" (click)="navigateToParent()">see the parent model</a>
        </div>
    </div>
    <mat-tab-group class="full" [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="selectedTabIndexChange.emit($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon style="margin-right: 1em;">bolt</mat-icon> Basic
            </ng-template>
            <div class="scrollable content">
                <div>
                    <mat-form-field *ngIf="typeDirective['type']">
                        <mat-label>Type</mat-label>
                        <mat-select [disabled]="field.isUneditable" [value]="field.type" (valueChange)="changeTypeValue($event)" [appFocusableField]="field.name + '-type'">
                            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-container *ngIf="typeDirective['function']">
                        <mat-icon style="transform: translateY(.3em);">arrow_right</mat-icon>
                        <mat-form-field>
                            <mat-label>Function</mat-label>
                            <input matInput [disabled]="field.isUneditable" [value]="field.function" (keydown)="noCancel($event)" (change)="changeFunction($event.target.value)" [appFocusableField]="field.name + '-function'">
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="typeDirective['result_type']">
                        <br>
                        <mat-form-field *ngIf="typeDirective['type']">
                            <mat-label>Result type</mat-label>
                            <mat-select [disabled]="field.isUneditable" [value]="field.resultType" (valueChange)="changeResultType($event)" [appFocusableField]="field.name + '-result_type'">
                                <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                    <app-usages *ngIf="finalTypeDirective['usage']"
                        (CRUD)="CRUD.emit($event)"
                        [usage]="field.usage"
                        [type]="field.finalType"
                        [name]="field.name"
                        [disabled]="field.isUneditable"
                    >
                    </app-usages>
                    <ng-container *ngIf="finalTypeDirective['foreign_object']">
                        <mat-icon style="transform: translateY(.3em);">arrow_right</mat-icon>
                        <app-field-autocomplete
                            name="Foreign object"
                            [value]="field.foreign_object"
                            [values]="models"
                            (valueChange)="changeForeignObject($event)"
                            [disabled]="field.isUneditable"
                            [appFocusableField]="field.name + '-foreign_object'"
                            width="15em"
                        >
                        </app-field-autocomplete>
                    </ng-container>
                    <ng-container *ngIf="finalTypeDirective['foreign_field']">
                        <mat-icon style="transform: translateY(.3em);">arrow_right</mat-icon>
                        <app-field-autocomplete
                            name="Foreign field"
                            [value]="field.foreign_field"
                            [values]="_fields"
                            (valueChange)="changeForeignField($event)"
                            [disabled]="field.isUneditable"
                            [appFocusableField]="field.name + '-foreign_field'"
                            width="15em"
                        >
                        </app-field-autocomplete>
                    </ng-container>
                    <ng-container *ngIf="finalTypeDirective['alias']">
                        <mat-icon style="transform: translateY(.3em);">arrow_right</mat-icon>
                        <app-field-autocomplete 
                            name="Alias"
                            [value]="field.alias"
                            [values]="fields"
                            (valueChange)="changeAlias($event)"
                            [disabled]="field.isUneditable"
                            [appFocusableField]="field.name + '-alias'"
                        >
                        </app-field-autocomplete>
                    </ng-container>
                </div>
                <div>
                    <mat-form-field *ngIf="finalTypeDirective['rel_table']" class="thirdfield">
                        <mat-label>rel_table</mat-label>
                        <input matInput [disabled]="field.isUneditable" [value]="field.relTable" (keydown)="noCancel($event)" (change)="changeRelTable($event.target.value)" [appFocusableField]="field.name + '-rel_table'">
                    </mat-form-field>
                    <mat-form-field *ngIf="finalTypeDirective['rel_local_key']" class="thirdfield">
                        <mat-label>rel_local_key</mat-label>
                        <input matInput [disabled]="field.isUneditable" [value]="field.relLocalKey" (keydown)="noCancel($event)" (change)="changeRelLocalKey($event.target.value)" [appFocusableField]="field.name + '-rel_local_key'">
                    </mat-form-field>
                    <mat-form-field *ngIf="finalTypeDirective['rel_foreign_key']" class="thirdfield">
                        <mat-label>rel_foreign_key</mat-label>
                        <input matInput [disabled]="field.isUneditable" [value]="field.relForeignKey" (keydown)="noCancel($event)" (change)="changeRelForeignKey($event.target.value)" [appFocusableField]="field.name + '-rel_foreign_key'">
                    </mat-form-field>
                </div>
                <div *ngIf="finalTypeDirective['description']">
                    <mat-form-field class="fieldarea">
                        <mat-label>Description</mat-label>
                        <textarea matInput [disabled]="field.isUneditable" [value]="field.description" (keydown)="noCancel($event)" (change)="changeDesc($event.target.value)" [appFocusableField]="field.name + '-description'"></textarea>
                    </mat-form-field>
                </div> 
                <mat-grid-list rowHeight="3em" cols="4">
                    <mat-grid-tile *ngIf="typeDirective['readonly']">
                        <div class="full checkboxcontainer">
                            <mat-checkbox [disabled]="field.isUneditable" [checked]="field.readonly" (change)="changeReadonly($event.checked)" [appFocusableField]="field.name + '-readonly'">readonly</mat-checkbox>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="typeDirective['required']">
                        <div class="full checkboxcontainer">
                            <mat-checkbox [disabled]="field.isUneditable" [checked]="field.required" (change)="changeRequired($event.checked)" [appFocusableField]="field.name + '-required'">required</mat-checkbox>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="typeDirective['multilang']">
                        <div class="full checkboxcontainer">
                            <mat-checkbox [disabled]="field.isUneditable" [checked]="field.multilang" (change)="changeMultilang($event.checked)" [appFocusableField]="field.name + '-multilang'">multilang</mat-checkbox>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="typeDirective['unique']">
                        <div class="full checkboxcontainer">
                            <mat-checkbox [disabled]="field.isUneditable" [checked]="field.unique" (change)="changeUnique($event.checked)" [appFocusableField]="field.name + '-unique'">unique</mat-checkbox>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="typeDirective['store']">
                        <div class="full checkboxcontainer">
                            <mat-checkbox [disabled]="field.isUneditable" [checked]="field.store" (change)="changeStore($event.checked)" [appFocusableField]="field.name + '-store'">store</mat-checkbox>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="typeDirective['instant']">
                        <div class="full checkboxcontainer">
                            <mat-checkbox [disabled]="field.isUneditable" [checked]="field.instant" (change)="changeInstant($event.checked)" [appFocusableField]="field.name + '-instant'">instant</mat-checkbox>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="typeDirective['default']">
                        <div class="full checkboxcontainer">
                            <mat-checkbox [disabled]="field.isUneditable" [checked]="field._hasDefault" (change)="changeHasDefault($event.checked)" [appFocusableField]="field.name + '-has_default'">default value</mat-checkbox>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="typeDirective['selection']">
                        <div class="full checkboxcontainer">
                            <mat-checkbox [disabled]="field.isUneditable" [checked]="field._hasSelection" (change)="changeHasSelection($event.checked)" [appFocusableField]="field.name + '-has_selection'">selection</mat-checkbox>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <div *ngIf="field._hasDefault && finalTypeDirective['default']" class="conditionalcontainer">
                    <div class="title">
                        <label>Default</label>
                    </div>
                    <type-input
                        [value]="field.default"
                        [type]="field.finalType"
                        name="default"
                        (changed)="changeDefault($event)"
                        [disabled]="field.isUneditable"
                        [appFocusableField]="field.name + '-default'"
                    ></type-input>
                </div>
                <div *ngIf="field._hasSelection && finalTypeDirective['selection']" class="conditionalcontainer selection-flex">
                    <div class="title selection-title-flex">
                        <label>Selection</label>
                        <button mat-button (click)="addToSelection()" [disabled]="field.isUneditable" [appFocusableField]="field.name + '-selection-add'"><mat-icon>add</mat-icon> Add item</button>
                    </div>
                    <div *ngFor="let item of field.selection; index as index" class="selection-el selection-el-flex">
                        <div class="t-input-holder t-input-holder-flex">
                            <type-input
                                [value]="item"
                                [type]="field.finalType"
                                name="option {{index+1}}"
                                (changed)="changeSelection(index,$event)"
                                [disabled]="field.isUneditable"
                                [appFocusableField]="field.name + '-selection-' + index"
                            ></type-input>
                            <button mat-icon-button (click)="deleteSelection(index)" [disabled]="field.isUneditable"><mat-icon>delete</mat-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab *ngIf="!field.isUneditable">
            <ng-template mat-tab-label >
                <mat-icon style="margin-right: 1em;">tune</mat-icon> Advanced
            </ng-template>
            <div class="scrollable content advanced-layout">
                <div class="advanced-section" *ngIf="typeDirective['onupdate'] || typeDirective['onDelete'] || typeDirective['ondelete'] || typeDirective['onDetach'] || typeDirective['ondetach'] || typeDirective['onRevert'] || typeDirective['onrevert']">
                    <div class="advanced-section-header">
                        <div class="advanced-section-title">
                            <mat-icon>bolt</mat-icon>
                            <label>Triggers</label>
                        </div>
                        <span>Handle trigger hooks when this field is modified</span>
                    </div>
                    <div class="advanced-grid">
                        <mat-form-field *ngIf="typeDirective['onUpdate'] || typeDirective['onupdate']" class="advanced-field">
                            <mat-label>onupdate</mat-label>
                            <input matInput [value]="field.onUpdate" (keydown)="noCancel($event)" (change)="changeOnUpdate($event.target.value)">
                        </mat-form-field>
                        <mat-form-field *ngIf="typeDirective['onDelete'] || typeDirective['ondelete']" class="advanced-field">
                            <mat-label>ondelete</mat-label>
                            <input matInput [value]="field.onDelete" (keydown)="noCancel($event)" (change)="changeOnDelete($event.target.value)">
                        </mat-form-field>
                        <mat-form-field *ngIf="typeDirective['onDetach'] || typeDirective['ondetach']" class="advanced-field">
                            <mat-label>ondetach</mat-label>
                            <input matInput [value]="field.onDetach" (keydown)="noCancel($event)" (change)="changeOnDetach($event.target.value)">
                        </mat-form-field>
                        <mat-form-field *ngIf="typeDirective['onRevert'] || typeDirective['onrevert']" class="advanced-field">
                            <mat-label>onrevert</mat-label>
                            <input matInput [value]="field.onRevert" (keydown)="noCancel($event)" (change)="changeOnRevert($event.target.value)">
                        </mat-form-field>
                    </div>
                </div>

                <div class="advanced-section" *ngIf="typeDirective['sort']">
                    <div class="advanced-section-header">
                        <div class="advanced-section-title">
                            <mat-icon>sort</mat-icon>
                            <label>Sort</label>
                        </div>
                        <span>Edit sorting behavior for this field</span>
                    </div>
                    <mat-form-field class="advanced-field narrow">
                        <mat-label>Order</mat-label>
                        <mat-select [value]="field.sort">
                            <mat-option value="asc">asc</mat-option>
                            <mat-option value="desc">desc</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="advanced-section" *ngIf="typeDirective['dependencies']">
                    <div class="advanced-section-header with-toggle">
                        <div>
                            <div class="advanced-section-title">
                                <mat-icon>schema</mat-icon>
                                <label>Dependents (fields)</label>
                            </div>
                            <span>Select computed fields to refresh when this field changes</span>
                        </div>
                        <mat-icon class="toggleicon" [class.on]="field._hasDependencies" (click)="changeHasDependencies(!field._hasDependencies)">{{field._hasDependencies?"toggle_on":"toggle_off"}}</mat-icon>
                    </div>
                    <div *ngIf="field._hasDependencies" class="dependencies-layout">
                        <div class="dependency-input-row">
                            <app-field-autocomplete
                                name="Add a dependency"
                                [value]="dependencyInput"
                                [values]="computedFields"
                                (valueChange)="dependencyInput = $event"
                                (keydown.enter)="addToDependencies()"
                            >
                            </app-field-autocomplete>
                            <button mat-raised-button color="primary" (click)="addToDependencies()">
                                <mat-icon>add</mat-icon>
                                Add
                            </button>
                        </div>
                        <div class="deps-holder">
                            <div *ngFor="let dep of field.dependencies; index as index" class="dependency-chip">
                                <label>{{dep}}</label>
                                <mat-icon class="pseudo-button" (click)="DeleteDependency(index)">close</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advanced-section" *ngIf="typeDirective['visible']">
                    <div class="advanced-section-header with-toggle">
                        <div>
                            <div class="advanced-section-title">
                                <mat-icon>visibility</mat-icon>
                                <label>Visibility</label>
                            </div>
                            <span>Edit field visibility as a domain expression</span>
                        </div>
                        <mat-icon class="toggleicon" [class.on]="field._hasVisible" (click)="changeHasVisible(!field._hasVisible)">{{field._hasVisible?"toggle_on":"toggle_off"}}</mat-icon>
                    </div>
                    <app-property-domain-component *ngIf="field._hasVisible"
                        [class]="entity"
                        [value]="field.visible"
                        (valueChange)="changeVisible($event)">
                    </app-property-domain-component>
                </div>

                <div class="advanced-section" *ngIf="typeDirective['domain']">
                    <div class="advanced-section-header with-toggle">
                        <div>
                            <div class="advanced-section-title">
                                <mat-icon>filter_alt</mat-icon>
                                <label>Domain</label>
                            </div>
                            <span>Edit relation domain for O2M fields</span>
                        </div>
                        <mat-icon class="toggleicon" [class.on]="field._hasDomain" (click)="changeHasDomain(!field._hasDomain)">{{field._hasDomain?"toggle_on":"toggle_off"}}</mat-icon>
                    </div>
                    <div class="advanced-object-hint">Target model: {{field.foreign_object || 'none'}}</div>
                    <app-property-domain-component *ngIf="field._hasDomain"
                        [class]="field.foreign_object"
                        [value]="field.domain"
                        (valueChange)="changeDomain($event)"
                    >
                    </app-property-domain-component>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>