<div *ngIf="route" class="route-container">
    <div>
        <app-toggling-button
            [enabledIcon]="'expand_less'"
            [disabledIcon]="'expand_more'"
            [baseState]="big_disp"
            (toggle)="big_disp = $event"
            [disabled]="false"
        ></app-toggling-button>
        <mat-form-field class="longfield">
            <mat-label>id</mat-label>
            <input matInput [(ngModel)]="route.id">
        </mat-form-field>
        <mat-form-field class="longfield">
            <mat-label>route</mat-label>
            <input matInput [(ngModel)]="route.route">
        </mat-form-field>
        <mat-form-field>
            <mat-label>label</mat-label>
            <input matInput [(ngModel)]="route.label">
        </mat-form-field>
        <mat-form-field class="longfield">
            <mat-label>description</mat-label>
            <input matInput [(ngModel)]="route.description">
        </mat-form-field>
        <div class="icon-preview">
            <mat-icon>{{route.icon}}</mat-icon>
        </div>
        <mat-form-field class="longfield">
            <input matInput placeholder="icon" [value]="route.icon" (keyup)="route.icon = $event.target.value">
            <a  matSuffix href="https://fonts.google.com/icons?icon.set=Material+Icons" target="_blank">
                <mat-icon class="halp">help</mat-icon>
            </a>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="route._has_context" (change)="$event.checked ? big_disp = true : big_disp = big_disp">context</mat-checkbox>
        <mat-checkbox [(ngModel)]="route._has_visible" (change)="$event.checked ? big_disp = true : big_disp = big_disp">visibility</mat-checkbox>
        <button mat-mini-fab><mat-icon>delete</mat-icon></button>
        <mat-icon cdkDragHandle style="cursor: grab;">drag_indicator</mat-icon>
    </div>
    <div *ngIf="big_disp" class="indent">
        <div *ngIf="route._has_visible" class="visible-drawer">
            <label>Visibility</label>
            <br>
            <app-property-domain-component
                [value]="route.visible.dom"
                [name]="'oui'"
                [class]="entity"
                (valueChange)="route.visible.dom = $event"
            ></app-property-domain-component>
        </div>
        <div *ngIf="route._has_context" class="context-drawer">
            <label>Context</label>
            <br>
            <mat-form-field class="longlongfield">
                <mat-label>Entity</mat-label>
                <input matInput [matAutocomplete]="auto" [(ngModel)]="route.context.entity" (keyup)="updateAutocomplete(route.context.entity)" (change)="refreshViewList()">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let model of filtered_model_list">{{model}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="longlongfield">
                <mat-label>View</mat-label>
                <mat-select [(ngModel)]="route.context.view">
                    <mat-option *ngFor="let view of ext_entity_view_list" [value]="view.split(':')[1]">{{view}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="route.context._has_domain">domain</mat-checkbox>
            <mat-checkbox [(ngModel)]="route.context.reset">reset</mat-checkbox>
            <div *ngIf="route.context._has_domain">
                <app-property-domain-component
                    [value]="route.context.domain.dom"
                    [name]="'oui'"
                    [class]="entity"
                    (valueChange)="route.context.domain.dom = $event"
                ></app-property-domain-component>
            </div>
        </div>
    </div>
</div>