<div class="info-container">
  <app-info-header
    [titleLabel]="title"
    [title]="item?.key"
    [copyText]="item?.key"
    [description]="item?.value.description">
  </app-info-header>

  <div class="info-details">
    <!-- Champs éditables -->
    <div *ngFor="let field of editableFields" class="editable-field">
        <strong>{{ field.label | titlecase }}:</strong>
        <input matInput
               [ngModel]="getNestedValue(item, field.key)"
               (ngModelChange)="updateField(field.key, $event)"
               placeholder="Enter {{ field }}">
      </div>


    <!-- Listes associées (ex: policies) -->
    <div *ngFor="let list of listFields" class="info-list">
      <strong>{{ list.label }}:</strong>

      <!-- Dropdown pour sélectionner un élément -->
      <mat-form-field>
        <mat-label>Select {{ list.label }}</mat-label>
        <mat-select [(ngModel)]="selectedListValue[list.key]">
          <mat-option *ngFor="let option of list.list" [value]="list.format? list.format(option) : option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Ajouter un élément à la liste -->
      <button mat-raised-button (click)="addItemToList(list.key)">Add {{ list.label }}</button>

      <!-- Liste des éléments -->
      <ul>
        <li *ngFor="let value of item[list.key.split('.')[0]][list.key.split('.')[1]] ; let i = index">
          <span>{{ list.format ? list.format(value) : value }}</span>
          <button mat-button (click)="removeItemFromList(list.key, i)">Remove</button>
        </li>
      </ul>
    </div>
  </div>
</div>
