<div *ngIf="loading" class="loader"><mat-spinner></mat-spinner></div>

<div class="searchbar">

    <mat-form-field class="input-query">
        <mat-icon matPrefix>filter_list</mat-icon>
        <input matInput placeholder="Filter" [formControl]="inputControl" (keyup)="onSearch()">
        <!--(keyup)="onSearch()"--->
        <button *ngIf="inputControl.value && inputControl.value !== ''" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="select-package">
        <mat-select [(value)]="search_scope" (valueChange)="onSelectChange()" >
            <mat-select-trigger><mat-icon class="select-icon component-icon component-color-{{search_scope}}">{{type_dict[search_scope].icon}}</mat-icon> {{type_dict[actual_scope].disp}}</mat-select-trigger>
            <mat-option *ngFor="let key of obk(type_dict)" [value]="key">
                <mat-icon class="component-icon component-color-{{key}}">{{type_dict[key].icon}}</mat-icon> {{type_dict[key].disp}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<mat-list class="list">

    <mat-list-item *ngFor="let node of filteredData" >
        <div class="node"
                [class.hover]="selected_node != node"
                [class.selected]="selected_node === node"
                [title]="get_node_title(node)">
            <div class="inner" (click)="onclickNodeSelect(node)">
                <label class="icon component-icon component-color-{{node.type}}"><mat-icon>{{type_dict[node.type].icon}}</mat-icon></label>
                <label class="prefix" *ngIf="node.type !== 'route'">{{ node.package ? (node.type === "do" || node.type === "get" || node.type === "view" ? "" : node.package+"\\") : ""}}{{node.name}}</label>
                <label class="name" *ngIf="node.type === 'route'">{{ node.package }}-{{node.more.split("-",1)[0]}}-{{node.name}}</label>
                <button mat-icon-button (click)="clickDelete(node)" class="delete"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </mat-list-item>

</mat-list>

<div class="adder" (click)="openCreator()">
    <mat-icon style="margin-right: 1em;">add</mat-icon> Create new component
</div>
