<div class="mixed-searchbar">
    <mat-form-field class="input search-bar">
        <mat-icon matPrefix class="icon">filter_list</mat-icon>
        <input matInput placeholder="Filter" [formControl]="inputcontrol" (keyup)="onSearch()">
        <!--(keyup)="onSearch()"--->
        <button *ngIf="inputcontrol.value && inputcontrol.value !== ''" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="mixed-search-select">
        <mat-select [(value)]="search_scope" class="" (valueChange)="onSelectChange()" >
            <mat-select-trigger> <mat-icon class="icon-search-small mixed-select-sel-{{search_scope}}">{{type_dict[search_scope].icon}}</mat-icon> {{type_dict[actual_scope].disp}}</mat-select-trigger>
            <mat-option *ngFor="let key of obk(type_dict)" [value]="key">
                <mat-icon class="mixed-select-sel-{{key}}">{{type_dict[key].icon}}</mat-icon> {{type_dict[key].disp}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="openCreator()" class="smallminifab">
        <mat-icon>add</mat-icon>
    </button>
</div>
<div *ngIf="loading">
    LOADING
</div>

<mat-list *ngIf="!loading" class="list">
    <cdk-virtual-scroll-viewport [itemSize]="48" class="virtual">
        <mat-list-item *cdkVirtualFor="let node of filteredData" class="">
            <div class="node_container mixed-sel-{{node.type}}" [class.node-hover]="selected_node != node" [class.node-selected]="selected_node === node">
                <div class="pointable node-text" (click)="onclickNodeSelect(node)">
                    <label class="type-info-mixed-sel type-mixed-sel-{{node.type}}"><mat-icon>{{type_dict[node.type].icon}}</mat-icon></label>
                    <label class="name-mixed-sel">{{node.type==='route'? current_root : ""}}{{ node.package ? (node.type === "do" || node.type === "get" ? "":node.package+"\\") : ""}}{{node.name}}</label>
                </div>
            </div>
        </mat-list-item>
    </cdk-virtual-scroll-viewport>
</mat-list>

