<div *ngIf="error" class="loader">
    <div>
        <label>This view is currently not supported for edition</label>
    </div>
    <div>
        <button mat-flat-button color="primary" (click)="goBack()">Go back</button>
    </div>
</div>
<div *ngIf="!error && loading" class="loader">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!error && !loading" class="full">
    <app-inner-header
            [buttonBack]="true"
            (onButtonBack)="goBack()"
            [buttonSave]="true"
            [buttonSaveDisabled]="!idCompliancy.ok"
            (onButtonSave)="save()"
            [buttonCancel]="true"
            (onButtonCancel)="cancel()"
            [customButton]="true"
            [customButtonList]="[{name:'Show JSON', icon:'bug_report', disabled: false}]"
            (onCustomButton)="handleCustomButton($event)">
            <div class="header-labels">
                <label class="component-color-package colorized">{{node.package_name}}</label>
                <label class="separator">›</label>
                <label [class.controllername]="viewObj.type === 'search'" [class.classname]="viewObj.type !== 'search'" class="component-color-class colorized">{{node.item.model}}</label>
                <label class="separator">›</label>
                <label class="component-color-view colorized">{{node.name.split(":")[1]}}</label>
            </div>
    </app-inner-header>
    <div class="feature-container">
        <label *ngIf="!idCompliancy.ok" class="error-message">ERROR : {{ (idDoublons.length > 0) ? "Some IDs are duplicated ("+idDoublons+")" : "Some items don't have an ID"}}</label>
        <div class="name">
            <mat-form-field class="inputlong">
                <input matInput placeholder="view name" [value]="viewObj.name"  (input)="viewObj.name = $event.target.value">
            </mat-form-field>
            <mat-form-field class="inputlonglong">
                <input matInput placeholder="view description" [value]="viewObj.description"  (input)="viewObj.description = $event.target.value">
            </mat-form-field>
            <mat-form-field>
                <mat-label>View type</mat-label>
                <mat-select [disabled]="true" [(value)]="viewObj.type">
                    <mat-option value="list">List</mat-option>
                    <mat-option value="form">Form</mat-option>
                    <mat-option value="search">Search</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-tab-group class="tab-group" [(selectedIndex)]="selectedTabIndex">
            <!-- Layout Tab -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-label-icon">dashboard</mat-icon>
                    <label>Layout</label>
                </ng-template>
                <app-layout-tab
                    [viewObj]="viewObj"
                    [entity]="entity"
                    [fields]="fields"
                    [groups]="groups"
                    [action_controllers]="action_controllers"
                    [class_scheme]="class_scheme"
                    [iconType]="icontype"
                    (viewObjChange)="onViewObjChange($event)"
                ></app-layout-tab>
            </mat-tab>

            <!-- Header Tab (non-search views only) -->
            <ng-container *ngIf="viewObj.type !== 'search'">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-label-icon">web</mat-icon>
                        <label>Header</label>
                    </ng-template>
                    <app-header-tab
                        [viewObj]="viewObj"
                        [groups]="groups"
                        [action_controllers]="action_controllers"
                        [entity]="this.node.package_name + '\\' + entity"
                        (viewObjChange)="onViewObjChange($event)"
                    ></app-header-tab>
                </mat-tab>

                <!-- Actions Tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-label-icon">open_in_browser</mat-icon>
                        <label>Actions</label>
                    </ng-template>
                    <app-actions-tab
                        [viewObj]="viewObj"
                        [action_controllers]="action_controllers"
                        [groups]="groups"
                        [entity]="entity"
                        (viewObjChange)="onViewObjChange($event)"
                    ></app-actions-tab>
                </mat-tab>

                <!-- Routes Tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-label-icon">directions</mat-icon>
                        <label>Routes</label>
                    </ng-template>
                    <app-routes-tab
                        [viewObj]="viewObj"
                        [entity]="entity"
                        (viewObjChange)="onViewObjChange($event)"
                    ></app-routes-tab>
                </mat-tab>

                <!-- Advanced Tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-label-icon">build</mat-icon>
                        <label>Advanced</label>
                    </ng-template>
                    <app-advanced-tab
                        [viewObj]="viewObj"
                        [entity]="entity"
                        [collect_controller]="collect_controller"
                        [class_scheme]="class_scheme"
                        [groups]="groups"
                        (viewObjChange)="onViewObjChange($event)"
                    ></app-advanced-tab>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
    </div>
</div>
