@import "src/theme.scss";

:host {
  overflow-y: scroll;
  width: 100%;
  height: 100%;

  .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    mat-spinner {
      margin: auto;
    }

    label {
      margin: 1em 0;
      font-size: 1.1em;
    }

    button {
      margin-top: 1em;
    }
  }

  .full {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    app-inner-header {
      flex-shrink: 0;

      .header-labels {
        display: flex;
        align-items: center;
        gap: 0.5em;
        flex-wrap: wrap;

        .colorized {
          padding: 0 0.3em;
          border-radius: 0.2em;
        }
        .separator {
          font-weight: bold;
        }

      }
    }

    .feature-container {
      flex: 1;
      height: calc(100% - 80px);
      padding: 0 24px 12px 24px;

      .mat-tab-body-wrapper,
      ::ng-deep .mat-tab-body-wrapper {
        overflow: visible !important;
        height: auto !important;
        max-height: none !important;
      }

      .mat-tab-body,
      ::ng-deep .mat-tab-body {
        overflow-y: visible !important;
        height: auto !important;
        max-height: none !important;
      }

      .error-message {
        color: red;
        margin-bottom: 1em;
        display: block;
      }

      .name {
        margin: 0 0 1em 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        align-items: flex-start;

        mat-form-field {
          &.inputlong {
            width: 20em;
            margin-right: 0.5em;
          }

          &.inputlonglong {
            width: 30em;
            margin-right: 0.5em;
          }
        }
      }

      .tab-group {
        height: calc(100% - 65px);
        margin-top: 24px;

        .tab-label-icon {
          margin-right: 0.5em;
        }
      }
    }
  }

  .page-title {
    font-size: 1.5em;
  }

  .flex {
    display: flex;
  }

  .flexcenter {
    display: flex;
    align-items: center;
  }

  .textarealong {
    width: 70em !important;
  }

  .item-drag-container {
    background-color: #F8F8FF;
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em 0;
  }

  .item-drag-container-label {
    font-size: 1.2em;
    color: mat-color($maincolor);
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: white;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .grabable {
    cursor: grab;
  }
}