<div #boundary
     class="full flowcontainer"
     [style.background-position]="bgPos"
     [class.grabbed]="grabbed"
     [class.create]="state === 'create-node'"
     (mousemove)="trackMouse($event)"
     (mouseup)="grabbed = false"
     (mousedown)="mouseDown()">

  <div class="full strings" [style.z-index]="state === 'edit-link' ? 1000 : undefined">
    <svg class="full" xmlns="http://www.w3.org/2000/svg">
      <style>
        tspan.material-icons {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 25px;
          line-height: 1;
          letter-spacing: normal;
          text-transform: none;
          display: inline-block;
          white-space: nowrap;
          word-wrap: normal;
          direction: ltr;
          -webkit-font-feature-settings: 'liga';
          -webkit-font-smoothing: antialiased;
          user-select: none;
        }
        tspan.material-icons.small {
          font-size: 10px;
        }
        g {
          cursor: pointer;
        }
      </style>
      <defs>
        <marker id="arrowhead" markerWidth="10" markerHeight="10" refX="0" refY="5" orient="auto">
          <polygon points="-5 0, 5 5, -5 10" fill="#424242"/>
        </marker>
        <marker id="arrowhead-selected" markerWidth="10" markerHeight="10" refX="0" refY="5" orient="auto">
          <polygon points="-5 0, 5 5, -5 10" fill="#3F51B5"/>
        </marker>
      </defs>

      <!-- Liens non sélectionnés -->
      <g *ngFor="let link of links; index as i" (click)="selectForEdition(i)" (mousedown)="$event.stopPropagation()">
        <ng-container *ngIf="i !== selectedLink && getPathStringBetween(link.from, link.to, link.anchorFrom, Anchor.Top) as line">
          <path [attr.d]="line.path"
                stroke="#424242" fill="none" stroke-width="2px"
                marker-end="url(#arrowhead)"></path>
        </ng-container>
      </g>

      <!-- Lien sélectionné -->
      <ng-container *ngIf="!(['edit-from','edit-to'].includes(state)) && links[selectedLink] as selectedLinkObj">
        <ng-container *ngIf="getPathStringBetween(selectedLinkObj.from, selectedLinkObj.to, selectedLinkObj.anchorFrom, Anchor.Top) as line">
          <path [attr.d]="line.path"
                stroke="#3F51B5" fill="none" stroke-width="2px"
                marker-end="url(#arrowhead-selected)"></path>
          <g>
            <circle r="17.5" fill="#3F51B5" [attr.cx]="line.center.x" [attr.cy]="line.center.y"></circle>
            <text [attr.x]="line.center.x - 12.5" [attr.y]="line.center.y + 12.5">
              <tspan class="material-icons" fill="white">edit</tspan>
            </text>
            <g (click)="requestState.emit('edit-from')">
              <circle r="10" fill="#FF4081" [attr.cx]="line.start.x" [attr.cy]="line.start.y"></circle>
              <text [attr.x]="line.start.x - 5" [attr.y]="line.start.y + 5">
                <tspan class="material-icons small" fill="white">anchor</tspan>
              </text>
            </g>
            <g (click)="requestState.emit('edit-to')">
              <circle r="10" fill="#FF4081" [attr.cx]="line.end.x" [attr.cy]="line.end.y"></circle>
              <text [attr.x]="line.end.x - 5" [attr.y]="line.end.y + 5">
                <tspan class="material-icons small" fill="white">anchor</tspan>
              </text>
            </g>
          </g>
        </ng-container>
      </ng-container>

      <!-- Lien en cours de création (linking-to) -->
      <ng-container *ngIf="state === 'linking-to' && selectedNode >= 0 && selectedAnchor && getPathStringBetween(nodes[selectedNode], mousePosOffsetted, selectedAnchor, Anchor.Top) as line">
        <path [attr.d]="line.path" stroke="#424242" fill="none" stroke-width="2px"></path>
      </ng-container>

      <!-- Lien en cours d'édition (edit-to) -->
      <ng-container *ngIf="state === 'edit-to' && getPathStringBetween(links[selectedLink].from, mousePosOffsetted, links[selectedLink].anchorFrom, Anchor.Top) as line">
        <path [attr.d]="line.path" stroke="#3F51B5" fill="none" stroke-width="2px"></path>
      </ng-container>

      <!-- Lien en cours d'édition (edit-from) -->
      <ng-container *ngIf="state === 'edit-from' && getPathStringBetween(mousePosOffsetted, links[selectedLink].to, Anchor.Top, links[selectedLink].anchorTo) as line">
        <path [attr.d]="line.path" stroke="#3F51B5" fill="none" stroke-width="2px"
              marker-end="url(#arrowhead-selected)"></path>
      </ng-container>
    </svg>
  </div>

  <!-- Affichage des nœuds -->
  <div class="full boundary">
    <app-workflow-node
      class="dragelement"
      *ngFor="let node of nodes; index as i"
      cdkDrag
      (cdkDragMoved)="mv(node, $event)"
      [style.top.px]="node.position.y"
      [style.left.px]="node.position.x"
      [node]="node"
      [state]="state"
      [selected]="i === selectedNode"
      (mousedown)="$event.stopPropagation()"
      (linkToMe)="finishCreateLink(i, $event)">
    </app-workflow-node>
  </div>
</div>
