.codeblock  {
    width: 100%;

    textarea {
        resize: none;
        font-family: 'Roboto Mono', monospace;
    }
}

.fullo {
    width: 100%;
}

.bg {
    background-color: #dddddd77;
    border-radius: 8px;
}