<div class="holder">
    <app-toggling-button
        [enabledIcon]="'expand_less'"
        [disabledIcon]="'expand_more'"
        [baseState]="big_disp"
        (toggle)="big_disp = $event"
        [disabled]="false"
    ></app-toggling-button>
    <mat-form-field>
        <input matInput placeholder="id" [value]="obj.id" (change)="obj.id = $event.target.value">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="label" [value]="obj.label" (keyup)="obj.label = $event.target.value">
    </mat-form-field>
    <div class="icon-preview">
        <mat-icon>{{obj.icon}}</mat-icon>
    </div>
    <mat-form-field class="smolfield">
        <input matInput placeholder="icon" [value]="obj.icon" (keyup)="obj.icon = $event.target.value">
        <a  matSuffix href="https://fonts.google.com/icons?icon.set=Material+Icons" target="_blank">
            <mat-icon class="halp">help</mat-icon>
        </a>
    </mat-form-field>
    <mat-form-field class="longfield">
        <input matInput placeholder="controller"
        [(ngModel)]="obj.controller"
        (keyup)="tap($event.target.value)"
        [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions" [value]="option">
            {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="longfield">
        <input matInput placeholder="description" [value]="obj.description" (keyup)="obj.description = $event.target.value">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="obj.confirm">confirm</mat-checkbox>
    <mat-checkbox [(ngModel)]="obj._has_access" (ngModelChange)="changeBigDispBy(obj._has_access)">restrict access</mat-checkbox>
    <mat-checkbox *ngIf="obj._domainable" [(ngModel)]="obj._has_domain">visibility</mat-checkbox>

    <button mat-button (click)="show_custom_params()"><mat-icon>settings</mat-icon>params</button>

    <button mat-icon-button (click)="deleteme()"><mat-icon>delete</mat-icon></button>

    <!-- CONDITIONAL DISP PART --->
    <div *ngIf="big_disp">
        <div *ngIf="obj._has_access">
            <app-access-editor
                [obj]="obj.access"
                [groups]="groups"
            ></app-access-editor>
        </div>
        <div *ngIf="obj._has_domain">
            <app-property-domain-component
                [value]="obj.visible.dom"
                [name]="'oui'"
                [class]="entity"
                (valueChange)="obj.visible.dom = $event"
            ></app-property-domain-component>
        </div>
    </div>
</div>