<div class="full margin-container">
    <div class="controller-container-top">
      <h2 class="viewname">Component Statistics</h2>
      <br>
      <div class="flex-labels">
        <label class="viewname">
          Total {{ component_type ? (component_type.charAt(0).toUpperCase() + component_type.slice(1)) : 'Components' }}:
        </label>
        <label class="viewname accent">{{ total_count$ | async }}</label>
      </div>
    </div>

    <div class="info-section" *ngIf="envData$ | async as envData">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Environment
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let entry of objectEntries(envData)" class="info-item">
            <div class="variable">
              {{ entry.key }}
            </div>
            <div class="value">
              <ng-container *ngIf="!isUrl(entry.value)">
                {{ entry.value }}
              </ng-container>
              <a *ngIf="isUrl(entry.value)" [href]="entry.value" target="_blank">
                {{ entry.value }}
              </a>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="app-logo" *ngIf="envData$ | async as envData">
      <img *ngIf="envData.app_logo_url" [src]="envData.app_logo_url" alt="App Logo" />
    </div>
  </div>
