
<div class="app-inner-header">
    <app-inner-header
            [customButton]="true">
        <label class="solo">All components</label>
    </app-inner-header>
</div>


<div class="app-inner-body">

    <div class="left_pane">

        <search-mixed-list
                class="package"
                [node_selected]="selectedComponent"
                (selectNode)="selectNode($event)"
                (refresh)="refresh()">
        </search-mixed-list>

    </div>

    <div *ngIf="!selectedComponent" class="right_pane">
        (select a component)
    </div>

    <div *ngIf="selectedComponent" class="right_pane">

        <ng-container *ngIf="selectedComponent.type == 'package' || selectedComponent.type == ''">
            <info-package
                    [package]="selectedComponent"
                    [package_init_list]="initialized_packages"
                    (onModelClick)="onClickModels()"
                    (onControllerClick)="onClickControllers()"
                    (onViewClick)="onClickView()"
                    (onRouteClick)="onClickRoute()"
                    (onIDClick)="onClickInitData()"
                    (onIDDClick)="onClickInitDemoData()">
            </info-package>
        </ng-container>

        <ng-container *ngIf="selectedComponent.type === 'class'">
            <info-model
                    [model]="selectedComponent"
                    (changeStep)="onChangeStepModel($event)"
                    (getRef)="goTo($event)">
            </info-model>
        </ng-container>

        <ng-container *ngIf="selectedComponent.type == 'do' || selectedComponent.type == 'get'">
            <info-controller
                    [controller]="selectedComponent"
                    [fetch_error]="fetch_error"
                    [selected_package]="selectedComponent.package ? selectedComponent.package : ''"
                    [moving]="true"
                    (goto)="goTo({name:$event})"
                    (navigate)="controllerNav($event)">
            </info-controller>
        </ng-container>

        <ng-container *ngIf="selectedComponent.type === 'route'">
            <info-route
                    [route]="selectedComponent"
                    (redirect)="goTo({name:$event})">
            </info-route>
        </ng-container>

        <ng-container *ngIf="selectedComponent.type === 'view'">
            <info-view
                    [view]="selectedComponent"
                    (goto)="onViewEditClick()"
                    (translations)="onViewTranslationClick()">
            </info-view>
        </ng-container>

        <ng-container *ngIf="selectedComponent.type === 'menu'">
            <info-menu
                    [menu]="selectedComponent">
            </info-menu>
        </ng-container>

    </div>

</div>
