<!-- Step for class -->
<div class="noscroll" *ngIf="!loading">
    <div class="max-height step">
        <div class="title-container">
            <button (click)="getBack()" mat-icon-button matTooltip="Primary" color="primary" aria-label="Go back">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <mat-label>{{ selected_package }}</mat-label><mat-label class="model-label"><mat-icon>route</mat-icon>Models</mat-label>
        </div>
        <mat-grid-list cols="4" class="max-height">
            <!-- Class search list, on the left of the screen -->
            <mat-grid-tile colspan="1" class="max-height">
                <app-search-list class="max-height max-width"
                    [data]="routes_for_selected_package"
                    [selected_node]="selected_route"
                    (nodeSelect)="onclickClassSelect($event)"
                    (nodeUpdate)="onupdateClass($event)"
                    (nodeDelete)="ondeleteClass($event)"
                    (nodeCreate)="oncreateClass()">
                </app-search-list>
            </mat-grid-tile>
            <!-- Class content -->
            <mat-grid-tile colspan="3" class="max-height max-width" id="schema">
                <app-route-info  *ngIf="selected_route!==''" class="approuteinfo"
                    [current_route]="this.real_name[selected_route]"
                    [route_info]="routelist[selected_route]"
                ></app-route-info>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div> 
<!-- Step for field -->
