<div>
    <label class="subpart-title">Groups (</label>
    <label class="subpart-title accent">{{groups_scheme.length}}</label>
    <label class="subpart-title">)</label>
</div>
<div *ngFor="let i of obk(groups_scheme)">
    <label class="subpart-title accentcolor">{{groups_scheme[i]['label'] ? groups_scheme[i]['label']  : "group_"+i}} : </label>
    <label class="subpart-title accent">{{groups_scheme[i]['sections'].length}}</label>
    <label class="subpart-title"> {{groups_scheme[i]['sections'].length > 1 ? "Sections" : "Section"}}</label>
    <div class="indent">
        <div *ngFor="let section of obk(groups_scheme[i]['sections'])">
            <label class="subpart-title accentcolor">
                {{
                    groups_scheme[i]['sections'][section]['label'] ?
                    groups_scheme[i]['sections'][section]['label'] :
                    "section_"+section
                }} : 
            </label>
            <label class="subpart-title accent">{{groups_scheme[i]['sections'][section]['rows'].length}} </label>
            <label class="subpart-title">{{groups_scheme[i]['sections'][section]['rows'].length > 1 ? "Rows" : "Row"}}</label>
            <div class="indent">
                <div *ngFor="let row of obk(groups_scheme[i]['sections'][section]['rows'])">
                    <label class="subpart-title accentcolor">
                        {{ "row_"+row }} : 
                    </label>
                    <label class="subpart-title accent">{{groups_scheme[i]['sections'][section]['rows'][row]['columns'].length}} </label>
                    <label class="subpart-title">{{groups_scheme[i]['sections'][section]['rows'][row]['columns'].length > 1 ? "Columns" : "Column"}}</label>
                    <div class="indent">
                        <div *ngFor="let col of obk(groups_scheme[i]['sections'][section]['rows'][row]['columns'])">
                            <label class="subpart-title accentcolor">
                                {{ "column_"+col }} :
                            </label>
                            <div class="indent">
                                <label class="subpart-title accent">
                                    list :
                                </label>
                                <app-item-viewer
                                    [item_scheme]="groups_scheme[i]['sections'][section]['rows'][row]['columns'][col]['items']"
                                >
                                </app-item-viewer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

