@import '/src/theme.scss';

.subpart-title {
    font-size: 1.1em;
}

.accent {
    color: mat-color($maincolor);
}

.accentcolor {
    color : mat-color($accentcolor)
}

.indent {
    margin : .3em;
    padding: .5em;
    margin-left: 2em;
    border : solid #ddd 1px;
    border-radius: 1em;
}