<app-toggling-button
        [enabledIcon]="'expand_less'"
        [disabledIcon]="'expand_more'"
        [baseState]="header_action_visible"
        (toggle)="header_action_visible = $event"
        [disabled]="!obj._has_actions">
</app-toggling-button>
<mat-slide-toggle [(ngModel)]="obj._has_actions"></mat-slide-toggle>
<label [style.opacity]="obj._has_actions ? 1 : 0.6" class="category-title maincolor">Actions </label>

<div *ngIf="header_action_visible && obj._has_actions" class="indent">
    <app-header-actions
        [h_scheme]="obj"
        [controllers]="action_controllers"
        [groups]="groups"
        [entity]="entity"
    ></app-header-actions>
</div>
<div *ngIf="type==='list'">
    <app-toggling-button
        [enabledIcon]="'expand_less'"
        [disabledIcon]="'expand_more'"
        [baseState]="header_selection_action_visible"
        (toggle)="header_selection_action_visible = $event"
        [disabled]="!obj.selection._has_selection_actions"
    ></app-toggling-button>
    <label [style.opacity]="obj.selection._has_selection_actions ? 1 : 0.6" class="category-title maincolor">Selection Actions </label>
    <mat-slide-toggle [(ngModel)]="obj.selection._has_selection_actions"></mat-slide-toggle>
    <br>
    <div *ngIf="header_selection_action_visible" class="indent">
        <mat-checkbox [(ngModel)]="obj.selection.default">Default controller</mat-checkbox>
        <div *ngIf="obj.selection.default">
            <label>Default Actions</label>
            <div *ngFor="let act of obk(obj.selection.predef_actions)">
                <label>{{act}}</label>
                <mat-checkbox [(ngModel)]="obj.selection.predef_actions[act].visible">visible</mat-checkbox>
            </div>
        </div>
        <br>
        <label>Custom Actions</label>
        <br>
        <app-actions-container
            [label]="'Edit Selection Actions'"
            [acts]="obj.selection.actions"
            [controllers]="action_controllers"
            [groups]="groups"
            [entity]="entity"
        ></app-actions-container>
    </div>
</div>
