<div class="list-container">
    <mat-form-field class="filter-input">
      <mat-icon matPrefix>filter_list</mat-icon>
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Search..." [formControl]="filterControl" />
    </mat-form-field>

    <ng-container *ngIf="filteredList.length > 0; else noItems">
      <mat-nav-list>
        <mat-list-item
          *ngFor="let item of filteredList; let i = index"
          (click)="onClickItem(item)"
          [class.selected]="selectedItem?.key === item.key">
          <mat-icon class="item-icon">{{icon}}</mat-icon>
          <span class="item-key">{{ item.key }}</span>
        </mat-list-item>
      </mat-nav-list>
    </ng-container>

    <ng-template #noItems>
      <p class="no-items">No items found</p>
    </ng-template>
  </div>
