<div class="list-container">
    <div class="add-item-container">
        <mat-form-field class="input add-item">
            <mat-label>Enter item name</mat-label>
            <input matInput [(ngModel)]="newItemName" placeholder="Enter name">
        </mat-form-field>
        <button mat-button color="primary" (click)="onAddItem()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-form-field class="input search-bar">
        <mat-icon matPrefix class="icon">filter_list</mat-icon>
        <input matInput placeholder="Search..." [formControl]="filterControl">
    </mat-form-field>

    <ng-container *ngIf="filteredList.length > 0; else noItems">
        <mat-list class="list scrollable">
            <mat-list-item *ngFor="let item of filteredList; let i = index"
                           (click)="onClickItem(item)"
                           [class.selected]="selectedItem?.key === item.key">
                <div class="node_container">
                    <mat-icon class="item-icon">{{icon}}</mat-icon>
                    <span class="item-key">{{ item.key }}</span>
                </div>
            </mat-list-item>
        </mat-list>
    </ng-container>

    <ng-template #noItems>
        <p class="no-items">No items found</p>
    </ng-template>
</div>
