
<div class="full">
    <app-in-header
        [buttonBack]="true"
        (onButtonBack)="getBack()"
    >
        <label class="package-label">{{ selected_package }}</label>_<label class="model-label"><mat-icon>code</mat-icon>Controllers</label>
    </app-in-header>
    <app-classic-layout>
        <app-search-list-controller list class="full" *ngIf="controllers"
            [data]="controllers"
            [selected_node]="selected_controller"
            (nodeSelect)="onclickControllerSelect($event)"
            (nodeUpdate)="onupdateController($event)"
            (nodeDelete)="ondeleteController($event)"
            (nodeCreate)="oncreateController($event)">
        </app-search-list-controller>
        <app-controller-info sidepane class="full"
            [current_controller]="selected_controller"
            [controller_type]="selected_type_controller"
            [scheme]="schema"
            [selected_package]="selected_package"
            [fetch_error]="fetch_error"
            (navigate)="controllerNav($event)"
        ></app-controller-info>
    </app-classic-layout>
</div>
