<div class="item">
    <div class="flex justify-between">
        <div>
            <div class="flex">
                <mat-form-field
                    title="Type of the item &#010; * field : display a value &#010; * label : display a string"
                >
                    <mat-label>type</mat-label>
                    <mat-select [(value)]="item.type" (valueChange)="update_has_field()">
                        <mat-option *ngFor="let item_type of types" value="{{item_type}}">{{item_type}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field 
                    *ngIf="item.valueIsSelect"
                    title="{{item.type === 'field' ? 'field' : 'string'}} to display"
                >
                    <mat-label>value</mat-label>
                    <mat-select [(value)]="item.value" (valueChange)="update_has_field()">
                        <mat-option *ngFor="let item of fields" value="{{item}}">{{item}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="!item.valueIsSelect">
                    <input matInput placeholder="value" [value]="item.value" (input)="item.value = $event.target.value">
                </mat-form-field>
                <mat-form-field class="percent-form">
                    <input matInput placeholder="item width" type="number" [value]="item.width" (input)="item.width = $event.target.value">
                    <label matSuffix>%</label>
                </mat-form-field>
                
                <mat-form-field class="ml1em">
                    <input [disabled]="item.type !== 'field'" matInput placeholder="custom label" [value]="item.label" (input)="item.label = $event.target.value">
                </mat-form-field>
            </div>
            <div  class="flex">
                <mat-checkbox [checked]="item.readonly" (change)="item.readonly = $event.checked">readonly</mat-checkbox>
                <mat-checkbox 
                    title="Add a boolean or a domain that tell if this item is displayed or not"
                    [checked]="item.has_domain" 
                    (change)="item.has_domain= $event.checked"
                >
                    visibility
                </mat-checkbox>
                <mat-checkbox 
                    title="Does this item has special properties &#010;(create a widget for this item)" 
                    [checked]="item.has_widget" 
                    (change)="item.has_widget= $event.checked"
                >
                    widget
                </mat-checkbox>
            </div>
        </div>
        <div *ngIf="displayDelete" class="deleter">
            <button mat-mini-fab (click)="onDelete()"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
    <!-- WIDGET -->
    <div *ngIf="item.has_widget" class="widget">
        <!-- LIST WIDGET -->
        <div *ngIf="item.viewtype === 0">
            <label class="sup-prop-title">
                Widget : 
            </label>
            <mat-checkbox 
                [checked]="item.widgetList.sortable"
                (change)="item.widgetList.sortable = $event.checked"
                title="[LIST ONLY] &#010;if checked, the end user will be able to sort the view by this item"
            >
                sortable
            </mat-checkbox>
            <mat-checkbox 
                [checked]="item.widgetList.link" 
                (change)="item.widgetList.link = $event.checked"
                title="if checked the item will have a link (behavior change with the type of field)"
            >
                link
            </mat-checkbox>
            <mat-form-field>
                <mat-label>type</mat-label>
                <mat-select [(value)]="item.widgetList.type">
                    <mat-option *ngFor="let item of equal_types" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="inputlong">
                <input matInput placeholder="values (splitted by semi-columns)" type="text" [value]="item.widgetList.values.toString().replaceAll(',',';')" (input)="item.widgetList.values = $event.target.value.split(';')">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Usage</mat-label>
                <input matInput [(ngModel)]="item.widgetList.usage" [matAutocomplete]="auto" (keyup)="filterUsage()">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let item of filtered_equal_usage" [value]="item">{{item}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <!-- FORM WIDGET -->
        <div *ngIf="item.viewtype === 1">
            <label class="sup-prop-title">
                Widget : 
            </label>
            <mat-checkbox 
                [checked]="item.widgetForm.link" 
                (change)="item.widgetForm.link = $event.checked"
                title="if checked the item will have a link (behavior change with the type of field)"
            >
                link
            </mat-checkbox>
            <mat-checkbox 
                [checked]="item.widgetForm.heading" 
                (change)="item.widgetForm.heading = $event.checked"
                title="if checked the item will appear bigger"
            >
                heading
            </mat-checkbox>
            <mat-checkbox 
                [disabled]="!_has_viewEnabled"
                [checked]="item.widgetForm._has_header" 
                (change)="set_has_header($event.checked)"
                title="[ASSOCIATIVE ONLY] &#010;this will override the header of the default list view for display in the form"
            >
                header
            </mat-checkbox>
            <mat-checkbox 
                [disabled]="!_has_viewEnabled"
                [checked]="item.widgetForm._has_view" 
                (change)="set_has_view($event.checked)"
                title="[ASSOCIATIVE ONLY] &#010;this will override the default view to display in the form"
            >
                view
            </mat-checkbox>
            <mat-form-field>
                <mat-label>type</mat-label>
                <mat-select [(value)]="item.widgetForm.type">
                    <mat-option *ngFor="let item of equal_types" [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="inputlong">
                <input matInput placeholder="values (splitted by semi-columns)" type="text" [value]="item.widgetForm.values.toString().replaceAll(',',';')" (input)="item.widgetForm.values = $event.target.value.split(';')">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Usage</mat-label>
                <input matInput [(ngModel)]="item.widgetForm.usage" [matAutocomplete]="auto" (keyup)="filterUsage()">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let item of filtered_equal_usage" [value]="item">{{item}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div *ngIf="item.widgetForm._has_view">
            <label class="sup-prop-title">
                View : 
            </label>
            <mat-form-field class="list-selector">
                <mat-select [(value)]="item.widgetForm.view" (valueChange)="set_has_view(item.widgetForm._has_view)">
                    <mat-option *ngFor="let key of obk(cachelist.lists)" value="{{key}}">{{cachelist.lists[key]}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="item.widgetForm._has_header">
            <app-header-editor
                [obj]="item.widgetForm.header"
                [type]="'list'"
                [entity]="entity"
                [groups]="groups"
                [action_controllers]="action_controllers"
            >
            </app-header-editor>
        </div>
    </div>
    <!--      -->
    <!-- DOMAIN -->
    <div *ngIf="item.has_domain" class="widget">
        <label class="sup-prop-title">Visibility : </label>
        <mat-radio-group [(ngModel)]="item.is_visible_domain">
            <mat-radio-button [value]="false">boolean</mat-radio-button>
            <mat-radio-button [value]="true">domain</mat-radio-button>
        </mat-radio-group>
        <br>
        <div *ngIf="item.is_visible_domain">
            <app-property-domain-component
            [value]="item.visible.dom"
            [name]="'oui'"
            [class]="entity"
            (valueChange)="item.visible.dom = $event"
            >
            </app-property-domain-component>
        </div>
        <div *ngIf="!item.is_visible_domain">
            <mat-checkbox [checked]="item.visible_bool" (change)="item.visible_bool= $event.checked">Visible</mat-checkbox>
        </div>
    </div>
    <!--       -->
</div>
