@import "/src/theme.scss";

.item {
    padding: 1em;
    background-color: ghostwhite;
    border-radius: .5em;
    width: auto;
}

mat-checkbox {
    margin-right: 1em;
}

.delete-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;

}

.widget {
    border: solid 1px #999;
    border-radius: 1em;
    padding: 1em;
    margin-top: .5em;
}

.inputlong {
    width: 35em;
}

.flex {
    display: flex;
}

.deleter {
    margin-left: 3em;
    margin-top: auto;
    margin-bottom: auto;
}

.sup-prop-title {
    color: mat-color($maincolor);
}

.ml1em {
    margin-left: 1em;
}

.percent-form {
    width: 6em;
}

.list-selector {
    width: 15em;
}

.justify-between {
    justify-content: space-between;
}