<app-popup-layout
    [okButton]="true"
    okButtonText="Save"
    (close)="dialogRef.close()"
    (ok)="dialogRef.close(editingRow)"
>
    <p>Edit row information</p>
    <mat-form-field>
        <input matInput placeholder="row.id" [value]="editingRow.id" (input)="editingRow.id = $event.target.value">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="row name" [value]="editingRow.label" (input)="editingRow.label = $event.target.value">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="editingRow._has_domain">visible domain</mat-checkbox>
    <div *ngIf="editingRow._has_domain">
        <app-property-domain-component
            [value]="editingRow.visible.dom"
            [name]="'oui'"
            [class]="data.package + '\\' + data.entity"
            (valueChange)="editingRow.visible.dom = $event"
        >
        </app-property-domain-component>
    </div>
</app-popup-layout>
