<app-popup-layout
    [okButton]="true"
    okButtonText="Save"
    (close)="dialogRef.close()"
    (ok)="dialogRef.close(editingSection)"
>
    <p>Edit section information</p>
    <mat-form-field>
        <input matInput placeholder="section_id" [value]="editingSection.id" (input)="editingSection.id = $event.target.value">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="section name" [value]="editingSection.label" (input)="editingSection.label = $event.target.value">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="editingSection._has_domain">visible domain</mat-checkbox>
    <div *ngIf="editingSection._has_domain">
        <app-property-domain-component
        [value]="editingSection.visible.dom"
        [name]="'oui'"
        [class]="data.package + '\\' + data.entity"
        (valueChange)="editingSection.visible.dom = $event"
        >
        </app-property-domain-component>
    </div>
</app-popup-layout>