/*
*   This file is used to handle theming.
*   You need to import it in your scss files when you are creating
*   a custom module to be able to call color variables.
*/

@import '@angular/material/theming';

@include mat-core();

$maincolor : mat-palette($mat-indigo);
$accentcolor : mat-palette($mat-pink, A200, A100, A400);
$warncolor : mat-palette($mat-red, A400);
$editedcolor : mat-palette($mat-deep-orange, A200);
$newcolor : mat-palette($mat-teal);

$color-theme : mat-light-theme($maincolor,$accentcolor,$warncolor);

@include angular-material-theme($color-theme);

.json-key {
    color : mat-color($accentcolor)!important;
}

.json-string {
    color : mat-color($maincolor)!important;
}

$package-color : mat-palette($mat-green);
$class-color : mat-palette($mat-orange);
$get-color : mat-palette($mat-blue);
$do-color : mat-palette($mat-blue);
$route-color : mat-palette($mat-red);
$view-color : mat-palette($mat-purple);
$menu-color : mat-palette($mat-pink);

$getcolor : #b0d7fe;
$putcolor : #fdd098;
$postcolor : #a4e5c7;
$deletecolor : #fc9e9f;

$getdiluted : #b0d7fe30;
$putdiluted : #fdd09830;
$postdiluted : #a4e5c730;
$deletediluted : #fc9e9f30;