<div *ngIf="current_controller ===''" class="max-height max-width margin-container">
    <label class="packagename">Select a controller to show properties.</label>
</div>
<div *ngIf="current_controller !==''" class="margin-container" style="height: 100%;">
    <div class="title-controller">
        <div class="flex-labels">
            <label class="packagename">Controller :</label>
            <label class="packagename accent">{{ current_controller }}</label>
            <label class="packagename accent-color">({{ controller_type.toUpperCase() }})</label>
        </div>
        <div>
            <label *ngIf="!fetch_error && scheme['deprecated']" class="depecrated">
                <mat-icon class="warnicon">warning</mat-icon>
                DEPRECATED : This controller is deprecated. It may be deleted in future update.
            </label>
        </div>
        <br>
        <div *ngIf="fetch_error">
            It looks like you don't have the rights to see this controller informations
        </div>

        <div *ngIf="!fetch_error">
            <label class="content-label">Description</label><br>
            <label class="content-desc">{{scheme['description']}}</label>
        </div>
    </div>
    <div class="core-prez">
        <div *ngIf="!fetch_error">
            <div *ngIf="AccessString !== undefined">
                <br>
                <label class="content-label">Access</label>
                <pre class="content-desc" [innerHTML]="AccessString"></pre>
            </div>
            <br>
            <label class="content-label">Request header</label>
            <pre class="content-desc" [innerHTML]="requestString"></pre>
            <br>
            <label class="content-label">params</label>
            <div class="params-container">
                <div *ngFor="let value of params | keyvalue" class="params-mat-card">
                    <div>
                        <p class="controller-param-title">{{value.key}} : {{getType(value.key)}} <strong *ngIf="isRequired(value.key)">(required)</strong></p>
                    </div>
                    <div>
                        <p>{{getDescription(value.key)}}</p>
                    </div>
                    <div class="flex">
                        <div class="flex card-content2">
                            <ng-container *ngIf="getType(value.key) == 'string'">
                                <app-string
                                    [value]="getParamsValue(value.key)"
                                    [required]="isRequired(value.key)"
                                    [selection]="getSelection(value.key)"
                                    (valueChange)="updateParamsValue($event, value.key)">
                                </app-string>
                            </ng-container>
                            <ng-container *ngIf="getType(value.key) == 'integer' || getType(value.key) == 'float'">
                                <app-number
                                    [value]="getParamsValue(value.key)"
                                    [required]="isRequired(value.key)"
                                    [selection]="getSelection(value.key)"
                                    [params_property]="value.value"
                                    (valueChange)="updateParamsValue($event, value.key)">
                                </app-number>
                            </ng-container>
                            <ng-container *ngIf="getType(value.key) == 'boolean'">
                                <app-boolean
                                    [value]="getParamsValue(value.key)"
                                    [required]="isRequired(value.key)"
                                    (valueChange)="updateParamsValue($event, value.key)">
                                </app-boolean>
                            </ng-container>
                            <ng-container *ngIf="getType(value.key) == 'array' && value.key != 'domain'">
                                <app-array
                                    [value]="getParamsValue(value.key)"
                                    (valueChange)="updateParamsValue($event, value.key)">
                                </app-array>
                            </ng-container>
                            <ng-container *ngIf="value.key == 'domain'">
                                <app-property-domain-component
                                    [value]="getParamsValue(value.key)"
                                    [class]="getEntity()"
                                    (valueChange)="updateParamsValue($event, value.key)">
                                </app-property-domain-component>
                            </ng-container>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <button mat-button class="action-controller-button" (click)="submit()" [disabled]="!canSubmit">
                <mat-icon class="action-controller-icon">upload</mat-icon>Submit action
            </button>
            <br><br>
            <div>
                <label class="content-label">cli command</label>
                <pre class="content-desc" [innerHTML]="cliCommand"></pre>
                <button mat-button class="action-controller-button" (click)="cpyCLI()" [disabled]="!canSubmit">
                    <mat-icon class="action-controller-icon">content_copy</mat-icon>Copy cli
                </button>
            </div>
            <br>
            <div>
                <label class="content-label">Base route</label>
                <pre class="content-desc" [innerHTML]="baseRoute"></pre>
                <button mat-button class="action-controller-button" (click)="cpyRequest()" [disabled]="!canSubmit">
                    <mat-icon class="action-controller-icon">content_copy</mat-icon>Copy http request
                </button>
            </div>
            <br>
            <div>
                <label class="content-label">Custom routes</label>
                <div *ngFor="let item of obk(filtered_routes)">
                    <a class="cr-click" [class.clickable]="moving" (click)="sendTo(item)">
                        <div *ngFor="let method of obk(filtered_routes[item]['methods'])" class="controller_cr">
                            <div class="controller_cr_el controller_cr_method {{method}}">
                                {{method}}
                            </div>
                            <div class="controller_cr_el controller_cr_path">
                                {{item}}
                            </div>
                            <div class="controller_cr_el controller_cr_desc">
                                {{filtered_routes[item]['methods'][method]['description']}}
                            </div>
                        </div>
                    </a>
                    <br>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="class-container-bottom">
        <mat-grid-list [cols]="4" rowHeight="100%" class="max-width button-pkg-container">
            <mat-grid-tile>
                <button mat-button class="package-info-button" (click)="nav(1)"><mat-icon>text_format</mat-icon><label>Params</label></button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-button class="package-info-button" (click)="nav(2)"><mat-icon>translate</mat-icon><label>Translations</label></button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>