@import '/src/theme.scss';

:host {
    height: 100%;
    width: 100%;
}

.margin-container {
    margin: 1em;
    padding: 2em;
    border-radius: 10px;
    background-color: whitesmoke;
}

.flex-labels label {
    margin-right: 0.5em;
}

.packagename {
    font-size: 1.5em;
}

.packagename.accent {
    color: mat-color($maincolor);
}

.warncolor {
    color: mat-color($warncolor)
}

.newcolor {
    color: mat-color($newcolor)
}

.lineflex {
    display: flex;
    align-content: center;
    align-items: center;
}

.lineflex mat-icon {
    margin-right: .25em;
}

.package-info-button {
    color : mat-color($maincolor) !important;
    background-color:  #e4e4e4 !important;
    min-width: 20em;
    height: 4em;
}

.package-info-button label {
    font-size: 1.1em;
}

.package-info-button mat-icon {
    margin-right: 1em;
    transform: scale(1.2);
}

.color-red {
    color : mat-color($warncolor)
}

.color-orange {
    color : mat-color($editedcolor)
}

.scroll {
    overflow-y: scroll;
}

.limited_size {
    margin-top: 2em;
    max-height: 50%;
    font-size: .9em;
}  

.content-label {
    font-size: 1.3em !important; 
}

.content-desc {
    font-size: .9em;
    border-radius: 5px;
}

.controller-container-top {
    height: 75%;
    overflow-y: scroll;
}

.controller-container-bottom {
    height: 25%;
}

.params-container {
    padding: 1em;
    background-color: ghostwhite;
    border: 1px solid silver;
}

.controller-container-spacer {
    height: 2em;
}

.action-controller-button {
    color : mat-color($maincolor);
    background-color:  #e4e4e4;
    margin-right: 1em;
    width: 15em;
    height: 3.25em;
}

.action-controller-icon {
    margin-right: .5em;
}

.controller-param-title {
    color : mat-color($maincolor);
    font-size : 1em;
}

.accent-color {
    color : mat-color($accentcolor)
}

.json-key {
    color : mat-color($accentcolor)!important;
}

.json-string {
    color : mat-color($maincolor)!important;
}