@import "/src/theme.scss";

:host {
    .item {
        padding: 1em;
        border-radius: .5em;
        width: auto;

        .flex {
            display: flex;

            &.justify-between {
                justify-content: space-between;
            }

            mat-form-field {
                &.percent-form {
                    width: 6em;
                }

                &.ml1em {
                    margin-left: 1em;
                }
            }

            mat-checkbox {
                margin-right: 1em;
            }
        }

        .deleter {
            transform: scale(0.7);
            margin-left: 3em;
            margin-top: auto;
            margin-bottom: auto;
        }

        .widget {
            border: solid 1px #999;
            border-radius: 1em;
            padding: 1em;
            margin-top: .5em;

            .sup-prop-title {
                color: mat-color($maincolor);
            }

            mat-checkbox {
                margin-right: 1em;
            }

            mat-form-field {
                &.list-selector {
                    width: 15em;
                }
            }
        }
    }
}