@import '/src/theme.scss';

:host {
    width: 100%;
    height: 100%;
}

.margin-container {
    padding: 2em;
    border-radius: 8px;
    background-color: whitesmoke;
    height: calc(100% - 2em);
}

.flex-labels label {
    margin-right: 0.5em;
}

.viewname {
    font-size: 1.5em;
}

.accent {
    color: mat-color($maincolor);
}

.view-info-button {
    color : mat-color($maincolor) !important;
    background-color:  #e4e4e4 !important;
    min-width: 20em;
    height: 4em;
}

.view-info-button label {
    font-size: 1.1em;
}

.view-info-button mat-icon {
    margin-right: 1em;
    transform: scale(1.2);
}

.subpart-title {
    font-size: 1.3em;
}

.controller-container-top {
    height: 87.5%;
    overflow-y: scroll;
}

.controller-container-bottom {
    height: 12.5%;
}
