.marginright1em {
    margin-right: 1em;
}

.key-header-actions {
    display: inline-block;
    width: 15em;
}

.disabled {
    opacity: .5;
}

.indent {
    margin-left: 1em;
}

.inline {
    display: inline-block;
}