<app-inner-header [buttonBack]="true"
(onButtonBack)="goBack()"
[buttonSave]="true"
(onButtonSave)="save()"
[buttonSaveDisabled]="isSaving"
[buttonCancel]="true"
(onButtonCancel)="cancel()"
[buttonCancelDisabled]="(buttonStateService.buttonsState$ | async)?.cancel || false"
[customButton]="true"
[customButtonList]="[{icon:'bug_report', name:'Show JSON', disabled:false}]"
(onCustomButton)="customButtonBehavior($event)">
<div class="header-labels">
  <label>Actions of </label><label class="component-color-package colorized">{{package_name}}</label><label class="separator">\</label><label class="component-color-class colorized">{{model_name}}</label>
</div>
  </app-inner-header>

  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
    <label>Loading...</label>
  </div>


  <app-classic-layout *ngIf="!loading">

        <app-generic-list *ngIf="(actions$ | async) as actions;else loadingTemplate" list
            [type_item]="'actions'"
            [itemList]="actions | keyvalue"
            [selectedItem]="selectedAction"
            [icon]="'play_arrow'"
            (select)="onselectAction($event)"
            (addItem)="addAction($event)"
            (deleteItem)="ondeleteAction($event)"
            (onrefresh)="refreshAction()"
            [loading]="loadingState.actions">
        </app-generic-list>

        <ng-template #loadingTemplate list>
            <div class="loading-container">
              <mat-spinner></mat-spinner>
              <label>Loading actions...</label>
            </div>
          </ng-template>

        <info-actions *ngIf="selectedAction" sidepane
        [action]="selectedAction"
        [package_name]="package_name"
        [model_name]="model_name"
        [availablePolicies]="(availablePolicies$ | async) || [] "
        (onrefresh)="refreshPolicies()"></info-actions>

  </app-classic-layout>


