
<div *ngIf="viewSchema" class="info-view-container">
    <app-info-header
            [titleLabel]="'View'"
            [title]="viewSchema['name'] || view.name"
            [copyText]="viewSchema['name'] || view.name"
            [description]="viewSchema['description']"
            [metaData]="metaData"
            (editClick)="onclickEdit()"
            (translationClick)="onclickTranslations()">
        </app-info-header>
    <div class="info-body-section">
        <hierarchical-overview [viewSchema]="viewSchema"></hierarchical-overview>
    </div>
    <!--
    <div class="info-footer-section">
        <mat-grid-list [cols]="4" rowHeight="5.5em" class="button-pkg-container">
            <mat-grid-tile>
                <button mat-flat-button class="view-info-button" (click)="onclickEdit()">
                    <mat-icon>edit</mat-icon>
                    <label>Edit</label>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-flat-button class="view-info-button disabled" (click)="onclickTranslations()">
                    <mat-icon>translate</mat-icon>
                    <label>Translations</label>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    -->
</div>