:host {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;

    div {
        padding: 30px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .left_pane {
        flex: 0 1 400px;
        max-width: 400px;
    }

    .right_pane {
        flex: 1;
    }

}
